@font-face {
  font-family: 'Maybebold';
  src: url('../fonts/maybe/maybe-bold-webfont.eot');
  src: url('../fonts/maybe/maybe-bold-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/maybe/maybe-bold-webfont.woff') format('woff'), 
  url('../fonts/maybe/maybe-bold-webfont.ttf') format('truetype'), 
  url('../fonts/maybe/maybe-bold-webfont.svg#maybebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	height: 100%;
}
body{
	height: 100%;
	background: url(../images/bg.jpg);
	background-size: cover;
	margin: 0;
}

header{
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0;
	background: url(../images/header-01.png) 10px bottom;
}
	header div{
		height: 70px;
		background: url(../images/header-02.png) bottom;
	}

footer{
	position: absolute;
	height: 15%;
	width: 100%;
	bottom:0px;
	z-index: 3;
	background: #000;
	color: #fff;
	text-align: center;
	display: table;
}
footer div{
	background: url(../images/footer.png);
	height: 60px;
	position: absolute;
	top: -60px;
	width: 100%;
}

footer span{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	font: 30px Arial;
}

section{
	position: absolute;
	width: 100%;
	height: 200px;
	margin-top: -100px; 
	top: 50%;
	text-align: center;
	font-family: 'Maybebold';

}



h2{
	color: #f33;
	font-weight: normal;
	font-size: 30px;
}

h3{
	font-weight: normal;
	font-size: 22px;
	color: #333
}