
section.main .crossover{
     background: #686e8b url(img/bg.jpg) center;
     background-size: cover;

     &:before{
          content: '';
          background: url(img/pattern-overlay.png);
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
     }

     .container{
          position: relative;
          z-index: 3;
     }
     .copy{
         margin: 100px auto ;
          max-width: 700px;
          text-align: center;
          color: #fff;

          p{
               font-size: 40px;
               font-family: 'Maybebold';
               margin: 20px 0;
          }

          .watch{
               display: table;
               margin: 30px auto 50px;

              #play-trailer{
                    padding: 15px;
                    width: 75px;
                    height: 75px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    border: solid 2px #c00;
                    margin: 0px 20px;
                    vertical-align: middle;
                    display: table-cell;

                    &:before{
                         content: '';
                         display: block;
                         border: solid #fff;
                         border-width: 17px 0 17px 30px;
                         border-top-color: transparent;
                         border-bottom-color: transparent;
                         margin-left: 9px;
                    }
              }

              span{
                    font: 24px 'Maybebold';
                    display: table-cell;
                    vertical-align: middle;
              }
          }
     }
     .heading img{
          max-width: 100%;
     }

     .soon{
         font: 92px 'Maybebold';
     }
}

.lytebox.crossover{
     background: rgba(0, 0, 0, 0.8);

     .popup{
          box-shadow: none;
          background: #000;
          border-radius: 0;
          height: 100%;
          width: 100%; 
          max-width: 800px;
          &:before,&:after{
               display: none;
          }

          .popup-close span{
               top: 3px;
          }
     }

     .lytebox-content{
          height: 55%;
     }

     
     video{
          margin: 0 auto;
          display: block;
          height: 100%;
          width: 100%;
          max-height: 100%;
          max-width: 100%;
     }
}

@media(max-width: 767px){
     section.main .crossover{
          
          .copy{
               margin: 50px auto;
               p{
                    font-size: 30px;
               }
          }
}
}