<div class="popup">
	<div class="content txtcenter">
		<button class="popup-close">&times;<span>CLOSE</span></button>
		<br>

		<h2>CONGRATULATIONS!</h2>
		<h3>YOU HAVE FOUND THE HIDDEN MARLBORO AND GOT ONE POINT!</h3>
		<h3>YOUR NEW POINT WILL BE REFLECTED IN THE COUNTER</h3>
	</div>
</div>