<div class="popup">
	<div class="content txtcenter">
		<button class="popup-close">&times;</button>
		<h2>UPLOAD YOUR VALID GOVERNMENT-ISSUED ID</h2>
		<small>Only pdf, jpg, png and gif formats will be accepted</small>
		<br><br>
		
		<input type="file" class="m-auto">

		<br><br>
		<button class="button"><i>SUBMIT</i></button>

	</div>
</div>