<div class="popup">
	<div class="content ">
		<button class="popup-close">&times; <span>CLOSE</span></button>
		
		
		<h2>Privacy Statement and Consent</h2>
		<div class="scrollable">
			<p>We at PMFTC Inc. (“PM”) respect the privacy of our consumers. We are committed to appropriately safeguarding personal information that you provide to us when you visit and use this Website (the “Website”). This section includes a description of the types of personal information we collect via the Website and your consent on how we can use it. It also describes the measures we take to protect the security of the information and how you can contact us.</p>

			<h4>Information We Collect and How We Use It</h4>

			<p>In order to be able to sign up to the Website you must be at least 18 years of age and you must provide us with personal information, such as smoking status, name, age, country of residence and e-mail address/telephone number, to enable us to verify your eligibility to be granted access to the Website. When you visit the Website, your browser automatically sends us an IP (Internet Protocol) address and certain other information (such as the type of browser you use). In addition, we may monitor and/or register your activities on the Website, including your submissions to the forum, if any. However, we do not use client-side cookies to store your personal and access information.</p>

			<h4>Consent of use</h4>

			<p>
			You acknowledge and give consent to PM to:
				<ol>
				    <li>store and use your personal information mentioned under the previous section to allow PM to verify your age and compliance with PMI internal policies, and/or contact you;</li>
				    
				    <li>provide you with, using any means (mail, email, SMS, etc.), communications related to tobacco products, including but not limited to information and material on brand launches, packaging changes, events, marketing activities and/or the regulation of tobacco products, to the extent permitted under applicable laws;</li>
				    
				    <li>process your personal information in countries other than the country in which you live (for example, locating the database in one country and accessing the database remotely from another); and
				    store and use your personal information mentioned under the previous section to allow PM to verify your age and compliance with PMI internal policies, and/or contact you;</li>
				    
				    <li>provide you with, using any means (mail, email, SMS, etc.), communications related to tobacco products, including but not limited to information and material on brand launches, packaging changes, events, marketing activities and/or the regulation of tobacco products, to the extent permitted under applicable laws;</li>
				    
				    <li>process your personal information in countries other than the country in which you live (for example, locating the database in one country and accessing the database remotely from another); and</li>
				    
				    <li>disclose your personal information to PM’s service providers for the above purposes, to a PM affiliate to do the above for its own purposes and (if required by law) to authorities. PM may not disclose your personal information to third parties for other purposes.</li>

			    </ol>
			</p>
			
			<h4>How We Protect Personal Information</h4>

			<p>The security of personal information is a high priority for us.We maintain appropriate administrative, technical and physical safeguards designed to protect against unauthorized disclosure, use, alteration and destruction of the personal information that is provided to us when you visit and use the Website. We use secure socket layer (SSL) and digital certificate encryptions and technologies to keep the transmission of your personal information secure.</p>

			<h4>How to Contact Us</h4>

			<p>For any questions you may have about this Privacy Statement you can contact our adult-restricted hotline at 895-9999 (Metro Manila) or 1-800-10-895-9999 (Provincial Toll-Free).</p>

			<h4>How to Unsubscribe from our Database</h4>

			<p>PM is committed to respecting and protecting your privacy. Unless otherwise provided, none of the information you provide will be sold or transferred to non-affiliated parties of PM without your consent. If you wish to withdraw your name from our database, please call our adult-restricted hotline 895-9999 (Metro Manila) or 1-800-10-895-9999 (Provincial Toll-Free) or text MLIST  &lt;FULL NAME&gt;, &lt;DATE OF BIRTH IN MM/DD/YYY&gt;, &lt;MESSAGE&gt; to 0908-895-9999 (For example: MLIST JUAN DELA CRUZ, 08/12/1982, HOW DO I GET OFF THE LIST? </p>
		</div>
	</div>
</div>