<div class="popup">
	<div class="content">
		<button class="popup-close">&times; <span>CLOSE</span></button>

		<h2>terms and conditions</h2>
		<div class="scrollable">
			<p>This website (the &ldquo;Website&rdquo;) is owned and operated by or on behalf of <span class="caps">PMFTC </span>Inc. (&ldquo;PM&rdquo;) based in the Philippines for verified adult smokers who have been provided with a personal username and password of access. In the course of logging onto the Website, you will have been asked to read and agree to these Terms and Conditions. Therefore, by logging onto the Website, you will be assumed to have read and agreed to these Terms and Conditions.</p>
			<h4>Website Users</h4>
			<p>The Website is intended for verified adult smokers who have been provided with a username and password for access. Your username and password are strictly personal and must not be shared with anyone else.</p>
			<h4>Use of the Website and Materials</h4>
			<p>The Website and all its contents (including but not limited to messages posted on the forum, if any, software, files, graphics, data, images and other material) (&ldquo;Material&rdquo;) are the exclusive property of PM, its affiliates, and/or its licensors and are protected by the intellectual property laws of the Philippines as well as in other countries. The Website and the Material are provided solely for your personal use. Any other use of the Website or the Material, including but not limited to:</p>
			<ul>
			<li>using the Website or Materials for business purposes;</li>
			<li>distributing, sharing, copying, reproducing or publishing the Material; or</li>
			<li>modifying, distributing, transmitting, performing, broadcasting, reproducing, publishing, licensing, or reverse engineering parts or all of the Website,<br /> without the prior written permission of PM, is expressly prohibited.</li>
			</ul>
			<h4>Forum</h4>
			<p>To the extent the Website includes a forum that allows interaction between users, you are hereby made aware (i) that PM, its affiliates and/or representatives acting on their behalf regularly monitors the information posted on the forum by users, and (ii) that PM reserves the right (which may be exercised at their sole discretion without notice) to delete, remove, move or edit messages you have posted. PM and its affiliates also reserve themselves the right to terminate, or have terminated, your access to and use of the Website and/or forum at their sole discretion. You hereby waive any rights including any rights that you may have in regard to messages you have posted on this forum.<p>

			<p>Without limiting the right of PM to reject or remove any comment or message posted in the Website, any comment or message you post must&nbsp;not:</p>
			<ul>
				<li>contain contact information (i.e., phone numbers, etc.);</li>
				<li>contain swear words or other language likely to offend;</li>
				<li>be racist, sexist, sexually explicit, abusive or otherwise objectionable;</li>
				<li>break the law, or condones or encourages unlawful activity; or</li>
				<li>be otherwise unsuitable in any manner.</li> 
			</ul>

			<p>The comments made on the forum (or blog) shall focus on aspects unrelated to smoking and health. Smoking is dangerous and addictive. More information about this is available at:&nbsp;<a href="http://www.pmi.com/eng/our_products/health_effects_of_smoking/pages/ health_effects_of_smoking.aspx">http://www.pmi.com/eng/our_products/health_effects_of_smoking/pages/ health_effects_of_smoking.aspx</a></p>

			<p>Any comments made about smoking and health will be removed from the site.</p>

			<p>You acknowledge that you are solely responsible for any information, data, personal views or beliefs, or any material whatsoever that you submit for display on the forum, including the accuracy, legality, reliability and appropriateness of all such information, data, personal views or material. In posting messages on the forum, you must&nbsp;not:</p>
			

			<ul>
				<li>post, link or otherwise publish any messages containing any form of advertising or promotion for products or services, chain messages or "spam";</li>
				<li>post, link to or otherwise publish any messages with recommendations to buy or refrain from buying a particular security or which contain confidential information of another party or which otherwise have the purpose of affecting the price or value of any traded security;</li>
				<li>post, link to or otherwise publish any messages that are unlawful, threatening, discriminatory, abusive, libelous, indecent, infringe copyright or other rights of third parties or which contain any form of illegal content;</li>
				<li>disguise the origin of any message;</li>
				<li>impersonate any person or entity (including forum users or hosts) or misrepresent any affiliation with any person or entity;</li>
				<li>post or otherwise publish any messages unrelated to the forum;</li>
				<li>post or transmit any messages that contain software viruses, files or code designed to interrupt, destroy or limit the functionality of the Website or any computer software or equipment;</li>
				<li>collect or store other users' personal data; or</li>
				<li>restrict or inhibit any other user from using the forum.</li>
			</ul>


			<p>The forum may also contain messages from special guests invited by PM. The opinions of such guests are personal and do not necessarily represent the views of PM. Additionally, messages will be submitted by users over whom PM has no control. It is possible that some users will breach the above-listed rules, but PM has no responsibility in that regard. You acknowledge that PM cannot guarantee the accuracy, integrity or quality of the messages posted on the forum and that PM cannot be held liable for their contents. You also acknowledge that you bear all risk associated with your use of the forum and should not rely on messages in making (or refraining from making) any specific investment or other decisions.</p>
			<h4>Posting Developed Materials</h4>
			<p>You acknowledge, represent and warrant that all tangible and intangible materials, including texts, drawings, designs, photographs, videos, sketches, and all other materials and ideas, which you have posted on the Website (&ldquo;Developed Materials&rdquo;) are your original work for which you have the related intellectual property rights or work to which you have obtained exhaustive intellectual property rights. You also acknowledge, represent and warrant that such Developed Materials do not and will not infringe the intellectual property rights of any third party.</p>
			<p>You acknowledge and agree that by posting the Developed Materials on the Website you relinquish all rights to such Developed Materials and that such Developed Materials shall belong to <span class="caps">PM </span>(unless PM notifies you otherwise) and shall be subject to PM&rsquo;s and its designees&rsquo; unrestricted use.</p>
			<p>You acknowledge and agree that by posting Developed Materials on the Website, you automatically and irrevocably assign to PM all intellectual property rights therein, free and clear of any liens, claims or other encumbrances, to the fullest extent permitted by law, as from the date of creation of such Developed Materials and you waive any moral rights therein to the fullest extent permitted by law.</p>
			<p>All Developed Materials may be used, altered, duplicated and/or reproduced in all forms and for all media, whether known or unknown, including all electronic media, worldwide, by PM and its designees. You hereby agree to any alteration, modification or combination of any Developed Materials. PM may combine any Developed Materials with any other elements, information, materials, works or designs to which PM has or may obtain rights from any source. You acknowledge and agree that you shall not receive any form of compensation for use of the Developed Materials in any manner and waive any right to be named as the author of such Developed Materials.</p>
			<h4>Disclaimer</h4>
			<p>Your use of the Website is at your sole risk. The Website is provided on an &ldquo;as is&rdquo; and &ldquo;as available&rdquo; basis. PM and its affiliates expressly disclaim all warranties of any kind, whether express or implied, including but not limited to the implied warranties that the Website and Materials are non-infringing, accurate and appropriate; that access to the Website will be uninterrupted and error-free; that the Website will be secure; that the Website or the servers that make the Website available will be virus-free; or that information on the Website will be complete, accurate, appropriate and timely. If you download any Materials from the Website, you do so at your own discretion and risk. You will be solely responsible for any damage to your computer system or loss of data that results from the download of any such Materials. In addition to the above, you assume the entire cost of all necessary servicing, repair or correction.</p>
			<h4>Limitation of Liability</h4>
			<p>To the fullest extent permitted under applicable law, you understand and agree that neither PM nor any of its respective affiliates, subsidiaries or third party content providers shall be liable for any direct, indirect, incidental, special, exemplary, consequential, punitive or any other damages relating to or resulting from your use or inability to use the Website or from any actions we take or fail to take as a result of your communication with us. These include damages for errors, omissions, inaccuracies, interruptions, defects, delays, computer viruses, your loss of profits, loss of data, unauthorized access to and alteration of your transmissions and data, and other tangible and intangible losses.</p>
			<h4>Indemnification</h4>
			<p>You agree to indemnify, defend and hold harmless PM and any of its affiliates or subsidiaries, and its officers, directors, employees, agents, licensors and suppliers from and against all losses, liabilities, expenses, damages and costs, including reasonable attorneys&rsquo; fees and court costs, arising out of or resulting from any violation of these Terms and Conditions (including but not limited to negligent or wrongful conduct) by you or any other person accessing the Website using your username and password. If you cause a technical disruption of the Website or the systems transmitting the Website to you or others, you agree to be responsible for any and all losses, liabilities, expenses, damages and costs, including reasonable attorneys&rsquo; fees and court costs, arising or resulting from that disruption.</p>
			<h4>Jurisdiction and Governing Law</h4>
			<p>The laws of the Philippines govern these Terms and Conditions and your use of the Website, and you irrevocably consent to the exclusive jurisdiction of the courts located in Tanauan City, Batangas, for any action to enforce these Terms and Conditions. The Website has been designed to comply with the laws of the Philippines.</p>
			<h4>How to Contact Us</h4>
			<p>For any questions you may have about these Terms and Conditions you can contact our adult-restricted hotline at 895-9999 (Metro Manila) or 1-800-10-895-9999 (Provincial Toll-Free).</p>
		</div>
	</div>
</div>