.lytebox h1, .lytebox h2, .lytebox h3, .lytebox h4, .lytebox h5, .lytebox h6 {
    font-family: Maybebold;
}

.lytebox-buttons button {
    background: url(https://marlboro.ph/images/pattern-red.png) 0px -43px repeat-x;
    padding: 0px 2px;
    margin-right: 10px;
    margin-left: 10px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.button, .lytebox-buttons button {
    font-family: 'Maybebold';
    font-size: 22px;
    background: url(https://marlboro.ph/images/pattern-red.png) 0px -43px repeat-x;
    padding: 0px 2px;
    margin-right: 5px;
    margin-left: 5px;
    border: 0;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.button:before, .lytebox-buttons button:before, .button:after, .lytebox-buttons button:after {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    background: url(https://marlboro.ph/images/pattern-red.png) 0 0;
    background-repeat: no-repeat;
    height: 40px;
}

.lytebox-buttons button:after {
    background-position: -27px 2px;
    right: -4px;
}

.button i, .lytebox-buttons button i {
    font-style: normal;
    display: inline-block;
    margin: 0 auto;
    line-height: 40px;
    min-width: 80px;
    color: #fff;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

