html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: initial;
}

/* Registration page */

form.registration .registration-step-2, form.registration .registration-step-3 {
  color: #555;
  text-shadow: none;
}

form.registration  .required-fields {
  color: #7B0100;
  text-shadow: none;
}

section.register-layout form.registration .uc {
  font-family: Arial, Helvetica, sans-serif;
}

section.register-layout {
    background: url(../img/home-bg-alt.jpg) center top no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    /* color: #fff; */
    overflow: hidden;
}

section.register-layout:before {
  position: absolute;
  background: url(../img/cloth.png) 0 0 no-repeat;
  content: "";
  display: block;
  height: 1327px;
  width: 685px;
  left: -182px;
  top: -70px;
}

section.register-layout:after {
  position: absolute;
  background: url(../img/cloth.png) 0 0 no-repeat;
  content: "";
  display: block;
  height: 1327px;
  width: 685px;
  right: -182px;
  top: -70px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}


section.register-layout form.registration span.label-sub, section.register-layout span.ribbon i {
  color: #7B0100;
  text-transform: uppercase;
}

section.register-layout form.registration span.label-sub.light-red {
  color: #c00;
  text-transform: none;
}


section.register-layout form.registration .uc {
  font-weight: bold;
  color: #878888;
}


@media screen and (max-width: 1000px) {

  section.register-layout:before {
    display: none;
  }

  section.register-layout:after {
    display: none;
  }

}

section.register-layout .wrapper.registration {
    background: none;
    background-size: cover;
}

section.register-layout button i {
    height: auto;
    width: auto;
    padding: 0;
    line-height: 15px;
    font-size: 15px !important;
    background: 0 0;
}

section.register-layout button {
  height: 36px; 
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

section.register-layout .reg-next:after {
    border-width: 18px 0 18px 20px;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 18px 0 18px 20px;
    border-color: transparent transparent transparent #c00;
    background: none;
    top: 0;
    width: auto;
    height: auto;
    left: 98%;
}

section.register-layout span.ribbon i {
  background: transparent;
}

.upload-holder button:after {
  display: none;
}

section.register-layout span.ribbon i {
  line-height: 36px;
}


.login-layout .uc {
  font-family: Arial, Helvetica, sans-serif;
  color: #7f8693;
}


form.registration span.label-main, form.registration span.label-main-l, form.registration span.label-sub {
    line-height: 25px;
}

form.registration span.input, form.registration span.input-f, form.registration span.input-s {
    line-height: 25px;
}

/* Popups */
.lytebox {
  background:rgba(11,11,11,.8);
}

.lytebox-content.lytebox-dialog, .popup {
  background: rgba(0,0,0,.9);
    border-radius: 0px;
}

section.register-layout .lytebox button:after {
  display: none;
}

section.register-layout .lytebox input[type=text] {
  background: #fff;
}


/* Login */
section.login-layout .field-container label {
  color: #7B0100;
}

div.login-holder .content h2, div.login-holder .content h3 {
  font-weight: bold !important;
  color: #878888;
}



section.main .wrapper.registration {
  background-image: none;
}


span.ribbon:before,
span.ribbon:after {
  display: none;
}

.popup.upload-gov-id {
  padding: 0;
}

.popup.upload-gov-id .content{
  padding: 40px;
  border-radius: 0px;
}

.popup .content:after,
.popup .content:before {
  background: none;
}

.popup .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #CECECE!important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 24px !important;
    text-align: center;
}

.popup.upload-gov-id .content:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 44px 44px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    right: 0;
}


@media screen and (max-width: 480px) {
  section.register-layout {
    padding-top: 50px;
  }
}

div.leather-content:after, div.leather-content:before, div.login-holder:after, div.login-holder:before {
  display: none;
}


div.leather-content .content:after, div.leather-content .content:before, div.login-holder .content:after, div.login-holder .content:before {
  display: none;
}

.lytebox-content.lytebox-dialog:after, .lytebox-content.lytebox-dialog:before, .popup:after, .popup:before {
  display: none;
}



.lytebox-content.lytebox-dialog .content:after, .lytebox-content.lytebox-dialog .content:before, .popup .content:after, .popup .content:before {
  display: none;
}

.lytebox-buttons button {
  border: 0;
  background: #c00;
  color: #fff;
  font-family: red2,Helvetica,Arial,sans-serif;
  padding: 10px 25px;
  font-size: 15px!important;
  line-height: 1em;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}


.lytebox-buttons button i{
  line-height: inherit;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  height: auto;
}


.lytebox .lytebox-message {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
}