html, body{
}

.lytebox{
     display: none;
     position: fixed;
     top:0;
     left: 0;
     width: 100%; 
     height: 100%;
     background-color: rgba(0,0,0,0.95);
     z-index: 9;
}
     
      .lytebox .lytebox-content-holder{
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
     }
          .lytebox .lytebox-content{
               position: relative;
               display: block;
               min-height: 100px;
               
          }
               .lytebox .lytebox-content.left{text-align: left;}
               .lytebox .lytebox-content.right{text-align: right;}
               .lytebox .lytebox-content.center{text-align: center;}

               .lytebox  h1.lytebox-title{
                    margin: 0;
                    padding: 10px 15px 5px;
                    font: 20px Arial;

               }

               .lytebox .lytebox-message{
                    padding:5px 15px 15px;
               }

               .lytebox .lytebox-buttons.left{text-align: left;}
               .lytebox .lytebox-buttons.right{text-align: right;}
               .lytebox .lytebox-buttons.center{text-align: center;}

               .lytebox .lytebox-dialog-close{
                   position: absolute;
                   cursor: pointer;

               }

/*inline popup*/
.lytebox-wrap{
     display: none;
}

.lytebox-wrap .lytebox-wrapped-content{
     display: none;
}

@media (max-width: 767px){
     .lytebox .lytebox-content{
          position: relative;
          display: block;
          width: 90% !important;
          margin-left: 5%;
     }   
}




.lytebox .lytebox-close, .lytebox .popup-close{
          width:20px;
          height:20px;
          padding:0px 5px 6px 5px;
          border: none;
          background: transparent;
          text-align:center;
          font: bold 25px arial;
          color:#ccc;
          position: absolute;
          top: 20px;
          right: 25px;
          cursor: pointer;
          z-index: 9;
          }
          .lytebox  .popup-close{
               top: 10px;
               right: 10px;
          }
 

.lytebox-preload{
     background: none !important;
     width: 300px !important;
     box-shadow: none !important;
}

.lytebox-preload .content{
     background: none !important;
     text-align: center;
}
