@font-face {
  font-family: 'Maybebold';
  src: url('../fonts/maybe/maybe-bold.eot');
  src: url('../fonts/maybe/maybe-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/maybe/maybe-bold.woff') format('woff'), url('../fonts/maybe/maybe-bold.ttf') format('truetype'), url('../fonts/maybe/maybe-bold.svg#maybebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenirltstd-roman.eot');
  src: url('../fonts/avenir/avenirltstd-roman.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/avenirltstd-roman.woff') format('woff'), url('../fonts/avenir/avenirltstd-roman.ttf') format('truetype'), url('../fonts/avenir/avenirltstd-roman.svg#Avenir') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Blair';
  src: url('../fonts/blair/blair_itc_light_1_-webfont.eot');
  src: url('../fonts/blair/blair_itc_light_1_-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blair/blair_itc_light_1_-webfont.woff') format('woff'), url('../fonts/blair/blair_itc_light_1_-webfont.ttf') format('truetype'), url('../fonts/blair/blair_itc_light_1_-webfont.svg#blair') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile';
  src: url('../fonts/euro/eurosti.eot');
  src: url('../fonts/euro/eurosti.eot?#iefix') format('embedded-opentype'), url('../fonts/euro/eurosti.woff') format('woff'), url('../fonts/euro/eurosti.ttf') format('truetype'), url('../fonts/euro/eurosti.svg#Eurostile') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'winsoft';
  src: url('../fonts/winsoft/winsoft_pro_medium-webfont.eot');
  src: url('../fonts/winsoft/winsoft_pro_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/winsoft/winsoft_pro_medium-webfont.woff') format('woff'), url('../fonts/winsoft/winsoft_pro_medium-webfont.ttf') format('truetype'), url('../fonts/winsoft/winsoft_pro_medium-webfont.svg#winsoft') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* mixins */
/*bootstrap override*/
.row.container {
  margin: 0 auto;
}
.container.main {
  margin: 10px auto;
}
.row.main > div {
  padding: 0;
  margin: 0;
}
/*common style*/
.font-default-small {
  font-family: 'Blair';
  font-size: 12px;
}
.font-default-regular {
  font-family: 'Blair';
  font-size: 16px;
}
.font-default-big {
  font-family: 'Blair';
  font-size: 20px;
}
.font-default-bigger {
  font-family: 'Blair';
  font-size: 24px;
}
.font-default-btn {
  font-family: 'Blair';
  font-size: 22px;
}
.gradient-horizontal-gray {
  background: rgba(61, 61, 61, 0.55);
  background: -moz-linear-gradient(left, rgba(61, 61, 61, 0.55) 0%, #3d3d3d 52%, rgba(61, 61, 61, 0.55) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61, 61, 61, 0.55)), color-stop(52%, #3d3d3d), color-stop(100%, rgba(61, 61, 61, 0.55)));
  background: -webkit-linear-gradient(left, rgba(61, 61, 61, 0.55) 0%, #3d3d3d 52%, rgba(61, 61, 61, 0.55) 100%);
  background: -o-linear-gradient(left, rgba(61, 61, 61, 0.55) 0%, #3d3d3d 52%, rgba(61, 61, 61, 0.55) 100%);
  background: -ms-linear-gradient(left, rgba(61, 61, 61, 0.55) 0%, #3d3d3d 52%, rgba(61, 61, 61, 0.55) 100%);
  background: linear-gradient(to right, rgba(61, 61, 61, 0.55) 0%, #3d3d3d 52%, rgba(61, 61, 61, 0.55) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#3d3d3d', GradientType=1);
}
.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clearfix {
  clear: both;
}
.txtcenter {
  text-align: center;
}
.txtright {
  text-align: right;
}
.txtleft {
  text-align: left;
}
.m-auto {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Blair';
  font-weight: normal !important;
  margin-top: 10px;
}
ol.abc {
  list-style-type: lower-alpha;
}
a {
  outline: none !important;
  color: #cc0000;
}
a:hover,
a:active,
a:visited,
a:focus {
  color: #cc0000;
}
body {
  background-color: #000;
  font-size: 18px;
  line-height: 18px;
  font-family: 'winsoft';
  color: #fff;
  padding-top: 80px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
input,
select {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px #ccc;
  font-size: 13px Arial;
}
label {
  font-weight: normal;
}
.mauto {
  margin-left: auto;
  margin-right: auto;
}
.small {
  font-size: 11px;
}
/*end common style*/
.btn {
  font-family: 'Blair';
  font-size: 12px;
  display: inline-block;
  position: relative;
  border: none;
  background: transparent;
  margin: 10px;
  text-decoration: none !important;
}
.btn i {
  position: relative;
  color: #fff;
  padding: 8px 20px;
  min-width: 180px;
  display: block;
  z-index: 2;
  font-style: normal;
}
.btn:before {
  background: #990000;
  background: -webkit-linear-gradient(left, #000000, #be192a);
  background: -moz-linear-gradient(left, #000000, #be192a);
  background: -ms-linear-gradient(left, #000000, #be192a);
  background: -o-linear-gradient(left, #000000, #be192a);
  background: linear-gradient(left, #000000, #be192a);
  left: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.btn:after {
  background: #990000;
  background: -webkit-linear-gradient(left, #be192a, #000000);
  background: -moz-linear-gradient(left, #be192a, #000000);
  background: -ms-linear-gradient(left, #be192a, #000000);
  background: -o-linear-gradient(left, #be192a, #000000);
  background: linear-gradient(left, #be192a, #000000);
  left: 50%;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.btn:before,
.btn:after {
  content: '';
  width: 50%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.btn:hover:before {
  background: #990000;
  background: -webkit-linear-gradient(left, #000000, #ed182f);
  background: -moz-linear-gradient(left, #000000, #ed182f);
  background: -ms-linear-gradient(left, #000000, #ed182f);
  background: -o-linear-gradient(left, #000000, #ed182f);
  background: linear-gradient(left, #000000, #ed182f);
}
.btn:hover:after {
  background: #990000;
  background: -webkit-linear-gradient(left, #ed182f, #000000);
  background: -moz-linear-gradient(left, #ed182f, #000000);
  background: -ms-linear-gradient(left, #ed182f, #000000);
  background: -o-linear-gradient(left, #ed182f, #000000);
  background: linear-gradient(left, #ed182f, #000000);
}
a * {
  color: #000;
  text-decoration: none;
}
.line-separator {
  position: relative;
  width: 75%;
  margin: 5px auto;
  border: solid 1px transparent;
}
.line-separator:before {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: -moz-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: -ms-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: -o-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  left: 0;
}
.line-separator:after {
  background: #990000;
  background: -webkit-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: -moz-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: -ms-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: -o-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  left: 50%;
}
.line-separator:before,
.line-separator:after {
  content: '';
  width: 50%;
  height: 2px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
}
/*template*/
header.main {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 101;
  background: #000;
}
header.main:before {
  background: #ff0000;
  background: -webkit-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: -moz-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: -ms-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: -o-linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  background: linear-gradient(left, rgba(237, 24, 47, 0), #ed182f);
  left: 0;
}
header.main:after {
  background: #ff0000;
  background: -webkit-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: -moz-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: -ms-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: -o-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  background: linear-gradient(left, #ed182f, rgba(237, 24, 47, 0));
  left: 50%;
}
header.main:before,
header.main:after {
  content: '';
  width: 50%;
  height: 2px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
}
header.main .container {
  padding: 0;
}
header.main .navbar-toggle {
  position: absolute;
  border-radius: 0;
  border: none;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 3;
}
header.main .navbar-toggle:hover,
header.main .navbar-toggle:active,
header.main .navbar-toggle:focus {
  background: transparent;
  border: none;
  outline: none;
}
header.main .navbar-toggle span {
  width: 42px;
  height: 7px;
  margin: 0 0 5px;
  background-color: #c00;
}
header.main .navbar-collapse {
  position: relative;
  max-height: none;
  top: 60px;
}
header.main .navbar-collapse ul.main-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #111;
}
header.main .navbar-collapse ul.main-nav li {
  border-bottom: solid 1px #000;
}
header.main .navbar-collapse ul.main-nav li a {
  font-size: 12px;
  color: #fff;
  outline: none;
  padding: 10px 10px 10px 40px;
  font-family: 'Blair';
  font-size: 16px;
}
header.main .navbar-collapse ul.main-nav li a:hover,
header.main .navbar-collapse ul.main-nav li a:active,
header.main .navbar-collapse ul.main-nav li a:focus {
  background: #000;
}
header.main .navbar-collapse ul.main-nav li.active > a {
  color: #cc0000;
}
header.main .navbar-collapse ul.main-nav li.active:hover > a {
  color: #f00;
}
section.main {
  position: relative;
  z-index: 1;
  /*quiz*/
  /* detailer */
  /*find premium*/
}
section.main .wrapper {
  min-height: 340px;
  position: relative;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center 20px;
  background-attachment: fixed;
  color: #aaa;
  z-index: 2;
  top: -20px;
}
section.main .wrapper.parallax {
  background-image: none;
  padding: 0;
}
section.main .premium-quiz {
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 30px;
}
section.main .premium-quiz .quiz {
  display: none;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
section.main .premium-quiz .quiz .question {
  color: #f1f1f1;
  font: 16px 'Blair';
  line-height: 15px;
}
section.main .premium-quiz .quiz .answers {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}
section.main .premium-quiz .quiz .answers li {
  display: inline-block;
  width: 280px;
  padding: 10px 20px;
  position: relative;
  margin: 10px;
  vertical-align: top;
  cursor: pointer;
}
section.main .premium-quiz .quiz .answers li span {
  position: relative;
  z-index: 2;
  color: #ccc;
  font: 12px 'Blair';
  line-height: 15px;
}
section.main .premium-quiz .quiz .answers li:before {
  background: #333333;
  background: -webkit-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: -moz-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: -ms-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: -o-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  left: 0;
}
section.main .premium-quiz .quiz .answers li:after {
  background: #333333;
  background: -webkit-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: -moz-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: -ms-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: -o-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  left: 50%;
}
section.main .premium-quiz .quiz .answers li:before,
section.main .premium-quiz .quiz .answers li:after {
  content: '';
  width: 50%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 1;
}
section.main .premium-quiz .quiz .answers li.selected:before {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(237, 24, 47, 0.3), #ed182f);
  background: -moz-linear-gradient(left, rgba(237, 24, 47, 0.3), #ed182f);
  background: -ms-linear-gradient(left, rgba(237, 24, 47, 0.3), #ed182f);
  background: -o-linear-gradient(left, rgba(237, 24, 47, 0.3), #ed182f);
  background: linear-gradient(left, rgba(237, 24, 47, 0.3), #ed182f);
  left: 0;
}
section.main .premium-quiz .quiz .answers li.selected:after {
  background: #990000;
  background: -webkit-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0.3));
  background: -moz-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0.3));
  background: -ms-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0.3));
  background: -o-linear-gradient(left, #ed182f, rgba(237, 24, 47, 0.3));
  background: linear-gradient(left, #ed182f, rgba(237, 24, 47, 0.3));
  left: 50%;
}
section.main .premium-quiz .quiz .answers li:hover:not(.selected):before {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -moz-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -ms-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -o-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  left: 0;
}
section.main .premium-quiz .quiz .answers li:hover:not(.selected):after {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -moz-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -ms-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -o-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  left: 50%;
}
section.main .premium-quiz .quiz.result {
  font: 12px Blair;
}
section.main .premium-quiz .quiz.result h3 {
  margin-bottom: 30px;
}
section.main .premium-quiz .quiz.result .question {
  margin-bottom: 20px;
  display: block;
  color: #ed1b2f;
}
section.main .premium-quiz .quiz.result p {
  font: 12px Arial;
}
section.main .premium-quiz .quiz-start {
  margin-top: 50px;
  display: block;
}
section.main .premium-quiz .quiz-start p {
  margin: 20px auto 0;
  font-family: 'Blair';
  font-size: 12px;
  width: 200px;
}
section.main .page-ctrl {
  position: absolute;
  z-index: 3;
  width: 94%;
  left: 50%;
  -webkit-transform: translate(-50%, 100px);
  -moz-transform: translate(-50%, 100px);
  -o-transform: translate(-50%, 100px);
  -ms-transform: translate(-50%, 100px);
  transform: translate(-50%, 100px);
}
section.main .page-ctrl button {
  background: transparent;
  border: none;
  color: #fff;
  font: bold 40px Arial;
  padding: 0;
  line-height: 50px;
  cursor: pointer;
  opacity: 0.3;
}
section.main .page-ctrl button.prev {
  float: left;
}
section.main .page-ctrl button.next {
  float: right;
}
section.main .page-ctrl button.disable {
  color: #777;
  cursor: default;
}
section.main .detailer-wrapper {
  padding-bottom: 60px;
  position: relative;
  width: 100%;
}
section.main .wrapper.detailer-01 {
  background: #000;
}
section.main .wrapper.detailer-02 {
  background: #000000 url(../images/bg-detailer-02.jpg) no-repeat;
  background-position: right 20px ;
  background-size: 90%;
}
section.main .wrapper.detailer-03 {
  background: #000000 url(../images/bg-detailer-03-mobile.jpg) no-repeat;
  background-position: right -50px;
}
section.main .wrapper.detailer-04 {
  background: #000000 url(../images/bg-detailer-04-mobile.jpg) no-repeat;
  background-position: right 0px ;
}
section.main .wrapper.detailer-06 {
  background: #000000 url(../images/bg-detailer-05-mobile.jpg) no-repeat;
  background-position: right 0px ;
}
section.main .wrapper.detailer-05 {
  background: #000000 url(../images/bg-detailer-06.jpg) no-repeat;
  background-position: right 0px ;
  background-size: 100%;
}
section.main .wrapper.detailer-07 {
  background: #000000 url(../images/bg-detailer-05-mobile.jpg) no-repeat;
  background-position: right -20px;
}
section.main .detailer-copy {
  color: #fff;
  font: 14px  Eurostile;
  text-shadow: 0px 0px  2px #000;
  padding: 0px 20px;
  text-transform: uppercase;
  padding-bottom: 75px;
}
section.main .detailer-copy h2 {
  font-family: Eurostile;
  font-weight: bold !important;
  font-size: 16px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0;
  transition: all 300ms;
  height: 25px;
  margin-bottom: 25px;
}
section.main .detailer-copy h2:before {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #ff0000);
  background: -moz-linear-gradient(left, rgba(255, 0, 0, 0), #ff0000);
  background: -ms-linear-gradient(left, rgba(255, 0, 0, 0), #ff0000);
  background: -o-linear-gradient(left, rgba(255, 0, 0, 0), #ff0000);
  background: linear-gradient(left, rgba(255, 0, 0, 0), #ff0000);
  left: 0;
}
section.main .detailer-copy h2:after {
  background: #990000;
  background: -webkit-linear-gradient(left, #ff0000, rgba(255, 0, 0, 0));
  background: -moz-linear-gradient(left, #ff0000, rgba(255, 0, 0, 0));
  background: -ms-linear-gradient(left, #ff0000, rgba(255, 0, 0, 0));
  background: -o-linear-gradient(left, #ff0000, rgba(255, 0, 0, 0));
  background: linear-gradient(left, #ff0000, rgba(255, 0, 0, 0));
  left: 50%;
}
section.main .detailer-copy h2:before,
section.main .detailer-copy h2:after {
  content: '';
  width: 50%;
  height: 2px;
  bottom: -5px;
  position: absolute;
  z-index: 1;
}
section.main .detailer-copy.copy-01 {
  text-align: center;
  margin-top: 40%;
}
section.main .detailer-copy.copy-02 {
  margin-top: 60%;
}
section.main .detailer-copy.copy-03 {
  margin-top: 70%;
}
section.main .detailer-copy.copy-04 {
  margin-top: 70%;
}
section.main .detailer-copy.copy-06 {
  margin-top: 70%;
}
section.main .detailer-copy.copy-05 {
  margin-top: 50%;
}
section.main .detailer-copy.copy-07 {
  margin-top: 70%;
  text-align: center;
}
section.main .find-premium .title {
  position: relative;
  margin: 40px auto 20px;
  width: 100%;
  max-width: 500px;
}
section.main .find-premium .title img {
  max-width: 100%;
  margin: 0 auto 10px;
  display: block;
}
section.main .find-premium ul.find {
  list-style: none;
  padding: 0;
  width: 280px;
  margin: 0 auto;
}
section.main .find-premium ul.find li {
  cursor: default;
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 0 0 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
section.main .find-premium ul.find li.head {
  text-align: left;
  font: 18px Blair;
  color: #900;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
section.main .find-premium ul.find li.head:before,
section.main .find-premium ul.find li.head:after {
  display: none;
}
section.main .find-premium ul.find li span {
  position: relative;
  z-index: 2;
  color: #fff;
  font: 12px 'Blair';
  line-height: 15px;
}
section.main .find-premium ul.find li small {
  display: block;
  position: relative;
  z-index: 2;
  color: #fff;
  font: 8px 'Blair';
  line-height: 12px;
  width: 150px;
  margin: 10px auto 0;
  height: 0;
  overflow: hidden;
}
section.main .find-premium ul.find li:before {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: -moz-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: -ms-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: -o-linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  background: linear-gradient(left, rgba(40, 40, 40, 0.3), rgba(70, 70, 70, 0.9));
  left: 0;
}
section.main .find-premium ul.find li:after {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: -moz-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: -ms-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: -o-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  background: linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(40, 40, 40, 0.3));
  left: 50%;
}
section.main .find-premium ul.find li:before,
section.main .find-premium ul.find li:after {
  content: '';
  width: 50%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  transition: all 800ms;
}
section.main .find-premium ul.find li.active small {
  height: auto;
}
section.main .find-premium ul.find li.active:before {
  background: #ff0000;
  background: -webkit-linear-gradient(left, rgba(237, 24, 47, 0), rgba(237, 24, 47, 0.7));
  background: -moz-linear-gradient(left, rgba(237, 24, 47, 0), rgba(237, 24, 47, 0.7));
  background: -ms-linear-gradient(left, rgba(237, 24, 47, 0), rgba(237, 24, 47, 0.7));
  background: -o-linear-gradient(left, rgba(237, 24, 47, 0), rgba(237, 24, 47, 0.7));
  background: linear-gradient(left, rgba(237, 24, 47, 0), rgba(237, 24, 47, 0.7));
  left: 0;
}
section.main .find-premium ul.find li.active:after {
  background: #ff0000;
  background: -webkit-linear-gradient(left, rgba(237, 24, 47, 0.7), rgba(237, 24, 47, 0));
  background: -moz-linear-gradient(left, rgba(237, 24, 47, 0.7), rgba(237, 24, 47, 0));
  background: -ms-linear-gradient(left, rgba(237, 24, 47, 0.7), rgba(237, 24, 47, 0));
  background: -o-linear-gradient(left, rgba(237, 24, 47, 0.7), rgba(237, 24, 47, 0));
  background: linear-gradient(left, rgba(237, 24, 47, 0.7), rgba(237, 24, 47, 0));
  left: 50%;
}
section.main .find-premium ul.find li:hover:not(.active):before {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -moz-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -ms-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -o-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  left: 0;
}
section.main .find-premium ul.find li:hover:not(.active):after {
  background: #990000;
  background: -webkit-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -moz-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -ms-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: -o-linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  background: linear-gradient(left, rgba(70, 70, 70, 0.9), rgba(70, 70, 70, 0.9));
  left: 50%;
}
footer.main {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 7px;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  z-index: 2;
  border-top: solid 1px #333;
  background: #101010;
  font-family: Maybebold;
}
footer.main .r18 {
  text-align: center;
  padding: 4px 20px 0;
  border-bottom: solid 1px #333 ;
}
footer.main .row {
  margin: 5px 0 0;
}
footer.main nav {
  text-align: center;
  padding: 0;
}
footer.main nav a {
  color: #fff;
  margin: 0px 3px;
  cursor: pointer;
  padding: 0px;
  display: inline-block;
}
footer.main .copyright {
  text-align: center;
  margin: 3px 0;
}
footer.main .government-warning {
  position: relative;
  background-color: #000;
  width: 100%;
  z-index: 102;
  border-top: solid 1px #333;
}
footer.main .government-warning span {
  font: bold 13px Arial;
  color: #fff;
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
  padding: 0px 5px;
}
.popup {
  position: relative;
  background: #000;
  top: 0px;
  padding: 20px;
  margin-bottom: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px #444;
}
.popup .scrollable {
  font-size: 11px;
  text-align: left;
  margin-top: 20px;
  max-height: 200px;
  overflow: auto;
}
.popup .content h1,
.popup .content h2,
.popup .content h3,
.popup .content h4,
.popup .content h5,
.popup .content h6 {
  font-family: 'Blair', Arial;
}
.popup .content h1 {
  font-size: 18px;
}
.popup .content h2 {
  font-size: 16px;
}
.popup .content h3 {
  font-size: 14px;
}
.popup .content h4 {
  font-size: 12px;
}
.popup .content p {
  font: 16px 'winsoft';
}
.popup .popup-close,
.popup .lytebox-dialog-close {
  top: -30px;
  width: 70px;
  text-align: left;
  font-family: 'Blair';
  font-size: 16px;
  font-size: 45px;
  color: #c00;
  line-height: 8px;
  padding: 0;
}
.popup p.terms {
  font-size: 11px;
  text-align: left;
  line-height: 10px;
  margin-top: 10px;
  color: #cccccc;
}
@media (min-width: 768px) {
  /*override*/
  .container.main {
    margin: 50px auto 20px;
  }
  body {
    padding-top: 60px;
  }
  /*template*/
  header.main {
    background-image: none;
  }
  header.main .container {
    position: relative;
    height: 1px;
  }
  header.main .logo {
    width: 194px;
    height: 80px;
  }
  header.main .navbar-collapse {
    float: right;
    width: 400px;
  }
  footer.main {
    position: fixed;
    margin-top: 0;
    text-shadow: 0px 0px 3px #000;
    padding-top: 0;
    font-size: 12px;
    line-height: 12px;
    background: #000;
  }
  footer.main .r18 {
    margin-top: 0px;
    padding: 5px 200px;
  }
  footer.main .row {
    margin-top: 2px;
    padding: 5px 0;
    text-align: right;
  }
  footer.main nav {
    padding-left: 20px;
  }
  footer.main .copyright {
    margin-top: 10px;
  }
  footer.main .government-warning span {
    font-size: 28px;
    margin: auto;
    height: 80px;
    font-weight: normal;
  }
  section.main {
    /*quiz*/
    /* detailer */
    /*find premium*/
  }
  section.main .wrapper {
    top: initial;
  }
  section.main .premium-quiz {
    padding: 0px 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  section.main .premium-quiz .quiz .answers li {
    width: 200px;
  }
  section.main .premium-quiz .quiz-start {
    margin-top: 0;
  }
  section.main .premium-quiz .quiz-start p {
    width: 400px;
  }
  section.main .page-ctrl {
    bottom: 10%;
    width: 70px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  section.main .page-ctrl button {
    opacity: 1;
    font-size: 50px;
  }
  section.main .detailer-wrapper {
    padding-bottom: 0px;
  }
  section.main .wrapper.detailer-02 {
    background-position: right 40px ;
    background-size: auto;
  }
  section.main .wrapper.detailer-03 {
    background: #000000 url(../images/bg-detailer-03.jpg) no-repeat;
    background-position: 150px -80px;
  }
  section.main .wrapper.detailer-04 {
    background: #000000 url(../images/bg-detailer-04.jpg) no-repeat;
    background-position: right 0px ;
  }
  section.main .wrapper.detailer-06 {
    background: #000000 url(../images/bg-detailer-05.jpg) no-repeat;
    background-position: right 50px ;
  }
  section.main .wrapper.detailer-05 {
    background-size: auto;
  }
  section.main .wrapper.detailer-07 {
    background: #000000 url(../images/bg-detailer-05.jpg) no-repeat;
    background-position: center 20px ;
  }
  section.main .detailer-copy h2 {
    font-size: 18px;
  }
  section.main .detailer-copy.copy-02 {
    margin-top: 45%;
  }
  section.main .detailer-copy.copy-03 {
    margin-top: 450px;
  }
  section.main .detailer-copy.copy-04 {
    margin-top: 360px;
  }
  section.main .detailer-copy.copy-05 {
    margin-top: 400px;
    width: 300px;
  }
  section.main .detailer-copy.copy-06 {
    margin-top: 400px;
    width: 600px;
    margin-left: 50px;
  }
  section.main .detailer-copy.copy-07 {
    margin: 420px auto;
    width: 320px;
  }
  section.main .find-premium ul.find {
    width: 700px;
    margin: 0 auto 20px;
  }
  section.main .find-premium ul.find li {
    width: 30%;
    margin: 10px;
  }
  .popup,
  .lytebox-content.lytebox-dialog {
    background: #000;
    -webkit-box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.3);
    -moz-box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.3);
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.3);
    width: 600px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 18px 20px 20px;
    overflow: hidden;
    border: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .popup h1,
  .lytebox-content.lytebox-dialog h1,
  .popup h2,
  .lytebox-content.lytebox-dialog h2,
  .popup h3,
  .lytebox-content.lytebox-dialog h3,
  .popup h4,
  .lytebox-content.lytebox-dialog h4 {
    margin-top: 0px;
  }
  .popup h1.lytebox-title,
  .lytebox-content.lytebox-dialog h1.lytebox-title {
    font-family: 'Blair';
    font-size: 24px;
    font-size: 34px;
  }
  .popup .txtleft,
  .lytebox-content.lytebox-dialog .txtleft {
    text-align: left;
  }
  .popup .txtright,
  .lytebox-content.lytebox-dialog .txtright {
    text-align: right;
  }
  .popup .content,
  .lytebox-content.lytebox-dialog .content {
    position: relative;
    min-height: 80px;
    padding: 20px;
    padding-bottom: 20px;
    z-index: 3;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: dashed 0px;
    border-color: #222;
    font-family: 'Avenir';
  }
  .popup .content:after,
  .lytebox-content.lytebox-dialog .content:after,
  .popup .content:before,
  .lytebox-content.lytebox-dialog .content:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
  }
  .popup .content:after,
  .lytebox-content.lytebox-dialog .content:after {
    right: -8px;
  }
  .popup .content:before,
  .lytebox-content.lytebox-dialog .content:before {
    left: -8px;
  }
  .popup .scrollable,
  .lytebox-content.lytebox-dialog .scrollable {
    height: 200px;
    overflow: auto;
    margin-top: 10px;
    padding-right: 10px;
    font-family: 'Avenir';
  }
  .popup .scrollable-small,
  .lytebox-content.lytebox-dialog .scrollable-small {
    height: 150px;
    overflow: auto;
    margin-top: 10px;
    padding-right: 10px;
    font-family: 'Avenir';
  }
  .popup .popup-close,
  .lytebox-content.lytebox-dialog .popup-close,
  .popup .lytebox-dialog-close,
  .lytebox-content.lytebox-dialog .lytebox-dialog-close {
    font: bold 26px arial;
    color: #999;
    top: 11px;
    width: 40px;
    height: 30px;
    padding-left: 5px;
    right: -8px;
  }
  .popup .popup-close span,
  .lytebox-content.lytebox-dialog .popup-close span,
  .popup .lytebox-dialog-close span,
  .lytebox-content.lytebox-dialog .lytebox-dialog-close span {
    display: none;
  }
}
@media (min-width: 992px) {
  .small {
    font: 11px Arial;
  }
  body {
    padding-top: 80px;
  }
  header.main .navbar-collapse {
    position: relative;
    background-color: transparent;
    padding: 0;
    z-index: 5;
    width: 100%;
    float: right;
    top: 30px;
  }
  header.main .navbar-collapse ul.main-nav {
    background-color: transparent;
    float: none;
    text-align: center;
  }
  header.main .navbar-collapse ul.main-nav li {
    background-color: transparent;
    border: 0;
    padding: 0px ;
    position: relative;
    display: inline-block;
    float: none;
    margin: 0 5px;
  }
  header.main .navbar-collapse ul.main-nav li:first-child {
    margin-top: 0;
  }
  header.main .navbar-collapse ul.main-nav li a {
    padding: 0px;
    margin: 0 0 0 20px;
    font-size: 14px;
  }
  header.main .navbar-collapse ul.main-nav li a.dropdown-toggle {
    margin: 0 0 0 20px;
  }
  footer.main {
    background-color: #000;
  }
  footer.main .r18 {
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  footer.main .row {
    margin: 0px;
    height: auto;
    padding: 0 0 5px;
  }
  footer.main .row nav {
    margin-bottom: 0;
    text-align: left;
    padding-left: 50px;
    padding-top: 3px;
    padding: 2px;
  }
  footer.main .row .copyright {
    text-align: right;
    padding: 3px 50px 2px 0;
    margin: 0;
  }
  footer.main .government-warning span {
    font-size: 28px;
    margin: auto;
    height: 70px;
    width: 800px;
  }
  section.main {
    /*quiz*/
    /* detailer */
    /*find premium*/
  }
  section.main .wrapper {
    top: initial;
  }
  section.main .premium-quiz {
    width: 700px;
    padding: 0;
    left: 50%;
    margin-left: -350px;
  }
  section.main .wrapper.detailer-02 {
    background-position: 70% 50% ;
    background-size: auto;
  }
  section.main .wrapper.detailer-03 {
    background-position: 80% 0 ;
  }
  section.main .wrapper.detailer-04 {
    background-position: 450px top;
  }
  section.main .wrapper.detailer-05 {
    background-position: 450px top;
  }
  section.main .wrapper.detailer-06 {
    background-position: 450px center;
  }
  section.main .wrapper.detailer-07 {
    background-position: 450px 60%;
    background-size: 60%;
  }
  section.main .detailer-copy.copy-01 {
    margin-top: 120px;
  }
  section.main .detailer-copy.copy-02 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -30px;
    width: 460px;
  }
  section.main .detailer-copy.copy-03 {
    width: 450px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 100px;
  }
  section.main .detailer-copy.copy-04 {
    width: 400px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 100px;
  }
  section.main .detailer-copy.copy-05 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 100px;
  }
  section.main .detailer-copy.copy-06 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 100px;
    width: 400px;
  }
  section.main .detailer-copy.copy-07 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 100px;
  }
  section.main .find-premium ul.find {
    width: 100%;
    margin: 0 auto;
  }
  section.main .find-premium ul.find li {
    width: 20%;
    margin: 10px 20px;
    vertical-align: top;
  }
}
@media (min-width: 1200px) {
  /* template*/
  footer.main .row nav {
    padding-left: 100px;
  }
  footer.main .row .copyright {
    padding-right: 100px;
  }
  footer.main .government-warning span {
    font-size: 28px;
    margin: auto;
    height: 40px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  /* template*/
  footer.main .government-warning span {
    font-size: 34px;
    margin: auto;
    height: 40px;
  }
}
