body{
     padding-top: 70px; 
}

.page-header{
     margin-top: 10px
}
     .page-header h3{
          display: inline-block;
     }

     .page-header .actions{
          float:right;
          margin-top: 20px
     }


.login-content{
     width: 420px;
     border: solid 1px #ccc;
     border-radius: 20px;
     padding: 0px 40px 10px;
}

footer.main{
     display: block;
     width: 100%;
     padding: 20px 0;
     border-top: solid 1px #aaa
}