body{
     padding-top: 70px; 
	 font-size:12px !important;
}

.page-header{
     margin-top: 10px
}
     .page-header h3{
          display: inline-block;

          
     }

      .page-header h3 .badge{
          background-color: #ccc
     }

     .page-header .actions{
          float:right;
          margin-top: 20px
     }


.login-content{
     width: 420px;
     border: solid 1px #ccc;
     border-radius: 20px;
     padding: 0px 40px 10px;
}

footer.main{
     display: block;
     width: 100%;
     padding: 20px 0;
     border-top: solid 1px #aaa
}

.hidden {
	display:none;
}

/* Bootstrap Overrides */
.btn {
	font-size:12px !important;
}

.container {
	width: 97% !important;
}

td > .row, th > .row{
     padding:0;
     margin: 0;
}

td > .row > div, th > .row > div{
     padding:0px 5px;
     margin: 0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu > .dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:focus > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu{display:block;}
.dropdown-submenu > a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:focus > a:after, .dropdown-submenu:hover > a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}