<div class="popup">
	<div class="content">
		<button class="popup-close">&times;<span>CLOSE</span></button>
		
		<h2 class="txtcenter">EDIT MAILING ADDRESS</h2>
		<div class="row  confirm-email">
			<div class="col-sm-6">
				<h3>STREET NAME</h3>
				<input type="text">
			</div>

			<div class="col-sm-6">
				<h3>BARANGAY</h3>
				<input type="text">
			</div>

			<div class="col-sm-6">
				<h3>CITY/TOWN</h3>
				<select>
					<option> </option>
				</select>
			</div>

			<div class="col-sm-6">
				<h3>PROVINCE</h3>
				<select>
					<option> </option>
				</select>
			</div>

			<div class="col-sm-6">
				<h3>ZIP CODE:</h3>
				<input type="text">
			</div>
		</div>

		<div class="txtcenter">
			<button class="button" type="button"><i>CONFIRM EMAIL ADDRESS</i></button>
		</div>
	</div>
</div>