<div class="popup">
	<div class="content txtcenter">
		<button class="popup-close">&times;<span>CLOSE</span></button>
		

		<div class="row">
			<div class="col-sm-6">
				<img src="images/sample-hbd.jpg" width="100%"/>
			</div>

			<div class="col-sm-6">
				<h2 class="red">HAPPY BIRTHDAY</h2>
				<h3>Here’s something to light those birthday candles with.</h3>

				<p class="small">Your gift will be delivered to your registered address</p>

				<a href="#" class="button" onclick="popup.open({url:'popups/confirm-email.html'})"><i>CONFIRM EMAIL ADDRESS</i></a>
			</div>
		</div>

	</div>
</div>