<div class="popup">
	<div class="content txtcenter">
		<button class="popup-close">&times;</button>

		<h3>You can contact us at our adult-restricted hotline:</h3>

		<div class="slimScrollDiv">

                            <p>895-9999 (Metro Manila) or 1-800-10-895-9999 (Provincial Toll-Free), or text MLIST &lt;full name&gt;, &lt;date of birth in mm/dd/yyyy&gt;, &lt;message&gt; to 0908-895-9999.</p>
                             <p>Standard SMS rates apply.</p>
                    </div>

	</div>
</div>
