<div class="popup">
	<div class="content">
		<button class="popup-close">&times;</button>

		<h2>MECHANICS</h2>

		<div class="scrollable">
			<h4>Place Mechanics here</h4>

			<p> the location of the file to be edited is :</p>
			<p>\marlboro\application\views\crossover\crossover_popups\mechanics.html</p>

		</div>
	</div>
</div>


<script>
	$(function(){
		if( $(window).width()>767 ){
			$('.popup .scrollable').slimScroll({
			height: '350px',
			railVisible: true,
		    railColor: '#999',
		    railOpacity: 1,
		    color: '#f00',
		    alwaysVisible: true,
		    distance:'20px',
		    disableFadeOut  : true
		});
		}
	})
</script>
