<!-- EXPLORE YOUR CHOICE -->
<section class="section details info">
	<div class="pageName text">
		<a href="#act_360">
			<span data-i18n="activities.explore.pageNameLeft"></span>
			<span class="icon"></span>
			<span data-i18n="activities.explore.pageNameRight"></span>
		</a>
	</div>
	<div class="line">
		<div class="picture">
			<button style="background-image:url(img/alaska/explorations/exploration1_video.jpg)" data-video="red">
				<span data-i18n="[html]alaska.one.explorations.thermal.video"></span>
				<span class="time" data-i18n="[html]alaska.one.explorations.thermal.videoTime"></span>
			</button>
		</div>
		<div class="contentTxt">
			<h3 data-i18n="[html]alaska.one.explorations.thermal.title"></h3>
			<p class="subtitle" data-i18n="[html]alaska.one.explorations.thermal.subtitle"></p>
			<div data-i18n="[html]alaska.one.explorations.thermal.detail"></div>
		</div>
	</div>
</section>