<!-- WIN GIFTS -->
<section class="section gifts topGifts fullscreen">
	<div class="pageName">
		<span class="icon"></span>
	</div>
	<h3>
		<span>
			<strong data-i18n="activities.gifts.title"></strong>
			<span data-i18n="activities.gifts.subtitle"></span>
		</span>
	</h3>
	<div class="home_gifts trianglesArrows">
		<div class="gift active">
			<div class="picture">
				<img data-i18n="[src]gifts.goPro.url" alt="Go Pro" />
			</div>
			<div class="infos">
				<p class="name"><span data-i18n="gifts.goPro.name"></span><span class="km">/ <span data-i18n="gifts.goPro.price"></span> km</span></p>
				<a href="#" data-i18n="gifts.link" data-toggle="modal" data-target="#infoGift"></a>
			</div>
		</div>
		<div class="gift">
			<div class="picture">
				<img data-i18n="[src]gifts.vtt.url" alt="Go Pro" />
			</div>
			<div class="infos">
				<p class="name"><span data-i18n="gifts.vtt.name"></span><span class="km">/ <span data-i18n="gifts.vtt.price"></span> km</span></p>
				<a href="#" data-i18n="gifts.link" data-toggle="modal" data-target="#infoGift"></a>
			</div>
		</div>
		<div class="gift">
			<div class="picture">
				<img data-i18n="[src]gifts.hat.url" alt="Go Pro" />
			</div>
			<div class="infos">
				<p class="name"><span data-i18n="gifts.hat.name"></span><span class="km">/ <span data-i18n="gifts.hat.price"></span> km</span></p>
				<a href="#" data-i18n="gifts.link" data-toggle="modal" data-target="#infoGift"></a>
			</div>
		</div>
	</div>				
</section>
<!-- GO TO THE NEXT EXPERIENCE -->
<section class="goFurther row">
	<a href="#" class="GoNextExperience">
		<div class="text" data-i18n="[html]activities.gifts.linkNextActivities"></div>	
	</a>
</section>