<section class="section detailActivity threeCol">
	<div class="pageName text">
		<span data-i18n="activities.explore.pageNameLeft"></span>
		<span class="icon"></span>
		<span data-i18n="activities.explore.pageNameRight"></span>
	</div>

	<div class="explorations">

		<!-- slider with detail about activities -->
		<div class="exploration">
			<div class="header" style="background-image: url(img/alaska/paddle/m_exploration1.jpg)">
				<h3 data-i18n="[html]alaska.one.explorations.thermal.title"></h3>
				<!-- button to call a video -->
				<button data-mvideo="detailVideo"><span></span><span data-i18n="[html]alaska.one.explorations.thermal.video"></span></button>
			</div>
			<div class="content">
				
				<span class="subtitle" data-i18n="[html]alaska.one.explorations.thermal.subtitle"></span>
				<div data-i18n="[html]alaska.one.explorations.thermal.detail"></div>
				<!-- video -->
				<div class="mobileVideo trailer" id="detailVideo">
					<video controls>
						<source src="videos/trailer/trailer.mp4" type="video/mp4" />
						<source src="videos/trailer/trailer.ogv" type="video/ogg" />
						<source src="videos/trailer/trailer.webm" type="video/webm" />
					</video>
					<button type="button" class="close">
						<span>×</span>
					</button>
				</div>
			</div>
		</div>

		<div class="exploration">
			<div class="header" style="background-image: url(img/alaska/paddle/m_exploration1.jpg)">
				<h3 data-i18n="[html]alaska.one.explorations.thermal.title"></h3>
				<button><span></span><span data-i18n="[html]alaska.one.explorations.thermal.video"></span></button>
			</div>
			<div class="content">
				<span class="subtitle" data-i18n="[html]alaska.one.explorations.thermal.subtitle"></span>
				<div data-i18n="[html]alaska.one.explorations.thermal.detail"></div>
			</div>
		</div>

		<div class="exploration">
			<div class="header" style="background-image: url(img/alaska/paddle/m_exploration1.jpg)">
				<h3 data-i18n="[html]alaska.one.explorations.thermal.title"></h3>
				<button><span></span><span data-i18n="[html]alaska.one.explorations.thermal.video"></span></button>
			</div>
			<div class="content">
				<span class="subtitle" data-i18n="[html]alaska.one.explorations.thermal.subtitle"></span>
				<div data-i18n="[html]alaska.one.explorations.thermal.detail"></div>
			</div>
		</div>

	</div>

</section>