
@media (min-width:992px){

     .small{
          font: 11px Arial;
     }

     body{
          padding-top:80px;
     }
     
     header.main{

          .container{
          }

          .navbar-collapse{
               position: relative;
               background-color: transparent;
               padding: 0;
               z-index: 5;
               width: 100%;
               float: right;
               top: 30px;
               ul.main-nav{
                    background-color: transparent;
                    float: none;
                    text-align: center;
                    li{
                         background-color: transparent;
                         border: 0;
                         padding: 0px ;
                         position: relative;
                         display: inline-block;
                         float: none;
                         margin: 0 5px;

                         &:first-child{
                              margin-top: 0;
                         }
                         a{
                              padding: 0px;
                              margin: 0 0 0 20px;
                              font-size: 14px;

                              &.dropdown-toggle{
                                  margin: 0 0 0 20px;
                              }
                         }
                    }
               }
          }

     }

     footer.main{
          background-color: #000;

          .r18{
               padding-bottom: 10px;
               margin-top: 5px;
               margin-bottom: 5px;
          }
          .row{
               margin: 0px;
               height: auto;
               padding: 0 0 5px;
               nav{
                    margin-bottom: 0;
                    text-align: left;
                    padding-left: 50px;
                    padding-top: 3px;
                    padding: 2px;
               }
               .copyright{
                    text-align: right;
                    padding: 3px 50px 2px 0;
                    margin:0;
               }
          }


          .government-warning{
               span{
                    font-size: 28px;
                    margin: auto;
                    height: 70px;
                    width: 800px;
               }
          }
     }

     section.main{
          .wrapper{
               top: initial;
          }
         
          /*quiz*/
          .premium-quiz{
               width: 700px;
               padding: 0;
               left: 50%;
               margin-left: -350px;
          }


          /* detailer */

          .wrapper.detailer-01{
              
          }

          .wrapper.detailer-02{
               background-position: 60% 50% ;
               background-size: auto;
          }

          .wrapper.detailer-03{
               background-position: 80% -80px ;
          }

          .wrapper.detailer-04{
               background-position: 450px top;
          }

          .wrapper.detailer-05{
               background-position: 450px top;
          }

          .wrapper.detailer-07{
               background-position: 450px 60%;
               background-size: 60%;
          }

          .detailer-copy{

               &.copy-01{
                    margin-top: 120px;
               }

               &.copy-02{
                    .vertical-align();
                    margin-top: -20px;
                    width: 400px;
               }

               &.copy-03{
                    width: 500px;
                    .vertical-align();
                    margin-top: 0;
                    margin-left: 100px;
               }

               &.copy-04{
                    width: 400px;
                    .vertical-align();
                    margin-top: 0;
                    margin-left: 100px;
               }

               &.copy-05{
                    .vertical-align();
                    margin-top:0;
                    margin-left: 100px;
               }

               &.copy-06{
                    .vertical-align();
                    margin-top: 0;
                    margin-left: 100px;
                    width: 400px;
               }

                &.copy-07{
                    .vertical-align();
                    margin-top: 0;
                    margin-left: 100px;
               }
          }

          /*find premium*/
          .find-premium{
              ul.find{
                    width: 100%;
                    margin: 0 auto;

                    li{
                         width: 20%;
                         margin:10px 20px;
                         vertical-align: top;
                    }
              }
          }
     }

}

@media (min-width:1200px){

     /* template*/
     footer.main{
          .row{
               nav{padding-left: 100px}
               .copyright{padding-right: 100px;}
          }


          .government-warning{
               span{
                    font-size: 28px;
                    margin: auto;
                    height: 40px;
                    width: 100%;
               }
          }
     }
}

@media (min-width:1440px){
      /* template*/
     
     footer.main{
          .government-warning{
               span{
                    font-size: 34px;
                    margin: auto;
                    height: 40px;
               }
          }
     }
}