@media (min-width:768px){
     /*override*/
     .container.main{margin: 50px auto 20px;}

    
     body{
          padding-top: 60px;
     }



     /*template*/
     header.main{
          background-image: none;
          


          .container{
               position: relative;
               height: 1px;
          }
          .logo{
               width: 194px;
               height: 80px;
          }

          .navbar-collapse{
               float: right;
               width: 400px;
          }
     }


     footer.main{
          position: fixed;
          margin-top: 0;
          text-shadow:0px 0px 3px #000;
          padding-top: 0;
          font-size: 12px;
          line-height: 12px;
          background: #000;
          .r18{
               margin-top: 0px;
               padding: 5px 200px;
          }
          .row{
               margin-top: 2px;
               padding: 5px 0;
               text-align: right;
          }

          nav{
               padding-left: 20px;
          }
          .copyright{
               margin-top: 10px;
          }

          .government-warning{
               span{
                    font-size: 28px;
                    margin: auto;
                    height: 80px;
                    font-weight: normal;
               }
          }
     }

     section.main{
          .wrapper{
               top: initial;
          }
          /*quiz*/
          .premium-quiz{
               padding: 0px 50px;
               .vertical-align;

               .quiz{
                    .answers{
                         li{
                              width: 200px;
                         }
                    }
               }

               // .quiz{
               //      .question{
               //      }

               //      .answers{
               //           list-style: none;
               //           margin-top: 50px;
               //           margin-bottom: 50px;
               //           li{
               //                width: 200px;

               //                span{
               //                     .vertical-align;
               //                     left: 0;
               //                     width: 100%;
               //                     text-align: center;
               //                }
               //           }
               //      }
               // }

               .quiz-start{
                    margin-top: 0;

                    p{
                         width: 400px;
                    }
               }
          }

          /* detailer */
          .page-ctrl{
               top: initial;
               bottom: 10%;
               width: 70px;
               button{
                    opacity: 1;
                    font-size: 50px;
               }
          }

          .detailer-wrapper{
               padding-bottom: 0px;
          }

          .wrapper.detailer-01{
              
          }

          .wrapper.detailer-02{
               background-position: right 40px ;
               background-size: auto;
          }

          .wrapper.detailer-03{
               background: #000 url(../images/bg-detailer-03.jpg) no-repeat;
               background-position: 150px -80px ;
          }

          .wrapper.detailer-04{
               background: #000 url(../images/bg-detailer-04.jpg) no-repeat;
               background-position: right 0px ;
          }

          .wrapper.detailer-06{
               background: #000 url(../images/bg-detailer-05.jpg) no-repeat;
               background-position: right 50px ;
          }

           .wrapper.detailer-05{
               background-size: auto;
          }

          .wrapper.detailer-07{
               background: #000 url(../images/bg-detailer-05.jpg) no-repeat;
               background-position: center 20px ;
          }

          .detailer-copy{

               h2{
                    font-size: 18px;
               }

               &.copy-01{
               }

               &.copy-02{
                    margin-top: 45%;
               }

               &.copy-03{
                    margin-top:450px;
               }

               &.copy-04{
                    margin-top:360px;
               }

               &.copy-05{
                    margin-top:400px;
                    width: 300px;
               }

               &.copy-06{
                    margin-top:400px;
                    width: 600px;
                    margin-left: 50px;
               }

               &.copy-07{
                    margin:420px auto;
                    width: 320px; 
               }
          }

          /*find premium*/
          .find-premium{
              ul.find{
                    width: 700px;
                    margin: 0 auto 20px;

                    li{
                         width: 30%;
                         margin:10px;
                    }
              }
          }
     }

     .popup, .lytebox-content.lytebox-dialog{
          background: #000;
          .box-shadow( 0px 0px 20px rgba(100, 100, 100, 0.3));
          width: 600px;
          overflow: hidden;
          .rounded(25px);
          padding:18px 20px 20px;
          overflow: hidden;
          border:0;
          left: 50%;
          -webkit-transform : translateX(-50%);
          -moz-transform : translateX(-50%);
          transform : translateX(-50%);

          h1,h2,h3,h4{
               margin-top: 0px;
          }

           h1.lytebox-title{
               .font-default-bigger;
               font-size: 34px;
          }

          .txtleft{
               text-align: left;
          }
          .txtright{
               text-align: right;
          }

         

          .content{
               position: relative;
               min-height: 80px;
               padding: 20px;
               padding-bottom: 20px;
               z-index: 3;
               overflow: hidden;
               .rounded(5px);
               border: dashed 0px;
               border-color: #222;
               font-family: 'Avenir';

               &:after, &:before{
                    content: '';
                    position: absolute;
                    top:0;
                    width: 20px;
                    height: 100%;
                    z-index: 1
               }
                &:after{ right: -8px; } &:before{ left: -8px;}
          }

          .scrollable{
               height: 200px;
               overflow:auto;
               margin-top: 10px;
               padding-right: 10px;
               font-family: 'Avenir'

          }

          .scrollable-small{
               height: 150px;
               overflow:auto;
               margin-top: 10px;
               padding-right: 10px;
               font-family: 'Avenir'
          }

          .popup-close, .lytebox-dialog-close{
               font: bold 26px arial;
               color: #999; 
               top: 11px;
               width: 40px;
               height: 30px;
               padding-left: 5px;
               right: -8px;
               span{
                    display: none;
               }
          }
     }


    
}