@import 'core.less';
/*bootstrap override*/
.row.container{margin: 0 auto;}
.container.main{margin: 10px auto}
.row.main > div{ padding: 0; margin: 0}
/*common style*/
.font-default-small{
     font-family: 'Blair';
     font-size: 12px;
}
.font-default-regular{
     font-family: 'Blair';
     font-size: 16px;
}
.font-default-big{
     font-family: 'Blair';
     font-size: 20px;
}

.font-default-bigger{
     font-family: 'Blair';
     font-size: 24px;
}

.font-default-btn{
     font-family: 'Blair';
     font-size: 22px;
}



@color-marlboro-red : #c00;

.gradient-horizontal-gray{
     background: rgba(61,61,61,0.55);
     background: -moz-linear-gradient(left, rgba(61,61,61,0.55) 0%, rgba(61,61,61,1) 52%, rgba(61,61,61,0.55) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,61,61,0.55)), color-stop(52%, rgba(61,61,61,1)), color-stop(100%, rgba(61,61,61,0.55)));
     background: -webkit-linear-gradient(left, rgba(61,61,61,0.55) 0%, rgba(61,61,61,1) 52%, rgba(61,61,61,0.55) 100%);
     background: -o-linear-gradient(left, rgba(61,61,61,0.55) 0%, rgba(61,61,61,1) 52%, rgba(61,61,61,0.55) 100%);
     background: -ms-linear-gradient(left, rgba(61,61,61,0.55) 0%, rgba(61,61,61,1) 52%, rgba(61,61,61,0.55) 100%);
     background: linear-gradient(to right, rgba(61,61,61,0.55) 0%, rgba(61,61,61,1) 52%, rgba(61,61,61,0.55) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#3d3d3d', GradientType=1 );
}

.vertical-align(){
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-align{
     .vertical-align();
}
.clearfix{clear: both;}
.txtcenter{text-align: center;} .txtright{text-align: right} .txtleft{text-align: left}.m-auto{margin: 0 auto}
h1, h2, h3, h4, h5{ font-family: 'Blair'; font-weight: normal !important; margin-top: 10px } ol.abc{list-style-type:lower-alpha;}

a{
     outline: none !important; color: @color-marlboro-red; 
     &:hover, &:active, &:visited, &:focus{
          color: @color-marlboro-red; 
     }
}

body{
     background-color: #000;
     font-size: 18px;
     line-height: 18px;
     font-family: 'winsoft';
     color: #fff;
     padding-top: 80px;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

*{
   -webkit-font-smoothing: antialiased;
   -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;  
}
input, select{ .rounded(0px); border: solid 1px #ccc; font-size: 13px Arial} label{font-weight: normal;}

.mauto{margin-left: auto;margin-right: auto;}
.small{
	font-size: 11px;
}
/*end common style*/

.btn{
     .font-default-small;
     display: inline-block;
     position: relative;
     border: none;
     background: transparent;
     margin: 10px;
     text-decoration: none !important;

     i{
          position: relative;
          color: #fff;
          padding: 8px 20px;
          min-width: 180px;
          display: block;
          z-index: 2;
          font-style: normal;
     }

     &:before{
          .linear-gradient(left, rgb(0, 0, 0), rgb(80, 0, 0),#900);
          left:0;
          .rounded(2px 0 0 2px );
     }

     &:after{
          .linear-gradient(left, rgb(80, 0, 0), rgb(0, 0, 0),#900);
          left:50%;
          .rounded(0 2px 2px 0);
     }

     &:before, &:after{
          content: '';
          width: 50%;
          height: 100%;
          bottom: 0px;
          position: absolute;
          z-index: 1;
          cursor: pointer;
     }

     &:hover{
          &:before{
               .linear-gradient(left, rgb(0, 0, 0), rgb(255, 0, 0),#900);
          }

          &:after{
               .linear-gradient(left, rgb(255, 0, 0), rgb(0, 0, 0),#900);
          }
     }

    

}

a *{
     color: #000;
     text-decoration: none;
}


.line-separator{
     position: relative;
     width: 75%;
     margin: 5px auto;
     border: solid 1px transparent;

     &:before{
          .linear-gradient(left, rgba(255, 0, 0, 0), rgb(255, 0, 0),#900);
          left:0;
     }

     &:after{
          .linear-gradient(left, rgb(255, 0, 0), rgba(255, 0, 0, 0),#900);
          left:50%;
     }

     &:before, &:after{
           content: '';
          width: 50%;
          height: 2px;
          bottom: 0px;
          position: absolute;
          z-index: 1;
     }
}

/*template*/
header.main{
     position: fixed;
     height: 60px;
     width: 100%;
     top: 0;
     z-index: 101;
     background:#000;

     &:before{
          .linear-gradient(left, rgba(200, 0, 0, 0), rgb(200, 0, 0),#f00);
          left:0;
     }

     &:after{
          .linear-gradient(left, rgb(200, 0, 0), rgba(200, 0, 0, 0),#f00);
          left:50%;
     }

     &:before, &:after{
           content: '';
          width: 50%;
          height: 2px;
          bottom: 0px;
          position: absolute;
          z-index: 1;
     }

     .container{
     	padding: 0;
     }

     .navbar-toggle{
          position: absolute;
          border-radius: 0;
          border: none;
          padding: 0;
          right: 0;
          top: 0;
          z-index: 3;
          &:hover, &:active, &:focus{
               background: transparent;
               border: none;
               outline: none;
          }

          span{
               width: 42px;
               height: 7px;
               margin: 0 0 5px;
               background-color: #c00;
          }
     }

	.navbar-collapse{
          position: relative;
          max-height: none;
          top:60px;

		ul.main-nav{
               margin-top: 0px;
			margin-bottom: 0px;
               background:#111;

			li{
				border-bottom: solid 1px #000;

				a{
                         font-size: 12px;
					color: #fff;
					outline: none;
                         padding: 10px 10px 10px 40px;
                         .font-default-regular;

                         &:hover, &:active, &:focus{
                              background: #000;
                         }

				}

				&.active{
					& > a{
						color:@color-marlboro-red;
					}

                          &:hover{
                              & > a{
                                   color: #f00;
                              }
                         }
				}


			}

		}
	}  
}

section.main{


     .wrapper{
          min-height: 340px;
          position: relative;
          .box-sizing(border-box);
          // background-image: url(../images/bg-generic.jpg);
          background-size: contain;
          background-repeat: no-repeat;
          background-color: #000;
          background-position: center 20px;
          background-attachment:fixed;
          color: #aaa;
          z-index: 2;
          top: -20px;
     }

     position: relative;
     z-index: 1;    

     .container{
     }

     .wrapper.parallax{
          background-image: none;
          padding: 0;
     }

     /*quiz*/

     .wrapper.quiz{
     }

     .premium-quiz{
          text-align: center;
          display: block;
          width: 100%;
          padding-top: 30px;

          .quiz{
               display: none;
               -webkit-transition: all 800ms;
               transition: all 800ms;

               .question{
                    color: #f1f1f1;
                    font: 16px 'Blair';
                    line-height: 15px;
               }


               .answers{
                    list-style: none;
                    padding: 0;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    li{
                         display: inline-block;
                         width: 280px;
                         padding: 10px 20px;
                         position: relative;
                         margin: 10px;
                         vertical-align: top;
                         cursor: pointer;

                         span{
                              position: relative;
                              z-index: 2;
                              color: #ccc;
                              font: 12px 'Blair';
                              line-height: 15px;
                         }

                         &:before{
                              .linear-gradient(left, rgba(0,0,0,0.3), rgba(60,60,60,0.9),#333);
                              left:0;
                         }

                         &:after{
                              .linear-gradient(left, rgba(60,60,60,0.9), rgba(0,0,0,0.3),#333);
                              left:50%;
                         }

                         &:before, &:after{
                               content: '';
                              width: 50%;
                              height: 100%;
                              bottom: 0px;
                              position: absolute;
                              z-index: 1;
                         }
                         &.selected{

                               &:before{
                                   .linear-gradient(left, rgba(99,15,15,0), rgba(99,15,15,0.7),#f00);
                                   left:0;
                              }

                              &:after{
                                   .linear-gradient(left, rgba(99,15,15,0.7),  rgba(99,15,15,0),#f00);
                                   left:50%;
                              }
                         }
                    }
               }
          }

          .quiz-start{
               margin-top: 50px;
               display: block;

               p{
                    margin:20px auto 0;
                    .font-default-small;
                    width: 200px;
               }
          }
     }

     /* detailer */
     .page-ctrl{
          position: absolute;
          z-index: 3;
          top:40%;
          width: 94%;
          left: 50%;
          .transform(translateX(-50%));


          button{
               background: transparent;
               border: none;
               color: #fff;
               font: bold 40px Arial;
               padding: 0;
               line-height: 50px;
               cursor: pointer;
               opacity: 0.3;
              &.prev{
                    float: left;
               }

               &.next{
                    float: right;
               }

               &.disable{
                    color: #777;
                    cursor: default;
               }
          }
     }
     .detailer-wrapper{
          padding-bottom: 60px;
          position: relative;
          width: 100%;
     }
     .wrapper.detailer-01{
          background: #000;
     }

     .wrapper.detailer-02{
          background: #000 url(../images/bg-detailer-02.jpg) no-repeat;
          background-position: right 20px ;
          background-size: 90%;
     }

     .wrapper.detailer-03{
          background: #000 url(../images/bg-detailer-03-mobile.jpg) no-repeat;
          background-position: right -50px ;
     }

     .wrapper.detailer-04{
          background: #000 url(../images/bg-detailer-04-mobile.jpg) no-repeat;
          background-position: right 0px ;
     }

     .wrapper.detailer-06{
          background: #000 url(../images/bg-detailer-05-mobile.jpg) no-repeat;
          background-position: right 0px ;
     }

     .wrapper.detailer-05{
          background: #000 url(../images/bg-detailer-06.jpg) no-repeat;
          background-position: right 0px ;
          background-size: 100%;
     }

     .wrapper.detailer-07{
          background: #000 url(../images/bg-detailer-05-mobile.jpg) no-repeat;
          background-position: right -20px ;
     }

     .detailer-copy{


          color: #fff;
          font: 14px  Eurostile;
          text-shadow: 0px 0px  2px #000;
          padding: 0px 20px;
          text-transform: uppercase;
          padding-bottom:75px;
          h2{
               font-family: Eurostile;
               font-weight: bold !important;
               font-size: 16px;
               color: #fff;
               position: relative;
               display: inline-block;
               padding: 0;
               transition: all 300ms;
               height: 25px;
               margin-bottom: 25px;
                &:before{
                    .linear-gradient(left, rgba(255, 0, 0, 0), rgb(255, 0, 0),#900);
                    left:0;
               }

               &:after{
                    .linear-gradient(left, rgb(255, 0, 0), rgba(255, 0, 0, 0),#900);
                    left:50%;
               }

               &:before, &:after{
                     content: '';
                    width: 50%;
                    height: 2px;
                    bottom: -5px;
                    position: absolute;
                    z-index: 1;
               }
          }

          &.copy-01{
               text-align: center;
               margin-top: 40%;
          }

          &.copy-02{
               margin-top: 60%;
          }

          &.copy-03{
               margin-top: 70%;
          }

          &.copy-04{
               margin-top: 70%;
          }

          &.copy-06{
               margin-top: 70%;
          }

          &.copy-05{
               margin-top: 50%;
          }

          &.copy-07{
               margin-top: 70%;
               text-align: center;
          }
     }

      /*find premium*/
     .find-premium{
          .title{
               position: relative;
               margin: 40px auto 20px;
               width: 100%;
               max-width: 500px;
               img{
                    max-width: 100%;
                    margin: 0 auto 10px;
                    display: block;
               }
          }

          ul.find{
               list-style: none;
               padding: 0;
               width: 280px;
               margin: 0 auto;

               li{
                    cursor: default;
                    display: inline-block;
                    position: relative;
                    padding: 10px;
                    margin: 0 0 10px; 
                    width: 100%;
                    cursor: pointer;
                    text-align: center;

                    &.head{
                         text-align: left;
                         font: 18px Blair;
                         color: #900;
                         display: block;
                         margin-bottom: 0px;
                         padding-bottom: 0px;
                         &:before, &:after{
                              display: none;
                         }
                    }
                    span{
                         position: relative;
                         z-index: 2;
                         color: #fff;
                         font: 12px 'Blair';
                         line-height: 15px;
                    }

                    small{
                         display: block;
                         position: relative;
                         z-index: 2;
                         color: #fff;
                         font: 8px 'Blair';
                         line-height: 12px;
                         width: 150px;
                         margin: 10px auto 0;
                         height: 0;
                         overflow: hidden;
                    }

                    &:before{
                         .linear-gradient(left, rgba(40,40,40,0.3), rgba(70,70,70,0.9),#900);
                         left:0;
                    }

                    &:after{
                         .linear-gradient(left, rgba(70,70,70,0.9), rgba(40,40,40,0.3),#900);
                         left:50%;
                    }

                    &:before, &:after{
                          content: '';
                         width: 50%;
                         height: 100%;
                         bottom: 0px;
                         position: absolute;
                         z-index: 1;
                         transition: all 800ms;
                    }

                    &.active{

                         small{
                              height: auto;
                         }

                         &:before{
                              .linear-gradient(left, rgba(90,0,0,0.3), rgba(90,15,15,0.9),#900);
                              left:0;
                         }

                         &:after{
                              .linear-gradient(left, rgba(90,15,15,0.9), rgba(90,0,0,0.3),#900);
                              left:50%;
                         }

                    }

                     &:hover:not(.active){
                          &:before{
                              .linear-gradient(left,rgba(70,70,70,0.9), rgba(70,70,70,0.9), #900);
                              left:0;
                         }

                         &:after{
                              .linear-gradient(left,  rgba(70,70,70,0.9),rgba(70,70,70,0.9),#900);
                              left:50%;
                         }
                    }
               }
          }
     }

}

footer.main{
     position: fixed;
     bottom: 0;
     width: 100%;
     line-height: 7px;
     font-size: 9px;
     line-height: 10px;
     text-transform: uppercase;
     z-index: 2;
     border-top: solid 1px #333;
     background: #101010;
     font-family: Maybebold;

     .r18{
     	text-align: center;
          padding: 4px 20px 0;
          border-bottom: solid 1px #333 ;
     }

     .row{
          
          margin: 5px 0 0;

     }
     nav{
     	text-align: center; 
          padding: 0;
          a{
          	color: #fff;
               margin: 0px 3px;
               cursor: pointer;
               padding: 0px;
               display: inline-block;
          }
     }

     .copyright{
          text-align: center; 
          margin: 3px 0;
     }
     .government-warning{
          position: relative;
          background-color: #000;
          width: 100%;
          z-index: 102;
          border-top: solid 1px #333;

          span{
               font: bold 13px Arial;
               color: #fff;
               display: block;
               text-align: center;
               position: absolute;
               top:0;
               bottom: 0;
               left:0;
               right: 0;
               margin: auto;
               height: 40px;
               padding: 0px 5px;
          }
     }
}


.popup{
     position: relative;
     background: #000;
     top:0px;
     padding: 20px;
     margin-bottom: 50px;
     .rounded(10px);
     border: solid 2px #444;


     .scrollable{
          font-size: 11px;
          text-align: left;
          margin-top:20px;
          max-height: 200px;
          overflow: auto;
     }


     .content{
          h1,h2,h3,h4,h5,h6{
               font-family: 'Blair', Arial;
          }

          h1{font-size: 18px;}
          h2{font-size: 16px;}
          h3{font-size: 14px;}
          h4{font-size: 12px;}

         p{
           font: 16px 'winsoft'
         }

     }
      .popup-close, .lytebox-dialog-close{
          top: -30px;
          width: 70px;
          text-align: left;
          .font-default-regular;
          font-size: 45px;
          color: #c00;
          line-height: 8px;
          padding: 0;
     }

     p.terms{
          font-size: 11px;
          text-align: left;
          line-height: 10px;
          margin-top: 10px;
          color:#ccc
     }
}


@import 'style-tablet.less';
@import 'style-desktop.less';