<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<html>
<body style="margin:0; padding:0; width:100% !important;">
<table border="0" cellpadding="0" cellspacing="0" valign="top" align="center" width="720px" style="border-style:solid; border-width:1px;border-color:#000000;">
<tr>
	<td>
		<table bgcolor="#f7f7f7" border="0" cellpadding="0" cellspacing="0" valign="top" align="center" width="720px">
			<tr>
				  <td width="720px" height="287px" valign="top">
						<img src="{{url}}images/referral-assets/01_01.jpg" width="720px" height="287px" style="vertical-align: bottom; display:block; border:0;" />
				  </td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" valign="top" align="center" width="720px">
			<tr>
				  <td bgcolor="#ffffff" width="106px" height="389px" valign="top">
						<img src="{{url}}images/referral-assets/01_02.jpg" width="106px" height="389px" style="vertical-align: bottom; display:block; border:0;" />
				  </td>
				  <td bgcolor="#ffffff" width="614px" height="389px" valign="top">
				   <p style="font-size:16px;font-family:arial, helvetica;font-weight:regular;color:#1b1b1b;padding:0px 0px 0px 0px; margin:0px; line-height:22px;">
						Hey {{LAS2_FIRSTNAME}}!<br /><br />

						What's up? Thought it'd be cool to tell you about this exclusive community <br />
						of adult smokers I'm part of. I get access to the hottest events, have first dibs<br />
						on the latest products, and I can win big in promotions!<br /><br />

						Join me and start collecting points to get instant prizes, or bid on VIP concert <br />
						tickets and the latest gadgets &#8212; such as tablets and smartphones.<br /><br />

						Accept my invite and claim your welcome gift &#8212; a limited edition shirt!” <br /><br />

						See you there!<br /><br />
						
						{{LAS1_FIRSTNAME}}
				  </p>
				  
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" valign="top" align="center" width="720px">
			<tr>
				  <td bgcolor="#ffffff" width="431px" height="52px" valign="top">
						<img src="{{url}}images/referral-assets/01_04.jpg" width="431px" height="52" style="vertical-align: bottom; display:block; border:0;" />
				  </td>
				  <td bgcolor="#ffffff" width="240px" height="52px" valign="top">
					<a href="https://marlboro.ph/user/register?ref={{REFERRAL_CODE}}" name="sign_up" xtlinkname="sign_up" xt="SPCLICK" target="_blank" style="outline:0;">
						<img src="{{url}}images/referral-assets/01_05.jpg" width="240px" height="52px" style="vertical-align: bottom; display:block; border:0;" />
					</a>
				</td>
				  <td bgcolor="#ffffff" width="49px" height="52px" valign="top">
						<img src="{{url}}images/referral-assets/01_06.jpg" width="49px" height="52px" style="vertical-align: bottom; display:block; border:0;" />
				  </td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table bgcolor="#f7f7f7" border="0" cellpadding="0" cellspacing="0" valign="top" align="center" width="720px">
			<tr>
				  <td width="720px" height="172px" valign="top">
						<img src="{{url}}images/referral-assets/01_07.jpg" width="720px" height="172px" style="vertical-align: bottom; display:block; border:0;" />
				  </td>
			</tr>
		</table>
	</td>
</tr>
</table>
<p style="font-size:10px;font-family:arial, helvetica;font-weight:regular;color:#000000;padding:0px; margin:0px; text-align:center;">
							Click <a name="unsubscribe_html" href="#SPOPTOUT" xt="SPOPTOUT" xtlinkname="unsubscribe_html" target="_blank" style="color:#000000;"><strong>here</strong></a> if you want to stop receiving invites
							</p>
</body>
</html>
