html, body{
}

.lytebox{
     display: none;
     position: fixed;
     top:0;
     left: 0;
     width: 100%; 
     background-color: rgba(0,0,0,0.95);
     z-index: 9;
}
     
      .lytebox .lytebox-content-holder{
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
     }
          .lytebox .lytebox-content{
               position: relative;
               display: block;
               min-height: 100px;
          }
               .lytebox .lytebox-content.left{text-align: left;}
               .lytebox .lytebox-content.right{text-align: right;}
               .lytebox .lytebox-content.center{text-align: center;}

               .lytebox  h1.lytebox-title{
                    margin: 0;
                    padding: 10px 15px 5px;
                    font: 20px Arial;

               }

               .lytebox .lytebox-message{
                    padding:5px 15px 15px;
               }

               /*.lytebox .lytebox-buttons{
                    padding: 5px 15px 15px;
               }
                    .lytebox button{
                         border: 1px solid #999;
                         margin: 0px 2px;
                         padding: 5px 10px;
                         background-color: #f1f1f1;
                    }
*/
               .lytebox .lytebox-buttons.left{text-align: left;}
               .lytebox .lytebox-buttons.right{text-align: right;}
               .lytebox .lytebox-buttons.center{text-align: center;}

               .lytebox .lytebox-dialog-close{
                   position: absolute;
                   cursor: pointer;
                   /*  right: 0px;
                    top: 0px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: #fff;
                    background-color: #fff;
                    font: 18px arial;
                    line-height: 30px;
                    background-color: #aaa;*/

               }

/*inline popup*/
.lytebox-wrap{
     display: none;
}

.lytebox-wrap .lytebox-wrapped-content{
     display: none;
}

@media (max-width: 767px){
     .lytebox .lytebox-content{
          position: relative;
          display: block;
          width: 90% !important;
     }   
}




.lytebox .lytebox-close, .lytebox .popup-close{
          width:20px;
          height:20px;
          padding:0px 5px 6px 5px;
          border: none;
          background: transparent;
          text-align:center;
          font: bold 25px arial;
          color:#ccc;
          position: absolute;
          top: 20px;
          right: 25px;
          cursor: pointer;
          z-index: 9;
          }
          .lytebox  .popup-close{
               top: 10px;
               right: 10px;
          }

.lytebox-buttons button{
          background: url(../images/pattern-red.png)  0px -43px repeat-x;
          padding: 0px 2px;
          margin-right: 10px;
          margin-left: 10px;
          border: 0;
          color: #fff;
          text-transform: uppercase;
          position: relative;
          text-align: center;
          display: inline-block;
          cursor: pointer;
          }
               .lytebox-buttons button i{
                    font-style: normal;
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0 auto;
                    min-width: 80px;
                    font-size: 28px;
                    height: 40px;
           }
               .lytebox-buttons button:before, .lytebox-buttons button:after{
                    content: '';
                    position: absolute;
                    width: 4px;
                    top:0;
                    background: url(../images/pattern-red.png)  0 0 ;
                    background-repeat: no-repeat;
                    height: 40px;
          }
               .lytebox-buttons button:before{
                      left:-4px;
                }
               .lytebox-buttons button:after{
                      background-position: -27px 2px;
                      right: -4px;
                }

                .lytebox-buttons button:hover{
                      background-position: 0px -85px;
                }

                .lytebox-buttons button:hover:before{
                      background-position: -34px 2px;
                }
                .lytebox-buttons button:hover:after{
                      background-position: -61px 2px;
                }


.lytebox-preload{
     background: none !important;
     width: 300px !important;
     box-shadow: none !important;
}

.lytebox-preload .content{
     background: none !important;
     text-align: center;
}

.lytebox-preload .content:before, .lytebox-preload .content:after, .lytebox-preload:before, .lytebox-preload:after{
     background: none !important;
}



.lytebox .preload{
     background: url(../images/preloader.gif);
     background-size: cover;
     width: 40px;
     height: 40px;
     margin: 0 auto;
}