

.font-default-small{
     font-family: 'Maybebold';
     font-size: 12px;
}
.font-default-regular{
     font-family: 'Maybebold';
     font-size: 16px;
}
.font-default-big{
     font-family: 'Maybebold';
     font-size: 20px;
}

.font-default-bigger{
     font-family: 'Maybebold';
     font-size: 24px;
}

.font-default-btn{
     font-family: 'Maybebold';
     font-size: 22px;
}


     /* premium black */

.wrapper.premium{

          background:  #000 !important;

     .countdown{

          text-align: center;
          color:#fff;
          height: 80%;
          width: 320px;
          position: absolute;
          left: 50%;
          margin-left: -160px;

          &.teaser-01{
               background: url(../images/bg-premium-black-teaser-01.jpg) no-repeat center 3%;
               background-size: contain;
          }

          &.teaser-02{
               background: url(../images/bg-premium-black-teaser-02.jpg) no-repeat center 3%;
               background-size: contain;
          }

          .container{
               position: relative;
               top:50%;
               width: 100%;

               p{
                    font-size: 11px;
                    font-family:  'Blair', Avenir;
                    margin: 5px 0 0;
                    color: #777;
               }
          }

          .line {
               position: relative;
               height: 10px;
               &:before{
                    .linear-gradient(left, rgba(200, 0, 0, 0), rgb(200, 0, 0),#f00);
                    left:0;
               }

               &:after{
                    .linear-gradient(left, rgb(200, 0, 0), rgba(200, 0, 0, 0),#f00);
                    left:50%;
               }

               &:before, &:after{
                     content: '';
                    width: 50%;
                    height: 2px;
                    top: 5px;
                    position: absolute;
               }
          }
          ul{
               position: relative;
               list-style: none;
               text-align: center;
               padding: 0;
               margin: 0;
          }

          li{
               &:first-child{margin-left: 0}
               &:last-child{margin-right: 0}

               display: inline-block;
               text-align: center;
               margin: 0 10px;
               .font-default-regular;
               i{
                    display: block;
                    color: #ccc;
                    font: normal 12px arial;
               }

               span{
                    display: block;
                    margin-top: 10px;
                    font-size: 28px;
                    color: #fff;
                    font-family: arial;
               }
          }
     }   
}
@media (min-width:768px){
     /* premium black */
     .wrapper.premium{

          .countdown{
               width: 760px;
               margin-left: -380px;

               &.teaser-02{
                    background: url(../images/bg-premium-black-teaser-02.jpg) no-repeat center 20%;
                    background-size: 630px auto;
               }

               .container{
                    margin: 0 auto;
                    width: 350px;
                    left:0;
                    top: 70%;

                    ul li{

                         margin: 0 13px;

                         &:first-child{margin-left: 0}
                         &:last-child{margin-right: 0}
                    }
               }

          }
     }

//end media    
}

@media (min-width:992px){

     /* premium black */
     .wrapper.premium{

          .countdown{
               width: 900px;
               margin-left: -450px;
               &.teaser-01{
                    background-position: right center;
                    background-size:auto;
               }
               &.teaser-02{
                    background-position: 115% center;
               }

               .container{
                    left: -20px;
                    top: 40%;
                    margin: 0;
               }

               .line{
                    margin: 10px 0;
               }


               .hasCountdown{
                    margin-top: 30px
               }


          }
     }

//end media     
}