
@media (min-width:992px){
     p.uc{ 
          .font-default-regular;
     }
     .small{
          font: 11px 'Avenir';
     }

     .red{
          color: #c00;
     }
     body{
         font-size: 13px;
         font-family: 'Avenir';
     }
     
     header.main{
          height: 65px;
          .grunge-foreground{
               height: 65px;
               z-index: 3
          }

          .grunge-background{
               .rotation(2.5deg);
               position: absolute;
               background-image: url(../images/header-grunge-background.png);
               background-position: -100px bottom;
               background-repeat: repeat-x;
               display: block;
               height: 190px;
               width: 101%;
               top: -95px;
               left: 0;
               right: 0;
               z-index: 2
          }

          .logo{
               width: 252px;
               height: 95px;
               z-index: 4;
               left: -30px;
               }

          .container{
               height: 80px;
          }
          .container.newsfeed-holder{
               height: 1px;
          }
          .navbar-collapse{
               position: relative;
               background-color: transparent;
               padding: 0;
               z-index: 5;
               width: 770px;
               float: right;

               ul.main-nav{
                    margin-top: 12px; 
                    li{
                         background-color: transparent;
                         border: 0;
                         padding: 0px !important;
                         position: relative;

                         &:first-child{
                              margin-top: 0;
                              a{ margin-left: 0 !important;}
                         }
                         a{
                              padding: 0px;
                              font-size: 22px;
                              margin: 0 0 0 20px;

                              &.dropdown-toggle{
                                  margin: 0 0 0 20px;

                                  .caret{margin-left: 0px}
                              }
                         }
                         .dropdown-menu{
                              position: absolute;
                              padding: 0;
                              margin: 0;
                              left: 50%;
                              margin-left: -87px;
                              top: 25px;
                              width: 175px;
                              border: none;
                              background: rgba(0, 0, 0, 0.8);

                              &:before{
                                   content: '';
                                   position: absolute;
                                   width: 230px;
                                   height: 20px;
                                   background: url(../images/navdropdown.png);
                                   left: -30px;
                                   top: -7px;
                                   z-index: 2;
                              }
                              li{
                                   a{
                                        font-size: 20px;
                                        margin: 0;
                                        padding: 0 20px;
                                   }
                              }
                         }

                         &:hover{
                              background: transparent;
                         }

                         &#profiling_nav{
                              position: static;
                              a{
                                   background-color: #cb0000;
                                  background-size: auto 102%;
                                  border: 2px solid #fff;
                                  border-radius: 8px;
                                  box-shadow: 0 0 6px #000;
                                  height: 30px;
                                  width: 32px;
                              }
                         }
                    }
               }

               ul.sub-nav{
                    margin: 0;
                    margin-top: 20px;
                    li{
                         margin-bottom: 2px;
                         padding: 0px;
                         a{
                              padding: 0px 20px;
                              text-shadow:1px 1px 2px #000;
                              font-size: 18px;

                              &:last-child{
                                   padding-right: 0;
                              }

                              // span{
                              //      color: #c00;
                              // }
                              .glyphicon{
                                   color: #fff;
                                   font-size: 15px;
                                   margin-top: 1px;
                                   margin-left: 5px;
                                   margin-right: 0;
                              }

                              .glyphicon:first-child{
                                   display: none;
                              }

                              .glyphicon:last-child{
                                   display: inline;
                                   margin-left: 0px;
                              }
                         }

                         &:first-child .glyphicon{
                              display: none;
                         }
                    }
               }
          }

         
          .newsfeed{
               top: -2px;
          }
     }
     footer.main{
          background-image: url(../images/footer-large.png);
          background-color: transparent;

          .r18{
               padding-bottom: 5px;
               margin-top: 30px;
          }
          .row{
               margin: 0px;
               height: auto;
               padding: 0;
               nav{
                    margin-bottom: 0;
                    text-align: left;
                    padding-left: 50px;
                    padding-top: 3px;
                    padding: 2px;
               }
               .copyright{
                    text-align: right;
                    padding: 3px 50px 2px 0;
               }
          }


          .government-warning{
               span{
                    font-size: 28px;
                    margin: auto;
                    height: 70px;
                    width: 800px;
               }
          }
     }


     .side-rail{
          padding: 0 5px 0 0;
          background: url(../images/bg-side-rail.png) top right no-repeat;
          min-height: 392px;
          width: 200px;
          .back{
               display: none;
          }
          nav{
               float: right;
               height: auto;
               display: block;
               background: none;
               min-width: 0;
               padding: 0 8px 0 0;
               a{
                    float: none;
                    display: block;
                    text-align: right;
                    padding: 15px 20px;
                    background-position:bottom right;
                    background-repeat:  no-repeat;
                    background-color: transparent;
                    .font-default-big;
                    border:none;
                    &:hover{
                         .font-default-bigger;
                         padding-top: 12px;
                         padding-bottom: 13px;}

                    &.active{
                         color: #c00;
                         .font-default-bigger;
                         padding-top: 12px;
                         padding-bottom: 13px;
                         background-image: url(../images/bg-side-rail-links.png);
                         background-color: transparent;
                    }
               }
          }
     }

     .side-rail.sticky, .side-rail{
          display: block;
          margin-bottom: 20px;
          position: fixed;
          width: 200px;
          nav{
               position: static;
               padding: 0 8px 0 0;
               min-width: 0;
               height: auto;
               border:none;
               background: none;
               float: none;
               width: 100%;
               a{
                    width: auto;
                    display: block;
                    .font-default-big;
                     padding: 15px 20px;
                    text-decoration: none;
                    float: none;

                    &:hover{ 
                         .font-default-bigger;
                         padding-top: 12px;
                         padding-bottom: 13px;
                    }

                    &.active{
                         padding-top: 12px;
                         padding-bottom: 13px;
                         color: #c00;
                        .font-default-bigger;
                         background-image: url(../images/bg-side-rail-links.png);
                    }

                    &:first-child{float: none;}
                    &:last-child{float: none;}

                    i{
                         display: none;
                    }

               }
          }
     }
     .main-rail{
          top: 0;
          padding-left: 30px !important;
     }
     /* end template*/

     /* login */
     nav.login{
          min-width: 500px;
          margin-top: 0px;
     }

      div.login-holder, div.leather-content{
          //margin: 50px auto 0;
      }

     // registration
     form.registration{
          input[type="text"]{
               width: 280px;
               font-weight: normal;
               text-shadow: none;
          }
          .browse  input[type="text"]{ width: 100%;}

          select{
               padding: 7px 10px;
               width: 280px;
          }

          select.select-s{
               width: 95px;
          }

          input.input-s{
               width: 100px;
               margin-right: 2px;
          }
          input.input-m{
               width: 178px;
          }
          input[type="radio"]{
               margin-left: 20px;
          }

          span.label-main-l, span.label-main, span.label-sub, span.label-spacer{
               width:160px;
               padding-right: 10px;
               .box-sizing(border-box);
          }
          span.input, span.input-s, span.input-f{
               width:280px;
          }
          
          .brand-unavailable{
               input{
                    float: left;
                    padding: 0;
                    margin-left:-18px;
               }
          }
     } 

     /* main-content */

     .splash-popup{
          .content{
               h1{
               font-size: 115px
               }
               p{
                    margin: 0 0 20px;
                    .font-default-big;
                    line-height: 28px;
               }
          }
     }

     .popup{
          
          .upload-webcam{
               width: 380px;
               height: 230px;
               background: #000;
               margin: 10px auto;
          }
     }
     
     section.main {
          min-height: 0px;
          .wrapper{
               padding-top: 70px;
               padding-bottom: 20px;
               min-height: 300px; 
               background-attachment: fixed;         
          }
          .wrapper.fixed{
          }
          .wrapper.home{
               background-image: url(../images/bg-home.jpg);
          }
          .wrapper.earnpoints{
               background-position: top center;
          }
          .wrapper.registration{
               padding-top: 30px;
          }


     }
     /*home */
     section.main .holder-home{

          .button{
               margin: 0 20px
          }

          .line-earnpoints{
               height: 500px;
          }
     }

     /*home */
     section.main .holder-earnpoints{
          left: 36%;
          margin-left: -200px;
     }

     .row.main{
          margin-top: 40px;
     }
     /*profile*/
     .profile-book{
          margin-top: 20px;
          max-width: 970px;
          .page{
               padding:  30px 30px 20px;
               margin-bottom: 0;
               min-height: 450px;

               &:first-child{
                    padding: 50px 30px;
                    .linear-gradient(right, rgba(0,0,0,0.3) 1px,rgba(0,0,0,0) 80px);
                    margin-bottom: 0;

               }

               ul{
                    .font-default-regular;

                    li{
                         margin: 10px 0;
                    }
                    margin-bottom: 50px;
               
               }
               
               .maybe-list{
                    text-align: center;
                    ul{
                         .font-default-regular;
                         text-align: left;
                    }

                    h3{
                         font-size: 26px;
                    }
               }

               ul.profile-details.edit{
                    width: 430px;
                    max-height: 280px;
                    overflow: auto;
                    padding-right: 20px;

                    li{
                         
                    }
               }
          }

     }


          /*listing commons*/
          .thumb-holder{
               padding: 10px 10px 30px;
               height: 240px;
               background: #f4f4f4;
               border: none;
               .box-shadow(0px 2px 3px #999);
               .rounded(2px);
               .thumbnail{
                    height: 100%;
               }   

          }
          .album-holder{
               height: 114px;
               background:transparent url('../images/bg-album.png') repeat-x;
               padding: 20px 0;
               background-size:  auto 100%; 
               cursor: pointer;
          }

     /* backstage */
     .hot-events{
          .thumb-holder{
               height: 240px !important;
          }
     }

     .popup{
          .map-embed{
               iframe{
                    height: 260px;
               }
          }
     }

     /*webgames*/
     .webgames{
          .thumb-holder{
               padding: 10px 10px 30px;
               border: none;
               .box-shadow(0px 2px 3px #999);
          }

          .items{
               margin-bottom: 0;
          }
     }
     .webgames-inner{
          position: relative;
          height: 100%;
           .game-holder{
                height: 400px;
               width: 500px;
          }
     }


     /* perks */
     .row.perks-categories{
          max-width: none;
          text-align: center;
          margin-top: -80px;

          .item {
               padding: 0;
               margin-left: 20px;
               margin-right: 20px;
               float: none;
               display: inline-block;

               .thumb-holder{
                    padding: 10px;
                    border: none;
               }
               .copy{
                    text-align: center;
                    margin-top: 0;
               }
          }
     }

     .row.perks-items{
          
     }

     .popup.perks{
          input.bid{
               padding: 2px 5px;
          }
     }

     /* move fwd */
     /*move fwd landing*/
     .move-fwd-categories{
          max-width: 100%;
          .item{
               text-align: center;
          }
     }

     .move-fwd-inner{
          
     }

     .container.move-fwd-inner{
          .item{
               /* movefwd premium*/
               &.premium{
                    padding-bottom: 25px;
                    .thumb-holder {
                         height: 200px;
                    }
               }
          }

     }
     
     .move-fwd-challenge{

          min-height: 500px;

          .participants{
               max-width: 200px;
               .thumbs{

                    padding-bottom: 25px;
                    div{
                         width: 50px;
                         height: 50px;
                         display: inline-block;
                         margin: 3px;
                    }
               }

               .arrow{
                    top: auto;
                    bottom: 10px;
                    cursor: pointer;
               }
               .arrow.left{
                    left:50px;
               }

               .arrow.right{
                    right: 50px;
               }
          }

     }

     .popup-gallery{
          width: 800px;
          .theater{
               height: 235px;
          }
          div.comments{
              ul.level-1{
                    max-height: 280px;
                    overflow: auto;

                    ul{
                         max-height: none;
                    }
               }
          }
     }
     /*messages*/
     .container.messages{
          position: relative;
          margin-top: 50px;
          padding: 0;

          .side-rail.sticky{
               width: 200px;
               nav a span{
                    display: inline; 
               }
          }

          .inbox-holder{
               left: 200px;
          }
          ul.inbox{
               max-height: 999999px;
               overflow: inherit;
               padding-right: 20px;
               li{
                    padding-left: 30px;
                    input{
                         left: 0px;
                    }
               }
          }
     }

     .profiling{
          margin-top: 20px;
          max-width: 840px;

           header{
               h2{
                    padding: 0px;
                    font-size: 28px;
                    display: inline-block;
                    margin-right: 20px;
               }
               span{
                    display: inline-block;
                    margin-bottom: 0;
               }

          }

          .rank{
               margin-top: -3px;
          }

          .row{

               h3{
                    float: left;
                    width: 35%;
               }
               .note{
                    float: left;
                    width: 63%;
                    background: #111;
                    color: #fff;
                     &:before{
                         content:"";
                         position: absolute;
                         left: -12px;
                         top:0;
                         border: solid 12px transparent;
                         border-right-color: #111;
                         border-left: 0;
                    }
               }

               ul.items{
                    margin: 50px 0 130px;
               }
          }
     }
          
}

@media (min-width:1200px){

     /* template*/
     header.main{
          .logo{
               width: 282px;
               height: 112px;
          }
          .navbar-collapse{
               .main-nav{
                    li a{
                         font-size: 24px;
                    }
               }
          }
     }
     footer.main{
          .row{
               nav{padding-left: 100px}
               .copyright{padding-right: 100px;}
          }


          .government-warning{
               span{
                    font-size: 28px;
                    margin: auto;
                    height: 40px;
                    width: 100%;
               }
          }
     }

     .main-rail{
          width: 935px;
     }

     .button.webcam{
          display:inline-block;
     }
     /* end template*/
     
     /* registration */

     form.registration{
          span.label-main-l, span.label-main, span.label-sub, span.label-spacer{
               width:200px;
          }
          span.input, span.input-s, span.input-f{
               width:350px;
          }
     }

     /*profile*/
     .profile-book{
          max-width: 1100px;

          ul.profile-details.edit{
               width: 450px !important;
               li{
                    input, select{
                         width: 300px;
                    }
               }
          }
     }

     /*move fwd*/
  
}

@media (min-width:1440px){
      /* template*/
     
     footer.main{
          .government-warning{
               span{
                    font-size: 34px;
                    margin: auto;
                    height: 40px;
               }
          }
     }
     /*login*/
     div.login-holder, div.leather-content{
          //margin: 50px auto 0;
      }

      /*backstage*/
      .popup{
          .map-embed{
               iframe{
                    height: 350px;
               }
           }
      }

}