@media (min-width:768px){
     /*override*/
     .container.main{margin: 50px auto 20px;}

     h1.page{ font-size: 86px; line-height: 80px}
     h1.page-black{ font-size: 86px; line-height: 80px}
     h1{ font-size: 54px; line-height: 54px}
     h2{ font-size: 30px; line-height: 30px}
     h3{ font-size: 22px; line-height: 22px}

     input, select{ font-size: 12px}
     body{
          padding-top: 20px;
          font-size: 12px;
          font-family: 'Avenir';
     }


     .row.zero > div{padding: 0; margin: 0}

     /*template*/
     header.main{
          height: 80px;
          background-image: none;
          
          .grunge-foreground{
               position: absolute;
               background-image: url(../images/header-grunge-foreground.png);
               background-position: left bottom;
               display: block;
               height: 70px;
               width: 100%;
               top: 0;
          }


          .container{
               position: relative;
               height: 1px;
          }
          .logo{
               width: 194px;
               height: 80px;
          }

          .navbar-collapse{
               float: right;
               width: 400px;
               ul.main-nav{
                    li:first-child{
                         margin-top: 75px;
                    }

                    li a, li a:hover,  li.active a{
                         background-color: transparent;
                    }

                    li#profiling_nav{
                         right: 10px;
                    }
               } 

          }

          .newsfeed{
               top:40px;
               background: #900 url(../images/bg-newsfeed.png) 0px 2px;
               .border-radius(0, 20px, 20px, 0);
               width: 325px;
               z-index: 1;
               padding-bottom: 0px;
               h3{
                    padding: 30px 0 0;
                    text-align: center;
               }

               #newsfeed-content{
                    width: 300px;
                    height: 285px;
                    margin: 0 auto 13px;
                    background: #000;
                    .rounded(20px);
                    .gradient(#302f2f, #0c0202, #302f2f);

                    .newsfeed-box{
                         position: relative;
                         top: 20px;
                         height: 245px;
                         width: 300px;
                    }

               }
               ul{
                    padding:0px 5px 0 20px;
                    margin-bottom: 0;
                    li{
                         border-bottom: solid 1px #373535;
                         padding: 5px 0;
                         font-size: 12px;
                    }
               }
               .close{
                    padding: 0;
                    top:40px;
                    right: 20px;
                    background: transparent;
                    font-size: 20px;
                    text-shadow: 0px 2px 5px #000;
                    .rounded(0);
                    i{ display: none;}
               }
          }

          
     }


     footer.main{
          position: fixed;
          margin-top: 0;
          background-color: transparent;
          background-image: url(../images/footer.png);
          background-repeat: repeat-x;
          background-position: top;
          text-shadow:0px 0px 3px #000;
          border-top: none;
          font-size: 12px;
          letter-spacing: 0.5px;
          .r18{
               margin-top: 3px;
          }
          .row{
               margin-top: 2px;
               padding: 5px 0;
          }
          nav{
               padding-left: 20px;
               text-align: left;
               a{}
          }
          .copyright{
               text-align: right;
               padding-right: 20px;
          }

          .government-warning{
               span{
                    font-size: 28px;
                    margin: auto;
                    height: 80px;
                    font-weight: normal;
               }
          }
     }

     .popup, .lytebox-content.lytebox-dialog{
          background: url(../images/popup-leather.jpg) -8px 5px;
          width: 600px;
          overflow: hidden;
          .rounded(25px);
          padding:18px 20px 20px;
          overflow: hidden;
         .box-shadow(inset 0px 0px 10px 5px rgba(0, 0, 0, 0.8));
          border:0;

          h1,h2,h3,h4{
               margin-top: 0px;
          }

           h1.lytebox-title{
               .font-default-bigger;
               font-size: 34px;
          }

          .txtleft{
               text-align: left;
          }
          .txtright{
               text-align: right;
          }

         
          &:after, &:before{
               content: '';
               position: absolute;
               width: 560px;
               height: 20px;
               left: 20px;
               background: url(../images/pop-leather-tread-horizontal.png) 0 0 repeat-x;
               .rounded(10px);
               z-index: 3
          }
               &:after{ top: 14px;} &:before{ bottom: 7px;  }

          .content{
               position: relative;
               min-height: 80px;
               padding: 20px;
               padding-bottom: 20px;
               z-index: 3;
               overflow: hidden;
               .rounded(5px);
               border: dashed 0px;
               border-color: #222;
               font-family: 'Avenir';

               &:after, &:before{
                    content: '';
                    position: absolute;
                    top:0;
                    width: 20px;
                    height: 100%;
                    background: url(../images/pop-leather-tread-vertical.png);
                    z-index: 1
               }
                &:after{ right: -8px; } &:before{ left: -8px;}
          }

          .scrollable{
               height: 200px;
               overflow:auto;
               margin-top: 10px;
               padding-right: 10px;
               font-family: 'Avenir'

          }

          .scrollable-small{
               height: 150px;
               overflow:auto;
               margin-top: 10px;
               padding-right: 10px;
               font-family: 'Avenir'
          }

          .popup-close, .lytebox-dialog-close{
               font: bold 26px arial;
               color: #999; 
               top: 11px;
               width: 40px;
               height: 30px;
               padding-left: 5px;
               right: -8px;
               span{
                    display: none;
               }
          }
     }

     .lytebox-content.splash-page{
          position: fixed !important;
          top: 100px;
     }

     .splash-popup{
          width: 500px;
          overflow: hidden;
          padding:18px 20px 20px;
          overflow: hidden;
          border:0;
          text-shadow:0px 0px 30px #000;
          .content{
               .font-default-big;
               h1{
                    font-size: 100px;
                    line-height: 80px;
               }
          }
     }

     .popup.popup-premium{
          background: #000;
          .box-shadow( 0px 0px 20px rgba(100, 100, 100, 0.3));

          &:after, &:before{
               display: none;
          }

          .content{
               font-family: 'Avenir';

               &:after, &:before{
                   display: none;
               }

               h4{font-size: 20px;}
               h5{font-size: 16px;}
               h6{font-size: 13px;}
          }

          .popup-close, .lytebox-dialog-close{
               top: -7px;
               right: -20px;
          }

          .row.found-premium{
               .col-sm-4{
                    img{
                         width: 100%;
                         max-width: 100%;
                    }
               }
          }
     }
     /* end template*/
     /* registration */

     form.registration{
          max-width:none;
          select.select-s{
               padding: 8px 10px;          
          }

           input.input-m{
               padding: 8px 10px; 
               width:64%;         
          }
          span.ribbon i .hidden-xs{
               display:inline !important;
          }
          span.label-main-l, span.label-main, span.label-sub{
               width:200px;
               height: 40px;
          }

          span.label-sub, span.label-spacer{
               height:30px;
               display: inline-block;
               width:200px;
          }
          span.input, span.input-s, span.input-f{
               display:inline-block;
               width:350px;height: 40px;
          }
     }

     /* main-content */
          left: -1003px;
     section.main.fixed{
          /*homepage*/
          overflow: hidden;
          .wrapper{
               position: absolute;
               width: 100%;
               display: block !important;
          }
          
          .wrapper.earnpoints{
               top:100%;
          }

          .wrapper.movefwd{
               left:-100%;
               z-index: 2
          }


          .wrapper.home{
               z-index: 1
          }
     } 

     section.main {
             min-height: 500px;
          .wrapper{
               position: relative;
               min-height: 690px;
               background-size: auto;
               background-position: top center;
               background-attachment: fixed;
               padding-bottom: 70px;

          }
          .wrapper.fixed{
               overflow: hidden;
               background-position: 35% center;
               
               .container{
                    height: 100%;
               }
          }
          .wrapper.home{
               background-image: url(../images/bg-home-tablet.jpg);
          }
          .wrapper.earnpoints{
               background-image: url(../images/bg-earnpoints.jpg);
               background-position:  65% 0px;
          }

          .wrapper.registration{
               background-image: url(../images/bg-login.jpg);
               background-size: cover;
          }
     }

     span.ribbon.large{
           i{
               display: inline-block;
               background: url(../images/pattern-red.png)  0px -43px repeat-x;
               height: 42px;
               line-height: 35px;
               padding-bottom: 3px;
               padding-top: 2px;
               min-width: 80px;
          }

          &:before, &:after{
               background: url(../images/pattern-red.png)  0 0 ;
               top:-4px;
               height: 42px;
          }
          &:after{
               background-position: -27px 1px;
               right: -4px;
          }
     }

     .button{
          i{
               font-size: 22px !important;
               line-height: 40px;
          }
     }
     

     .upload-preview-fixed{
          height: 238px;
          background: #000;
     }


     .side-rail{
          display: inline-block;
          margin-bottom: 20px;

          .back{
               float: right;
          }
          nav{
               padding-top: 0;
               float: left;
               padding-left: 50px;
               min-width: 620px;
               height: 39px;
               border:none; 
               background: url(../images/bg-side-rail-links.png) bottom left repeat-x;
               a{
                    display: block;
                    float: left;
                    text-align: center;
                    padding: 7px 20px;
                    background: #F3F3F3 url(../images/bg-side-rail-links.png) bottom center no-repeat;
                    .font-default-big;
                    color: #000;
                    text-decoration: none;
                    outline: none;
                    border: solid #696969;
                    border-width: 3px 3px 0 0;

                    &:first-child{ border-width: 3px 3px 0 3px;}
                    &:hover{ }

                    &.active{
                         position: static;
                         width: auto;
                         color: #c00;
                         background-image:none;
                         background-color: #fff;
                    }
               }
          }

     }

     .side-rail.sticky{
          display: inline-block;
          margin-bottom: 10px;
          nav{
               position: static;
               left: 0px;
               top:0;
               float: left;
               padding: 0;
               padding-left: 50px;
               min-width: 490px;
               height: 41px;
               border:none;
               background: url(../images/bg-side-rail-links.png) bottom left repeat-x;
               .box-shadow(0 0 0);
               a{
                    width: auto;
                    display: block;
                    .font-default-regular;
                    padding: 9px 20px 10px;
                    text-decoration: none;
                    float: left;

                    span{ display: inline;}
                    &.active, &.active span{
                         color:#c00;

                    }

                    &:first-child{float: left;}
                    &:last-child{float: left;}

                    i{
                         display: none;
                    }

               }
          }
     }

     .dbam .sticky{
          nav a{
               color: #fff;
               background-color: transparent;
               border-width: 1px;
          }
     }
     .main-rail{
          top: 20px;
     }
     /* login */
     div.login-holder, div.leather-content{
          background: url(../images/popup-leather.jpg) -8px 5px;
          width: 600px;
          overflow: hidden;
          padding:18px;
          overflow: hidden;
          border:0;
          max-width: none;
          //margin: 70px auto;
          .box-shadow(inset 0px 0px 10px 5px rgba(0, 0, 0, 0.8));
          .rounded(25px);

          &:after, &:before{
               content: '';
               position: absolute;
               width: 550px;
               height: 20px;
               left: 24px;
               background: url(../images/pop-leather-tread-horizontal.png) 0 0 repeat-x;
               z-index: 3;
               .rounded(10px);
          }
          &:after{ top: 12px; background-position: right;} &:before{ bottom: 13px; left: 27px}

          .content{
               position: relative;
               min-height: 200px;
               padding: 5px 103px 10px;
               z-index: 3;
               overflow: hidden;
               .rounded(5px);
               border: dashed 0px;
               border-color: #222;

               h2{
                    .font-default-bigger;
                    margin: 5px;
               }
               h3{
                    .font-default-big;
                    margin: 0 0 10px;
               }

               &:after, &:before{
                    content: '';
                    position: absolute;
                    top:0;
                    width: 20px;
                    height: 100%;
                    background: url(../images/pop-leather-tread-vertical.png);
               }
                &:after{ right: -4px; } &:before{ left: -4px}

               .copy{
                    max-width: 510px;
               }
          }

          input[type="text"], input[type="password"]{
               max-width: 350px;
               font-size: 12px;
               padding: 4px 10px;
          }
     }
     /*home */
     section.main .holder-home{
          top:50%;
          margin-top: -90px;
          width: 450px;
          height: 180px;

          .button{
               margin: 0 20px
          }

          .line-earnpoints{
               height: 500px;
          }
     }

     /*home */
     section.main .holder-earnpoints{
          max-width: 470px;
          position: relative;
          padding: 0;
          top:50%;
          margin-top: -180px;
          left: 20px;
          .row{
               .webgames{
                    display: inline-block;
               }
          }
     }

     .container.move-fwd-inner{
          margin-top: 50px;

          .item{
               /* movefwd premium*/
               &.premium{
                    padding: 15px;
                    margin: 0 0 20px;
                    &:after{
                         width: 100%;
                         height: 100%;
                         top: 0;
                         left: 0;
                         z-index: 0;
                    }
                    .thumb-holder {
                         height: 170px;
                    }
               }
          }

     }

     .row.main, .container.main{
          margin-top: 50px;
     }
     /*profile*/
     .profile-book{
          margin-top: 40px;
          max-width: 650px;
          position: relative;

          .edit-profile{
               display: block;
               .font-default-regular;
               color: #777;
               position: absolute;
               top: 20px;
               right: 20px;
               z-index: 2;
          }
          .page{
               padding: 0px 30px 50px;

               &:first-child{
                    .linear-gradient(bottom, rgba(0,0,0,0.3) 1px,rgba(0,0,0,0) 80px);
                    padding-bottom: 30px;
                    margin-bottom: 20px;
               }

               .profile-pic{
                    figure{
                         padding: 10px;
                         background: #fffff7;
                         text-align: right;
                         .box-shadow(0px 3px 3px #777);
                         
                         img{
                              width: 100%;
                              margin-bottom: 10px;
                         }

                         figcaption{
                              display: block;
                              .font-default-regular;
                              cursor: pointer;
                              padding: 10px 0;
                         }
                    }
               }
               .maybe-list{
                    text-align: left;
                    background: transparent;
                    border:none;
                    margin: 0;
                    padding: 0 10px;
                    ul{
                         text-align: left;
                         margin-bottom:30px;
                         li{
                              margin-bottom: 0px;
                         }
                    }
               }

               ul.profile-details{
                    max-width: none;
               }
               ul.profile-details.edit{
                    width: 460px;
                    margin: 0 auto;
                    li{
                         span.name{
                              width: 120px;
                         }
                         input,select{
                              width: 250px;
                         }

                         label{
                              padding-left: 120px;
                         }
                    }
               }
          }

          .button i{
               font-size: 24px;
          }

     }

     
    /*listing commons*/
     .thumb-holder{
          padding: 10px 10px 30px;
          height: 200px;
          background: #f4f4f4;
          border: none;
          .box-shadow(0px 2px 3px #999);
          .rounded(2px);
          .thumbnail{
               height: 100%;
          }   

     }

     .album-holder{
          height: 180px;
          .thumbnail{
               width: 32.5%;
          }
     }

     .col-xs-6 .thumb-holder .thumbnail{
          height: 100%;
     }

     .row{
          .item{
               margin-bottom: 20px;
               //about news listing
               .row > div{
                    padding: 10px;

                    &:last-child{
                         padding: 0;
                    }

                    .thumb-holder{
                         height: 180px;
                    }
                    h3{
                         margin-bottom: 5px; 
                    }
                    p{
                         font-size: 12px;
                    }
               }
          }
     }

     .theater{
          height: 300px;
          background-color: #000;
          text-align: center;

          img{
               max-height: 100%;
               height: auto;
               max-width: 100%;
               width: auto;
               vertical-align: middle;
          }

          .arrow{
               width: 32px;
               height: 79px;
               background: url(../images/arrow-large.png);
               margin-top: -40px;

                &.left{
                    background-position: left top;
               }

               &.right{
                    background-position: right top;
               }
          }
     }

     /*webgames*/
     .webgames{
          .thumb-holder{
               padding: 0 ;
               border:solid 2px #000;
               .rounded(0);
          }

          .item{
               padding:15px !important;
          }
     }
     .webgames-inner{
          position: relative;
          height: 100%;
           .game-holder{
               margin: 50px auto 20px;
               height: 400px;
               width: 500px;
               position: relative;
               background: url(../images/preloader.gif) center center no-repeat;

               #c2canvasdiv{
                    border: solid 2px #000;
               }
          }
     }

     /* backstage */
     .hot-events{
          .thumb-holder{
               height: 240px;
          }
     }

     .popup{
          .map-embed{
               iframe{
                    margin-top: 20px;
                    height: 500px;
               }
          }
     }
     
     /* perks */
     .row.perks-categories {
          max-width: 500px;
          margin: 0 auto;
          .item {

               .thumb-holder{
                    padding: 0;
                    background-color: transparent;
                    box-shadow: none;
                    height: 300px;
                    .thumbnail{
                         height: 300px;
                    }
               }
               .copy{
                    text-align: left;
                    padding:0 0 0 30px;
                    margin-top: 100px;
               }
          }
     }

     .perks-inner{

          margin-top: 50px !important;

          .row.perks-items{
               
          }

     }

     .popup.perks {
          h2{font-size: 28px;}
          h3{font-size: 16px;}
          h4{.font-default-regular}

          .row.perks-details{
               & > div{
                    padding: 0;
               }

               .transaction{
                    width: 80%;
                    h4{
                         .font-default-regular;
                    }
               }
               .carousel{
                   background: transparent;
                    padding: 0;
                    margin-bottom: 30px;
                    width: 95%;
                    
                    .owl-item{
                         height: 280px;
                         line-height: 275px;
                         text-align: center;

                         img{
                              background: #900;
                              padding: 1px;
                              border: solid 10px;
                              .rounded(2px);
                         }
                    }

                    .owl-controls{
                         position: absolute;
                         bottom: -40px;
                         width: 100%;

                         .owl-pagination{
                              text-align: center;
                              .owl-page{
                                   .rounded(100%);
                                   background: #fff;
                                   width: 12px;
                                   height: 12px;
                                   display: inline-block;
                                   margin: 0 3px;
                              
                                   &.active{
                                        background: #c00;
                                   }
                              } 
                         }
                    }
               }


               .fieldset{
                    padding:15px;
                    margin: 0 auto 20px;
                    .legend{
                         span{
                               background:transparent url(../images/popup-leather.jpg) -1px 6px;
                         }
                    }

                    li{
                         text-align: left;
                         label{
                              display: inline-block;
                              width: 90px;
                              position: relative;
                              top: 0;
                              vertical-align: top;
                         }

                         div{
                              display: inline-block;
                         }
                    }
                    input[type="text"], select{
                         width: 95px;
                         margin-bottom: 2px;
                         font-size: 11px;
                    }
               }
          }
     }

     /* move fwd */
     .move-fwd-categories{
          max-width: 750px;
          .item{
               text-align: left;
          }
     }

     .move-fwd-challenge{
          .thumb-holder{
               cursor: pointer;
               padding: 10px 10px 30px;

               h3{
                    margin-top:8px;
               }
          }
     }

     .popup-gallery, .popup-view{
          width: 620px;


          .content{
               div.media{
                    height: 280px;
               }
          }

          .gallery-stat{
               margin: 0 0 2px;
               .font-default-regular;
          }
          .popup-close{
               font: bold 26px arial;
               color: #999; 
               top: 2px;
               width: 30px;
               right: 0px;

               span{
                    display: none;
               }
          }

          .theater{
               background: #000;
               position: relative;
               text-align: center;
               img{
                    max-width: 100%;
               }
           }

          .carousel{
               width: 90%;
               margin:0 auto;
          }
          

          div.comments{
               ul.level-1{
                    max-height: 400px;
                    overflow: auto;

                    ul{
                         max-height: none;
                    }
               }
          }
     }
     

     /* about */
     /*about - photo - gallery*/
     .upload-from-event{
          display: block;
          text-align: right;
          float: right;
          margin-bottom: 10px;
     }

     /*brand history*/
     #brand-timeline-content{
           margin-top: 0px !important;
     }

     .leathered{
           &:after, &:before{
               width: 96%;
               left: 2%;
          }
     }
     .leathered-content{
          margin-top: 0px;
           &:after, &:before{
               width: 96%;
           }
     }
     .brand-timeline{
          position: relative;
          top: 0px;
          width: 100%;

          .arrow{
               top: 40px;
          }

          .frame{
               padding-bottom: 0px;
               padding-top: 60px;

               .dot{
                    top:38px;
               }

               .line{
                    top:40px;
               }
               
               &.active{
                    .dot{
                         top: 26px;
                         
                         &:after{
                              border-bottom:0;
                               border-top: 17px solid #222;
                               top: -26px;
                         }
                    }
               }
          }
     }

     /*messages*/
     .messages{
          margin-top: 50px !important;
          ul.inbox{
               max-height: 500px;
               overflow: auto;
               li{
                    padding-left: 30px;
                    cursor: pointer;

                    &:first-child{
                         cursor: default;
                         &:hover{
                              background: transparent;
                         }
                    }

                    &:hover{
                         background: rgba(255, 255, 255, 0.8);
                    }

                    input{
                         left: 0px;
                    }

                    
               }
          }
     }



     .popup{
          /*row vertical align*/
               /*birthday offer*/
          .row-vertical-align{
               &:before{
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    width:1px;
               }
          }

          /*webgames*/
          ol.leaderboard{
               .font-default-big;
               width: 380px;
               margin: 0 auto;
               padding: 0 10px 0 30px;
               li{
                    text-align: left;
                    margin-bottom: 5px;

                    span{
                         float: right;
                    }
               }
          }

          /*profile*/

          ul.bucketlist{
               list-style: none outside none;
              margin: 10px auto;
              overflow: auto;
              padding: 0;
              text-align: left;
          }
     }

     .profiling{
          margin-top: 40px;
          max-width: 550px;
     }

     .refer-a-friend{
          .content{
               padding: 10px 20px !important;
          }
          ul.referrals{
               li{
                    display: inline-block; margin-right: 20px;
               }

               &.failed{
                    color: #999;
               }
          }
          ul.items{
               padding: 0;
               list-style: none;
               input[type="text"],input[type="email"]{
                    width: 44%;
                    max-width: none;
                    border: solid 1px #eee; 
                    display: inline-block;
               }
          }
          span.add{
               margin-right: 30px;
          }
          .remove{
               right: 10px;
               top: 5px;
          }
      }
}

