@import 'core.less';

/*bootstrap override*/
.row.container{margin: 0 auto;}
.container.main{margin: 10px auto}
.row.main > div{ padding: 0; margin: 0}
/*common style*/
.font-default-small{
     font-family: 'Maybebold';
     font-size: 12px;
}
.font-default-regular{
     font-family: 'Maybebold';
     font-size: 16px;
}
.font-default-big{
     font-family: 'Maybebold';
     font-size: 20px;
}

.font-default-bigger{
     font-family: 'Maybebold';
     font-size: 24px;
}

.font-default-btn{
     font-family: 'Maybebold';
     font-size: 22px;
}


@color-marlboro-red : #c00;

.clearfix{clear: both;}
.txtcenter{text-align: center;} .txtright{text-align: right}.m-auto{margin: 0 auto}
h1, h2, h3, h4, h5{ font-family: 'Maybebold'; font-weight: normal !important; margin-top: 10px } ol.abc{list-style-type:lower-alpha;}
h1.page{ font-size: 54px; line-height: 30px; color:#fff}
h1.page-black{ font-size: 54px; line-height: 30px;color:#000}
h1{ font-size: 28px; line-height: 28px}
h2{ font-size: 20px; line-height: 20px}
h3{ font-size: 18px; line-height: 18px; margin-top: 10px;}
a{
     outline: none !important; color: @color-marlboro-red; 
     &:hover, &:active, &:visited, &:focus{
          color: @color-marlboro-red; 
     }
}

body{
     background-color: #f1f1f1;
     font: 14px 'Avenir';
     color: #fff;
     padding-top: 40px;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

*{
   -webkit-font-smoothing: antialiased;
   -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;  
}
input, select{ .rounded(0px); border: solid 1px #ccc; font-size: 13px Arial} label{font-weight: normal;}
.red{
     color:#c00;
}
.uc{ 
	.font-default-regular;
}

.small{
	font-size: 11px;
}
/*end common style*/


a *{
     color: #000;
     text-decoration: none;
}

span sub{
     bottom: 0 !important;
}


/*template*/
header.main{
     position: fixed;
     height: 60px;
     width: 100%;
     top: 0;
     z-index: 101;

     .grunge-foreground{
          position: absolute;
          background-image: url(../images/header.png);
          background-position: bottom;
          display: block;
          height: 60px;
          width: 100%;
          top: 0;
          z-index: 2
     }

     .container{
     	padding: 0;
     }
     .logo{
     	position: absolute;
     	width: 180px;
     	height: 70px;
     	background: url(../images/logo.png) top center no-repeat;
     	background-size: 100% auto;
     	z-index: 3;
     }
     .navbar-toggle{
          position: absolute;
          border-radius: 0;
          border: none;
          padding: 0;
          right: 0;
          top: 0;
          z-index: 3;
          &:hover, &:active, &:focus{
               background: transparent;
               border: none;
               outline: none;
          }

          span{
               width: 42px;
               height: 7px;
               margin: 0 0 5px;
               background-color: #c00;
          }
     }

     
	.navbar-collapse{
          position: relative;
		background: #111;
          max-height: none;

		ul.main-nav{
               position: relative;
               margin-top: 0;
			margin-bottom: 0px;

               & > li:first-child{
                    margin-top: 65px;
               }

			li{
				border-bottom: solid 1px #000;

                    .caret{
                         border-top: 10px solid #fff;
                    }

				a{
					.font-default-bigger;
                         font-size: 24px;
					color: #fff;
					outline: none;
                         padding-left: 40px;
                         padding-top: 5px;
                         padding-bottom: 5px;
                         background-color: rgba(50, 50, 50, 0.6);
				}

				&.active{
					& > a{
						color:@color-marlboro-red;
					}

                          &:hover{
                              & > a{
                                   color: #f00;
                              }
                         }

				}

                    &#profiling_nav{
                         position: absolute;
                         bottom: 1px;
                         right: 20px;
                         width: 50px;
                         height: 30px;
                         border: none;
                         background-color: transparent;
                         a{
                              margin: 0 auto;
                              width: 30px;
                              height: 30px;
                              background-size: contain;
                              background-repeat: no-repeat;
                              background-position: center;
                              background-color: transparent;
                         }
                    }
			}

               & > li{
                    &:hover{
                         & > a{
                              text-shadow:0px 0px 2px #000;
                              color: #ccc;
                         }
                    }

                    &:hover, &:active, &:focus{
                         background-color: rgba(50, 50, 50, 0.6);
                     }
               }

               .dropdown-menu{
                    border-top: solid 1px #000;
                    background: #191919;
                    position: relative;
                    width: 100%;
                    padding: 0; 
                    margin-left: -5px;

                    & > li:first-child{
                         padding-top: 0;
                    }

                    li{
                         padding-left: 20px;
                         .box-sizing(border-box);
                         a{
                              font-size: 20px;
                              background: transparent;
                         }

                         &:hover{
                              & > a{
                                   text-shadow:0px 0px 2px #000;
                                   color: #ccc;
                              }
                         }
                          & > a{
                              &:hover, &:active, &:focus{
                                   background-color: rgba(50, 50, 50, 0.6);
                              }
                          }
                    }
               }
		}

		ul.sub-nav{
               position: relative;
			margin-top: 5px;
			padding-top: 0;
			li{
				margin-bottom: 0px;
				a{
					.font-default-big;
					color: #fff;
					outline: none;
                         padding-left:40px;
                         padding-top: 5px;
                         padding-bottom: 5px;
                         &:hover, &:active, &:focus{
                              background-color: transparent;
                         }
     				span{
     					color: #f00;
     				}
     				.glyphicon{
     					color: #fff;
     					font-size: 12px;
     					margin-right: 5px;
     				}

                         .glyphicon:last-child{
                                   display: none;
                              }

                         &.notify .glyphicon{
                               color: #f00;    
                         }
				}

				&.active{
					a{
						color:@color-marlboro-red;
						background-color: transparent;
					}
				}
                    &:hover{
                         a{
                              text-shadow:0px 0px 2px #000;
                              color: #ccc;
                         }
                    }
			}
		}

	}

	
     .newsfeed{
          position: absolute;
          background: #000;
          background: rgba(0, 0, 0, 0.9);
          width: 100%;
          max-width: 320px;
          right: 0px;
          top: 0px;
          z-index: 1;
          height: 1px;
          padding-bottom:20px;

          h3{
               .font-default-bigger;
               padding: 60px 20px 0;
          }
          #newsfeed-content{
               width: 300px;
               height: 200px;
               margin: 0 auto 13px;
               z-index: 2;
               position: relative;
               overflow: auto;
               .box-sizing(border-box);

          }
          ul{
               
               padding:0px 20px 30px;
               .box-sizing(border-box);
               padding: 0;
               li{
                    border-bottom: solid 1px #373535;
                    padding: 5px 0;
                    font-size: 12px;
               }
          }

          .close{
               position: absolute;
               padding: 0px 20px 2px;
               bottom: 2px;
               right: 0px;
               font-family: 'Avenir';
               color: #fff;
               .border-radius(0, 10px, 10px, 0);
               opacity: 1;
               z-index: 1;
               i{
                    font-style: normal;
                    font-size: 15px;
                    float: left;
                    margin: 3px 5px 0 0;

               }
          }
     }

     
}

section.main{
     position: relative;
     z-index: 1;    
}

footer.main{
	.font-default-small;
     position: fixed;
     bottom: 0;
     width: 100%;
     line-height: 9px;
     font-size: 10px;
     background-image: url(../images/footer.png);
     text-transform: uppercase;
     z-index: 2;
     border-top: solid 1px #333;

     .r18{
     	text-align: center;
          padding: 4px 25px 0;
          line-height: 8px;
     }

     .row{
          
          margin: 3px 0 0;
     	background-color: rgba(0, 0, 0, 0.4);

     }
     nav{
     	text-align: center; 
          padding: 0;
          a{
          	color: #fff;
               margin: 0px 3px;
               cursor: pointer;
               padding: 0px;
               display: inline-block;
          }
     }

     .copyright{
          text-align: center; 
          padding: 0 0 4px;
     }
     .government-warning{
          position: relative;
          background-color: #000;
          width: 100%;
          z-index: 102;
          border-top: solid 1px #333;

          span{
               font: bold 13px Arial;
               color: #fff;
               display: block;
               text-align: center;
               position: absolute;
               top:0;
               bottom: 0;
               left:0;
               right: 0;
               margin: auto;
               height: 40px;
               padding: 0px 5px;
          }
     }
}




span.ribbon{
     .font-default-regular;
     position: relative;
     display: inline-block;
     text-transform: uppercase;
     clear: both;
     margin-left: 5px;
     margin-right: 5px;
     color: #fff;
     padding: 0;

     i{
          font-style: normal;
          display: inline-block;
          margin: -5px auto 0;
          text-align:left;
          padding: 5px 5px;
          .box-sizing(border-box);
          background: url(../images/pattern-red.png)  0px -43px repeat-x;
          height: 42px;
          line-height: 30px;
     }

     &:before, &:after{
          content: '';
          background: url(../images/pattern-red.png)  0 0 ;
          position: absolute;
          width: 4px;
          top:-4px;
          height: 42px;
     }
     &:before{
          left:-4px;
          background-position: -1px 0px;
     }
     &:after{
           background-position: -27px 1px;
          right: -4px;
     }

}
 



span.ribbon.large{
    .font-default-regular;
      i{
          background: url(../images/pattern-red-mobile.png)  0px -54px repeat-x;
          height: 50px;
          line-height: 16px;
          display: table-cell;
          vertical-align: middle;
     }

     &:before, &:after{
          background: url(../images/pattern-red-mobile.png)  0 0 ;
          height: 50px;
          top: 0;
     }
     &:before{
          left:-4px;
          background-position: -1px 0px;
     }
     &:after{
          background-position: -34px 2px;
          right: -4px;
     }
} 


.button, .lytebox-buttons button{
     .font-default-btn;
     background: url(../images/pattern-red.png)  0px -43px repeat-x;
     padding: 0px 2px;
     margin-right: 5px;
     margin-left: 5px;
     border: 0;
     text-transform: uppercase;
     position: relative;
     text-align: center;
     display: inline-block;
     cursor: pointer;
     outline: none;
      i{
          font-style: normal;
          display: inline-block;
          margin: 0 auto;
          line-height: 40px;
          min-width: 80px;
          color: #fff;
          height: 40px;
          padding-left:5px;
          padding-right: 5px; 
     }

     &:before, &:after{
          content: '';
          position: absolute;
          width: 4px;
          top:0;
          background: url(../images/pattern-red.png)  0 0 ;
          background-repeat: no-repeat;
          height: 40px;
     }
     &:before{
          left:-4px;
     }
     &:after{
          background-position: -27px 2px;
          right: -4px;
     }

     &:hover, &:active, &:visited, &:link{
          color: #fff;
          text-decoration: none;
     }
     &:hover, &.disabled{
          background-position: 0px -85px;
          &:before{background-position: -34px 0px;}
          &:after{background-position: -61px 2px;}

     }
      &.disabled{
          cursor: default;
      }
}

.button-small{
     .font-default-big;
     background: url(../images/pattern-red-small.png)  0px -35px repeat-x;
     padding: 0px 2px;
     margin-right: 10px;
     margin-left: 10px;
     border: 0;
     color: #fff;
     text-transform: uppercase;
     position: relative;
     text-align: center;
     display: inline-block;
     cursor: pointer;
     outline: none;
      & > i{
          font-style: normal;
          display: inline-block;
          line-height: 34px;
          margin: 0 auto;
          height: 34px;
          min-width: 40px;
          padding: 0 5px;
          color: #fff;

          i.glyphicon{
               font-size: 15px !important;
               min-width: 0px;
          }
     }

     &:before, &:after{
          content: '';
          position: absolute;
          width: 4px;
          top:0;
          background: url(../images/pattern-red-small.png)  0 0 ;
          background-repeat: no-repeat;
          height: 35px;
     }
     &:before{
          left:-4px;
     }
     &:after{
          background-position: -22px 2px;
          right: -4px;
     }

     &:hover, &:active, &:visited, &:link{
          color: #fff;
          text-decoration: none;
     }
     &:hover{
          background-position: 0px -69px;
          &:before{background-position: -28px 0px;}
          &:after{background-position: -50px 2px;}

     }
}


div.browse{
     background: url(../images/bg-home-mobile.jpg);
     padding: 5px 8px;
     .rounded(2px);

     input{
          width: 100%;
          border: solid 1px #ccc;
          padding: 5px;
          font: 12px Arial;
          color: #000;
          cursor: text;
     }

     textarea{
          width: 100%;
          border: solid 1px #ccc;
          padding: 2px 5px;
          font: 12px Arial;
          color: #000;
          resize:none;
          height: 100px;
     }
}
button.webcam{
     display:none;
}

.upload-preview{
     width: 100%;
     max-width: 300px;
     margin: 10px auto;
     text-align: center;
     overflow:hidden;
     img{
          height: 100%;
          max-height: 200px;
     }
}

.upload-preview-fixed{
     display: block;
     background: #4f4f4f;
     height: 192px;
     margin: 10px auto;
     position: relative;
     text-align: center;

     span{
          display: inline-block;
          padding: 5px 10px;
          .font-default-regular;
          background: #666;
          .rounded(4px);
          position: relative;
          top: 45%;
     }
     img{
          height: auto;
          width: auto;
          max-height: 100%;
          max-width: 100%;
     }
}


.popup{
     position: relative;
     background: #101010;
     // background:  #101010 url(../images/popup-mobile-bg.png);
     top:0px;
     padding: 20px;
     margin-bottom: 50px;
     .rounded(10px);
     border: solid 2px #444;

     .content{
          input, textarea, select{
               font: 12px Arial;
          }
     }

     .scrollable{
          font-size: 11px;
          text-align: left;
          margin-top:20px;
     }

     .txtleft, .txtright{
          text-align: center;
     }

      .popup-close, .lytebox-dialog-close{
          top: -30px;
          width: 60px;
          text-align: left;
          .font-default-regular;
          font-size: 45px;
          color: #c00;
          line-height: 8px;
          padding: 0;
          span{
               left: 20px;
               top: 7px;
               font-size: 17px;
               position: absolute;
          }
     }

     p.terms{
          font-size: 11px;
          text-align: left;
          line-height: 10px;
          margin-top: 10px;
          color:#ccc
     }
}

.popup.popup-premium{
     background: #000;

     &:after, &:before{
          display: none;
     }

     .content{
          h1,h2,h3,h4,h5,h6{
               font-family: 'Blair', Arial;
          }

          h4{font-size: 14px;}
          h5{font-size: 12px;}
          h6{font-size: 11px;}

     }
     .line-separator{
          position: relative;
          width: 90%;
          margin: 0 auto 20px;
          &:before{
               .linear-gradient(left, rgba(80, 0, 0, 0), rgb(80, 0, 0),#900);
               left:0;
          }

          &:after{
               .linear-gradient(left, rgb(80, 0, 0), rgba(80, 0, 0, 0),#900);
               left:50%;
          }

          &:before, &:after{
                content: '';
               width: 50%;
               height: 2px;
               bottom: 0px;
               position: absolute;
               z-index: 1;
          }
     }

     .row.found-premium{
          text-align: left;
          .col-sm-4{
               img { 
                    width: 50%;
                    display: block;
                    margin: 0 auto;
               }
          }
     }
}

.popup-gallery, .popup-view{
     position: relative;
     background:  #fff url(../images/bg-generic.jpg);
     top:0px;
     padding: 20px;
     color: #000;


     .content{
          text-align: left;
          
          h3.title{
               display: inline-block;
               margin-top: -10px;
          }

          div.media{
               margin-top: 0;
               height: 240px;
               text-align: center;
               background: #000;
               line-height: 240px;
               img{
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
               }
          }
     }

     .scrollable{
          font-size: 11px;
          text-align: left;
          margin-top:20px;
     }

     .popup-close{
          top: -30px;
          width: 60px;
          text-align: left;
          .font-default-regular;
          color: #c00;
          font-size: 45px;
          line-height: 8px;
          padding: 0;
          span{
               left: 20px;
               top: 7px;
               font-size: 17px;
               position: absolute;
          }
     }
     h2{
          margin: 0;
     }
     .gallery-stat{
          .font-default-small;
          color: #333;
          span{
               margin-right: 10px;

               span{
                    color: #a00;
               }
          }
     }


     .theater{
          border: solid 2px #fff;
          .box-shadow(0px 2px 3px #999);
          img{
              height: auto;
              max-height: 100%;
              max-width: 100%;
              width: auto;
          }
     }

     .carousel{
          height: 77px;

          .arrow.left{ left: -17px}
          .arrow.right{ right: -17px}

          .thumbs{
               width: 100%;
               position: relative;
               margin-top: 10px;
               .thumbnail{
                    border: solid 2px #fff;
                    display: block;
                    margin: 0 auto;
                    width: 90%;
                    height: 75px;
                    .box-shadow(0px 2px 3px #999);
                    .rounded(0);
                    background: center no-repeat;
                    background-size: cover;
               }
          }
     }
          
}


.lytebox-content.splash-page{
     position: fixed !important;
     top: 100px !important;
     margin-top: 0 !important;
}
.splash-popup{
     top:20px;
     padding: 0px;
     color: #fff;
     .content{
          .font-default-regular;
          h1{font-size: 60px; line-height: 40px;}
          h2{color:@color-marlboro-red}
     }
}

#error, .error{
     span{
     padding: 10px !important;
     .font-default-regular;
     color:#fff;
     border: solid 1px #c00;
     display: block;
     background-color: rgba(200, 0, 0, 0.3);
     margin-bottom: 10px;
     .rounded(5px);
     }
}

#error.success{
     span{
     padding: 10px !important;
     .font-default-regular;
     color:#fff;
     border: solid 1px #4AAF0F;
     display: block;
     background-color: rgba(120,255,50,0.2);
     margin-bottom: 10px;
     .rounded(5px);
     }
}

div.comments{
     display: block;
     margin-top: 20px;
     text-align: left;

     .comments-show-more{
          text-align: center;
          border: none;
          background: #A8A8A8;
          color: #fff;
          width: 100%;
          padding: 2px 0;
          font: 12px 'Avenir';
     }

     .add-comment{
          margin-bottom: 10px;
          position: relative;
          padding: 5px 40px 5px 50px;
          figure{
               position: absolute;
               left: 0px;
               top: 5px;
               width: 42px;
               height: 42px;
               text-align: center;
               background: #fff;
               line-height: 38px;

               img{
                    display: inline-block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
               }
          }

          span{
               float: left;
               font:bold 11px 'Avenir';
          }

          button{
               background: transparent;
               border: none;
               padding: 0;
               .font-default-small;
               float: right;
               margin-right: -35px;
          }

          i{
               position: absolute;
               right: 1px;
               top: 20px;
               bottom: 5px;
               width: 39px;
               height: 26px;
               overflow: hidden;
               text-indent: -999px;
               background: #a8a8a8 url(../images/comment-go.png) center no-repeat;
               .border-radius(3px, 3px, 0px, 0px);
               cursor: pointer;
          }

          textarea{
               height: 26px; 
               width: 100%;
               resize: none;
               word-wrap: break-word;
               font: 11px 'Arial';
               overflow-y: hidden;
               border: solid 1px #999;
               padding: 5px;
               .rounded(0);
          }  
     }

     div.terms{
          font-size: 10px;
          color: #777;
          a{ 
               cursor: pointer;
               color: #777;
               text-decoration: underline;
          }
     }
     ul{
          list-style: none;
          padding: 0;
          li{
               padding: 0 0 0 50px;
               position: relative;
               margin-bottom: 10px;
               border-bottom: solid 1px #ccc;

               figure{
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    background: #fff;
                    padding: 0;
                    line-height: 38px;
                    img{
                         display: inline-block;
                         width: auto;
                         height: auto;
                         max-width: 100%;
                         max-height: 100%;
                    }
               }

               span{
                    display: block;
                    font-size: 11px;
               }
               span.name{
                    font-weight: bold;
               }
               span.message{
                    color:#333;
               }
               span.timestamp{
                    color: #999;
                    font-size: 8px;
               }

               div.attachment{
                    position: relative;
                    width: 200px;
                    img{
                         margin-top: 10px;
                         max-width: 100%;
                         border: solid 3px #fff;
                         .box-shadow(0px 1px 3px #777);
                         .rounded(2px);
                    }
                    div.remove{
                         cursor: pointer;
                         position: absolute;
                         background: #fff;
                         padding: 1px 5px;
                         color: #333;
                         .font-default-small;
                         .rounded(2px);
                         top: -4px;
                         .box-shadow(-1px -1px 1px #ccc);
                    }
                    margin-bottom: 10px;
               }

               button.reply{
                    background: transparent;
                    border: none;
                    color:#c00;
                    font: 11px 'Avenir';
               }
               div.reply{
                    display: none;
                    margin: 10px 0;
                    background: #a8a8a8;
                    position: relative;
                    padding: 5px 40px 5px 45px;

                    .terms{
                         color: #fff;
                         a{ 
                              cursor: pointer;
                              color: #fff;
                              text-decoration: underline;
                         }
                    }
                    figure{
                         left: 5px;
                         top: 5px;
                         width: 32px;
                         height: 22px;
                         text-align: center;
                         background: transparent;
                         line-height: 18px;
                         padding: 0;

                         img{
                              height: 100%;
                         }
                    }

                    button{
                         background: transparent;
                         border: none;
                         padding: 0;
                         .font-default-small;
                         position: absolute;
                         line-height: 12px;
                         right: 0;
                         top: -12px;
                    }

                    i{
                         position: absolute;
                         right: 8px;
                         top: 6px;
                         bottom: 5px;
                         width: 25px;
                         height: 22px;
                         overflow: hidden;
                         text-indent: -999px;
                         background: url(../images/comment-go.png) no-repeat;
                         cursor: pointer;
                    }

                     
                    textarea{
                         height: 22px;
                         width: 100%;
                         resize: none;
                         word-wrap: break-word;
                         font: 11px 'Arial';
                         padding: 0;
                         border: solid 1px #fff;
                         padding: 0px 2px;
                         .rounded(0);
                         overflow: hidden;
                    }
               }
          }

               
          //second level
          div.comments{
               margin-top: 0;
               border-left: solid 4px #ccc;
               padding-left: 5px;

               li{
                    border: none;
               }
          }
     }
}
/* end template*/

/* login */
nav.login{
     position: relative;
     z-index: 4;
     max-width: 300px;
     margin: 0 auto;
     text-align: center;
     
     a{
          display: inline-block;
          padding: 10px 30px;
          .font-default-bigger;
          line-height: 20px;
          width: 40%;
          color:#fff;

          &.active{
               color:#c00;
          }

          &:hover, &:active, &:visited {
               text-decoration: none;
               outline-width: 0px;
          }
          &:hover{
               text-shadow:0px 0px 2px #000;
               color: #ccc;
          }
     }
}

// registration
form.registration{
     max-width:400px;
     position: relative;
      text-shadow: 0px 0px 2px #000;
     label {
          font: 13px Arial; 
     }
	input[type="text"]{
          text-shadow: 1px 1px 0px #ccc;
	     border:0;
	     padding: 8px 10px;
	     width: 100%;
          margin-bottom: 5px;
          font: 13px Arial;
	}

	select{
	     border:0;
          text-shadow: 1px 1px 0px #ccc;
	     padding: 8px 10px;
	     width: 100%;
          margin-bottom: 5px;
          font: 13px Arial;
	}

     select.select-s{
          width: 34%;
          margin-right: 2px;
          padding: 6px 2px;
     }
	
     input.input-s{
          width: 35%;
          margin-right: 2px;
     }
     input.input-m{
          width: 59%;
          padding: 8px 2px;
     }
     input[type="radio"]{
          margin-left: 10px;
          border: none;
     }

    .reg-page{
           ul li{
               margin-bottom: 20px;
               min-height: 40px;
          }
    }


     span.label-main, span.label-sub{
          display:inline-block;
          width:115px;
          text-align:right;
          vertical-align: top;

     }
     span.label-main-l{
          display:inline-block;
          width:148px;
          text-align:right;
          vertical-align: top;
     }

     span.label-sub{
          height:30px;
          line-height: 12px;
          vertical-align: bottom;
          .font-default-regular;
     }
     span.input{
          display:inline-block;
          width:168px;
     }

     span.input-s{
          display:inline-block;
          width:118px;
          vertical-align: top;
     }

     span.input-f{
          width:100%;
          vertical-align: top;
     }

     .list-unstyled{
          label{
              // display: none;
          }
          .radio-label{
              // display: inline-block;
          }
     }
     .brand-unavailable{
          label{
               width: 100% !important;
               text-align: left ;
               margin-left: 0px ;
               padding-left:20px;
          }
          input{
               float: left;
               padding: 0;
               margin-left:-18px;
          }
          label span{
               float: left;
          }
     }

     .registration-step-3 > div > div{padding: 0}
	.registration-step-3 .col-md-6{ margin-bottom: 20px}
     .upload-holder{text-align: center; }

     .registration-step-2, .registration-step-3{
               display: none;
          }

} 

nav.reg-page{
     display: block;
     margin: 20px auto;
     width: 200px;
     text-align: center;

     a{
          color: #fff;
          .font-default-bigger;
          outline: none;
          text-decoration: none;
          cursor: default;
          &.active{ color: #c00}
     }
}

#error-msg{
     position: absolute;
     padding: 0;
     display: none;
     z-index: 2;
     background: #900;
     padding: 7px 20px;
     border: solid 1px #c00;
     .rounded(5px);
     .box-shadow(0px 5px 5px rgba(0, 0, 0,0.8));
     .font-default-regular;

     span{
          display: block;
          color: #fff;
     }

     div{
          position: absolute;
          left: 10px;
          bottom: -10px;
          width: 20px;
          height: 10px;
          overflow: hidden;

          i{
               position: absolute;
               width: 18px;
               height: 18px;
               background: #900;
               border: solid 1px #c00;
               left: 1px;
               top: -11px;
               .rotation(45deg);
               border-width: 0 1px 1px 0;
          }
     }
}
  

/* login */
div.login-holder, div.leather-content{
     .border-radius(10px, 10px, 10px, 10px);
     background: #111 url(../images/popup-mobile-bg.png);
     padding: 20px;
     color: #fff;
     text-align: center;
     margin: 10% auto;
     width: 90%;
     max-width: 500px;
     position: relative;

     input[type="text"], input[type="password"]{
          padding: 8px 10px;
          width: 100%;
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
          border-radius: 0px;
          margin-bottom: 10px;
          border: solid #aaa;
          border-width: 2px 8px;
          font-family: Arial;
     }

     .copy{
          max-width: 320px;
          font-size: 12px;
          margin: 0 auto;

          label{
               text-align: left;
               padding-left: 20px;
               position: relative;
               display: block;

               input{
                    position: absolute;
                    left: 0px;
                    top: 0px;
               }
          }
     }
     a{
          color: #fff;
          text-decoration: underline;
     }
}

.side-rail{
     z-index: 2;
     margin-bottom: 5px;
     height: 40px;

     
     nav{
          position: relative;
          height: 32px; 
          width: 180px;
          border: solid 1px #000;
          float: right;
          padding-top: 32px;
          background: url(../images/movefwd-subnav-arrow.png) 156px center no-repeat;
          a{
               outline: none;
               display: none;
               .font-default-big;
               padding: 8px 10px;
               color:#000;
               text-decoration: none;

               &.active{
                    display: block;
                    color:#c00;
                    position: absolute;
                    top:0;
                    width: 100%;
                    background-color: transparent;
               }

          }
          &.drop{
               height: auto;
               background: #fff;
               a{
                    display: block;
                    border-top:solid 1px #333;
                    
                    
               }
          }
     }
}

a.back{
     .font-default-big;
     float: left;
     color:#000;
     background: url(../images/bg-back.png) left center no-repeat;
     padding: 3px 0px 3px 25px;
     margin-top: 3px;
}

//sticky - side rail with only 3 link, 
.side-rail.sticky{
     z-index: 5;
     margin-bottom: 5px;
     height: 40px;

     nav{
          height: 60px; 
          width: 100%;
          background: #fff url(../images/bg-generic.jpg) ;
          text-align: center;
          border: none;
          position: fixed;
          float: none;
          left: 0px;
          top:50px;
          padding: 20px 0;
          .box-shadow(0px 2px 10px #333);

          a{
               width: 100px;
               display: inline-block;
               .font-default-regular;
               padding:0px;
               color:#000;
               text-decoration: none;

               &.active{
                    color:#c00;
                    position:static;
               }

               &:first-child{float: left;
               }
               &:last-child{float: right;}

               i{
                    display: block;
                    margin: 0 auto 1px;
                    font-size: 20px;
               }

          }
     }
}
.main-rail{
     position: relative;
     top: 10px;

     .title{
          h2{
               margin: 10px 0 0;
          }
     }
}
/* main-content */

section.main {

     .wrapper{
          padding-top: 20px;
          min-height: 340px;
          position: relative;
          .box-sizing(border-box);
          background-image: url(../images/bg-generic.jpg);
          background-size: 180%;
          background-repeat: no-repeat;
          background-color: #f4f4f4;
          background-position: top center;
          background-attachment:fixed;
          color: #222;
          padding-bottom: 30px;
     }

     .wrapper.fixed{
          background-size: cover;
          background-position: center;
          padding-bottom: 50px;
     }

     .wrapper.home{
          background-image: url(../images/bg-home-mobile.jpg)
     }

     .wrapper.earnpoints{
          background-image: url(../images/bg-earnpoints-mobile.jpg)
     }
     .wrapper.registration{
          background-image: url(../images/bg-login-mobile.jpg);
          background-color: #000;
          background-size: cover;
          background-repeat: repeat-x;
          background-position: top;
          color: #fff;

     }
     .wrapper.dbam{
          background: #111 url(../images/bg-dbam.jpg) repeat;
     }


}
section.main.fixed{
     /*homepage*/
     overflow: hidden;
     .wrapper.earnpoints{
          position: absolute;
          top: 100%;
     }
     .wrapper.movefwd{
         display:none
     }
} 


/*home */

.holder-home{
     position: relative;
     top:60px;
     width: 220px;
     text-align: center;
     .button i {
          width: 120px;
     }

     .line-movefwd,.line-earnpoints{
          position: absolute;
          width: 1000px;
          height: 2px;
          top: 50%;
          left: -1003px;
          background-color: #900;
     }

     .line-earnpoints{
          width: 2px;
          height: 150px;
          bottom: 0px;
          left: 50%;
          top:37px;
     }
}

/*earn points*/
.holder-earnpoints{
     padding: 0px 20px;
     color: #fff;
     text-shadow: 1px 1px 1px #000;
     p{
          font-size: 12px;
     }
     .row{
          
          & > div{
               padding: 5px;
          }

          h3{
               margin: 0;
          }

          .clearfix{
               height: 10px;
          }

          .webgames{
               display: none;
          }
     }
}

/*profile*/

//popup
#popup-change-photo{

     .photo-preview{
          display: block;
          margin: 0 auto;
          background: #fff center no-repeat;
          background-size: contain;
          overflow: hidden;
          height: 215px;
     } 

     small.red{
          color: #c00;
          .font-default-small;
          display: block;
     }
     
}

.profile-book{
     background: url(../images/bg-profile.jpg);
     margin: 0 auto;
     max-width: 90%;
     .box-shadow(0px 20px 30px 0 #555 );

     & ~ div {
          padding: 0;
          margin: 0;
     }

     .edit-profile{
          display: none;
          text-decoration: none;
     }
     .page{
          padding: 20px;
          &:first-child{padding: 20px 0 0}
          ul{
               .font-default-regular;

               li{
                    margin: 10px 0;
               }

          
          }
          .profile-pic{
               figure{
                    padding: 0;
                    img{
                         max-width: 100%;
                    } 
                    figcaption{
                         display: none;
                    }
               }div{
                    padding: 0 0 0 10px;
               }
               div:first-child{
                    padding: 0;
               }

               a{
                    color: #000;
                    .font-default-regular;
                    text-decoration: none;
                    display: block;
                    margin: 10px 0;
                    i{
                         font-size: 16px; 
                    }
               }
          }
          .maybe-list{
               text-align: center;
               background: #dddddd;
               padding: 10px 0;
               margin-top: 10px;
               border: solid #000;
               border-width: 1px 0;
               .font-default-regular;

               h3{
                    .font-default-bigger;
               }

               ul{
                    text-align: center;
                    margin-bottom: 30px;
                    li{
                         margin-bottom: 10px;
                    }
                    span{
                         display: inline-block;
                         position: relative;
                         font-size: 17px;

                         &:after{
                              content: '';
                              position: absolute;
                              top: 0px;
                              left: 0px;
                              height: 100%;
                              width: 100%;
                              background: url(../images/maybe-cross.png) no-repeat center;
                              background-size: 100% auto;
                         }
                    }
               }
          }

          ul.profile-details{
               padding: 0;
               margin: 0;
               list-style: none;
               max-width: 260px;

               li{
                    input, select{
                         display: none;
                    }
                     label.gender{
                         display: none;
                    }
                    span{
                         padding: 5px 0;
                    }
               }

               .other-fields{
                    display: none;
               }
          }

          ul.profile-details.edit{
               li{  
                    span{
                    }
                    span.name{
                         display: inline-block;
                         width: 100px;
                    }

                    span.value{
                         display: none;
                    }

                    input, select{
                         display: inline-block;
                         border: solid 1px #ccc;
                         padding:2px;
                         width: 144px;
                         font:12px Arial;
                    }
                    
                    label.gender{
                         display: inline;
                         padding: 0;
                         margin-right: 10px;
                         input{
                              width: 10px;
                         }
                    }

                    label.list{
                         font-weight: normal;
                         display: block;
                         padding-left: 100px;

                         input[type="radio"]{
                              width: 10px;
                              margin-left: -14px;
                         }
                    }
               }

               .other-fields{
                    display: block;
                    list-style: none;
                    padding: 0;
                    margin-bottom: 10px;

                    span.name{
                         text-align: right;
                         color: #999;
                         padding-right: 10px;
                    }

                    .update{
                         float: right;
                    }
               }


          }

          small.unsubcribe{
               font-size: 10px;
               color: #333;
               line-height: 11px;
               display: inline-block;
               margin-top: 20px;
          }

     }

}

/*listing commons*/
.thumb-holder{
     border:solid 2px #000;
     padding: 0;
     .thumbnail{
          display: block;
          height: 180px;
          margin-bottom: 0;
          background-position: center;
          background-color: #333;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;

          sup{
               position:absolute;
               z-index:2;
               color:#fff;
               background:rgba(0,0,0, 0.6);
               padding:2px 6px;
               top:5px;
               right:0;
               font:14px Maybebold;
          }
     }   
}
.col-xs-6 .thumb-holder .thumbnail{
     height: 100px;
}

.album-holder{
     position: relative;
     border:solid 2px #000;
     background: #000;
     padding: 0;
     text-align: center;
     height: 100px;

     

     .thumbnail{
          display: inline-block;
          width: 32%;
          height: 100%;
          margin: 0;
          padding: 0;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border: none;
          .rounded(0);
     }   
}

.no-image{
     display: block;
     position: relative;
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-color: #e3e3e3;
}

.row{
     .item{
          margin-bottom: 40px;
          
          a{
               text-decoration: none;
          }

          i.glyphicon {
               color: #fff;
               font-size: 20px;
          }

          h2 a, h3 a{
             color: #000;  
          }

          .title{
               margin-bottom: 10px;
               h3{
                    margin: 10px 0 0;
               }
               
               h5{
                    margin: 0;
                    color: #555;
               }
          }
     }
}

.theater{
     width: 100%;
     position: relative;

     img{
          width: 100%;
          max-width: 100%;
          z-index: 1
     }
}

.article-stat{
     font: 11px 'Avenir';
     span{
          display: inline-block;
          margin:0px 20px 10px 0;
     }
}

.arrow{
     position: absolute;
     width: 13px;
     height: 20px;
     background: url(../images/arrow.png);
     top: 50%;
     z-index: 2;
     cursor: pointer;
     margin-top: -10px
}
.arrow.left{
     left: 8px;
}

.arrow.right{
     right:8px;
     background-position: -15px 0;
}

.btn-play{
     // position: absolute;
     // z-index: 2;
     // padding: 10px 10px 8px 12px;
     // background: #000;
     // text-align: center;
     // .rounded(3px);
     // top:50%;
     // left: 50%;
     // margin-left: -18px;
     // margin-top: -18px;
     // opacity: 0.8;
     // cursor: pointer;

     position: absolute;
     text-align: center;
     top:50%;
     left: 50%;
     margin-left: -18px;
     margin-top: -18px;
     opacity: 0.8;
     cursor: pointer;
     z-index: 2;
     border-radius: 100%;
     opacity: 1;
     padding: 13px 12px 10px 16px;
     box-shadow: 1px 3px 4px  rgba(0, 0, 0, 0.81);
     background-color: #BE131B;
     margin-left: -25px;

     &:hover{
          background-color: #D31017;
     }
}

/*find marlboro*/
.find-marlboro{
     position: absolute;
     width: 1px;
     height: 1px;
     z-index: 9;
     right: 0px;
     top:40%;
     cursor: pointer;

     img{
          position: absolute;
          top: 0;
          right: 0;
          max-height: 300px; 
     }
}

/* perks */
.row.perks-categories{
     .thumb-holder{
          border: none;
          .thumbnail{
               background-size: contain;
               background-color: transparent;
               border: none;
          }
     }
     .item{
          margin-bottom: 50px;
          text-align: center;

          .copy{
               padding: 0;
          }
     }
}


/* backstage pass*/

.hot-events{
     position: relative;
     .item{
          .row{
               margin: 0;
          }

     }

     .owl-controls{
          text-align: center;
          .owl-pagination{
               display: inline-block;
               .owl-page{
                    display: inline-block;
                    margin: 0 2px;
                    span{
                         display: block;
                         width: 10px;
                         height: 10px;
                         background-color: #999;
                         .rounded(100%); 
                    }

                    &.active{
                           span{
                              background-color: #900;
                           }   
                    }
               }
          }
     }
}

.popup{
     .map-embed{
          iframe{
               width: 100%;
               height: 260px;
          }
     }
}

.row.perks-items{

}

.popup.perks{
     h2,h3,h4{ margin: 0}

     .row.perks-details{
          padding: 0;

          .transaction{
               text-align: center;
               margin: 10px 0;

               h4{
               .font-default-small;
               }
               .specs{
                    margin: 20px 0;
                    label{
                         font-weight: normal;
                         .font-default-big;
                    }
                    select{
                         padding: 2px 0; 
                    }
               }
               
          }
      
          .carousel{
               margin-bottom: 10px;
               background: #333;
               .owl-item{
                    height: 200px;
                    line-height: 200px;
                    text-align: center;

                    img{
                         display: inline;
                         height: auto;
                         width: auto;
                         max-height: 100%;
                         max-width: 100%;
                    }
               }
          }
     }

     .fieldset{
          position: relative;
          border: solid 1px #fff;
          padding: 20px 10px; 
          .font-default-regular;
          margin: 20px 0;

          .legend{
               .font-default-regular;
               color: #fff;
               background: transparent;
               border: none;
               margin: -28px 0 10px;
               width: 100%;
               text-align: center;
               span{
                    background: #101010;
                    padding: 2px 5px;
               }
          }

          .specs{
               margin:0;
               padding:0;
               list-style: none;

               li{
                    margin-bottom: 2px;
                    text-align: center;

                    label{
                         display: block;
                    }

                    .addfield{
                         border: none;
                         background: transparent;
                         color: #c00;
                         font-size: 12px;
                         float: right;
                    }
               }

          }

          input[type="text"], select{
               border: none;
               width: 100px;
               padding: 3px;
               font: 12px Arial;
               margin-bottom: 5px;
          }
     }

     ul.countdown{
          margin: 20px auto 0;
          list-style: none;
          text-align: center;
          padding: 0; 

          li{
               display: inline-block;
               text-align: center;
               margin: 0 4px;
               .font-default-regular;
               i{
                    font-style: normal;
                    display: block;
               }

               span{
                    display: block;
                    margin-top: 10px;
                    font-size: 28px;
               }
          }
     }

     input.bid{
          .font-default-regular;
          padding: 4px 5px;
     }
}

/* move fwd */
.move-fwd-categories{
     margin: 0 auto;
     max-width: 400px;


     .item{
          text-align: center;
          margin-bottom: 30px;
          p{text-align: left;}
     }
}

div{
     .item{
          &.inactive{
               -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
              -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
              -webkit-filter: grayscale(100%);
              filter: gray;
              filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
          }


          /* movefwd premium*/
          &.premium{
               padding: 0 0 15px;
               margin: 15px;
               &:after{
                    background: #000;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 0;
               }
               & > *{

                    z-index: 2;
                    position: relative;
               }
               .thumb-holder {
                    padding:0;
                    .rounded(0);
                    border: solid 2px #c00;
                    box-shadow: none;

                    .thumbnail{
                         .rounded(0);
                         border: none;
                         background-color:#111; 
                    }
               }

               h2 a, h3 a{
                    color: #fff;
               }
          }
     }

}

.move-fwd-challenge{
     margin-top: 20px;
     .thumb-holder{
          padding: 5px;
          background: #f4f4f4;
          border: none;
          .box-shadow(0px 2px 3px #999);
          .rounded(2px);

          h3{
               padding: 0;
               text-align: right;
               margin: 5px 0 0;
          }
     }
}

.participants{
     border: solid 1px #111;
     position: relative;
     margin-top: 20px;
     padding: 10px;
     span{
          width: 120px;
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -60px;
          top: -10px;
          background: #EEEEEE;
          font: bold 14px 'Avenir';
     }

     .thumbs{
          text-align: center;
          div{
               width: 42px;
               height: 42px;
               display: inline-block;
               margin: 1px;
               cursor: pointer;
               background-repeat: no-repeat;
               background-position: center;
               background-color: #000;
               background-size: contain;

               span{
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../images/send-message.png);
                    background-size: cover;
                    top: 0;
                    left:0;
                    margin: 0;
                    opacity: 0;
                    -webkit-transition: opacity 300ms; /* For Safari 3.1 to 6.0 */
                    transition: opacity 300ms;
               }

               &:hover span{
                    opacity: 0.5;
               }
          }
     }

     .arrow{
          position: absolute;
          width: 13px;
          height: 20px;
          background: url(../images/arrow.png);
          top: 22px;
          z-index: 2;
          cursor: pointer;
     }
     .arrow.left{
          left: 5px;
     }

     .arrow.right{
          right: 5px;
          background-position: -15px 0;
     }
}

/*move fwd take challenge*/
ul.challenge-task{
     list-style: none;
     padding: 0;
     max-width: 400px;
     margin: 0 auto;
     li{
          padding: 10px;
          border: solid 1px #ccc;
          margin-bottom: 10px;
          background: url(../images/bg-movefwd-task.png) 0 -75px;
          font: 11px 'Avenir';
          color: #000;
          .rounded(2px);

          &.locked{
               background-position: 0 0;
               background-size: 35%;
               font-size: 25px;
               color: #c00;
               text-shadow: 2px 0px 1px #fff;
               padding: 5px 0 0;
          }
     }
}
/* about */
/*about - photo - gallery*/
.upload-from-event{
     display: block;
     text-align: center;
}
/*product info*/
#round-about-container .arrow{
     z-index: 2;
}

.product-roundabout {
position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 250px;
  width: 100%;
  max-width: 400px;
  z-index: 1;

     & > li {
       width: 200px;
       cursor: pointer;
     }
     & > li.itemLeft{
          transform:translate(20px);
     }
     & > li.itemCenter{
          transform:translate(0px);
     }
}
.product-info{
     margin-bottom: 40px;
}
/*'brand history*/

.leathered{
     background: #222222 url(../images/popup-leather.jpg);
     padding: 23px 20px ;
     position: relative;
     color: #fff;
     .box-shadow(0px 0px 10px rgba(255, 255, 255, 0.5) inset);
     .rounded(5px);

     &:after, &:before{
          content: '';
          position: absolute;
          width: 90%;
          height: 20px;
          left: 5%;
          background: url(../images/pop-leather-tread-horizontal.png) 0 0 repeat-x;
          z-index: 3;
          .rounded(10px);
     }
     &:after{ top: 7px; background-position: right;} &:before{ bottom: 7px;}


     .leathered-content{
          position: relative;
          padding: 2px 5px;
          &:after, &:before{
               content: '';
               position: absolute;
               top:0;
               width: 20px;
               height: 100%;
               background: url(../images/pop-leather-tread-vertical.png);
          }
           &:after{ right: -14px; } &:before{ left: -14px}
     }

     .row{
          & > div > img{
               max-width: 100%;
          }

     }
}
#brand-timeline-content{
     margin-top: 70px !important;
}


.gallery{

     .item{
          padding: 0;
          margin: 0 !important;
          border: none;
          .thumbnail{
               height: 100%;
               background: center no-repeat;
               background-size: cover;
               border: none;
               cursor: pointer;
               .rounded(0);
               padding: 0;
               overflow: hidden;
               position: relative;

               &.video{
                    // -webkit-box-shadow: 0 0 0 4px #900 inset;
                    // -moz-box-shadow: 0 0 0 4px #900 inset;
                    // box-shadow: 0 0 0 4px #900 inset;

               }
               span{
                    display: block;
                    padding: 10px;
                    color: #fff;
                    background: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    width: 100%;
                    bottom: -100%;
                    -webkit-transition: all 500ms; /* For Safari 3.1 to 6.0 */
                    transition: all 500ms;
               }

               sup{
                    position:absolute;
                    z-index:2;
                    color:#fff;
                    background:rgba(0,0,0, 0.6);
                    padding:2px 6px;
                    top:5px;
                    right:0;
                    font:14px Maybebold;
               }

               &:hover{
                    span{
                         bottom: 0;
                    }
               }
          }


          .btn-play{
               border-radius: 100%;
               opacity: 1;
               padding: 13px 12px 10px 16px;
               box-shadow: 1px 3px 4px  rgba(0, 0, 0, 0.81);
               background-color: #BE131B;
               margin-left: -25px;

               &:hover{
                    background-color: #D31017;
               }
          }

     }
}

.main-rail{
     position: relative;
}
.brand-timeline{
     position: absolute;
     top: -70px;
     width: 94%;
     height: 55px;


     .arrow{
          z-index: 9;
          top: 17px;
          &.left{left: 0px;}
          &.right{right: 0px;}
     }

     .frame{
          text-align: center;
          position: relative;
          padding-top: 35px;
          padding-bottom: 20px;
          cursor: pointer;

          .dot{
               display: block;
               width: 6px;
               height: 6px;
               background-color: #666; 
               .rounded(100%);
               position: absolute;
               top: 15px;
               left: 50%;
               margin-left: -3px;
               z-index: 2;
          }

          .line{
               display: block;
               height: 1px;
               width: 100%;
               background-color: #666; 
               position: absolute;
               top: 17px;
               z-index: 1;
          }

          span{
               .font-default-regular;
               color: #900;
          }

          &.active{
              .dot{
                    width: 25px;
                    height: 25px;
                    padding:3px;
                    top:5px;
                    margin-left: -12px;
                    background-color: #fff;
                    .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

                    &:before{
                         content: '';
                         display: block;
                         background-color: #c00;
                         height: 100%;
                         .rounded(100%);
                         .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.5) inset);
                    }

                    &:after{
                         content: '';
                         position: absolute;
                         top:48px;
                         left: 3px;
                         border-left: 10px solid transparent;
                         border-right: 10px solid transparent;
                         border-bottom: 17px solid #222;
                    }
              } 
          }
     }
}


/*messages*/
.messages{

     .side-rail{
          nav a span{
               display: none;
          }
     }

     ul.inbox{
          padding: 0;
          margin: 0;
          list-style: none;
          li{
               position: relative;
               padding: 10px 0 10px 10px;
               border-bottom: solid 1px #ccc;
               font-size: 12px;

               input{
                    position: absolute;
                    left: -8px;
                    top: 7px;
               }

               .name{
                    .font-default-big;
                    float: left;
               }
               .date{
                    float: right;
                    font-size: 11px;
               }
               .subject{
                    margin-top: 24px;
                    display: block;
                    font-weight: bold;
               }
               .msg{
                    display: block;
                    color:#666;
                    font-size: 11px;
               }
               a{
                    text-decoration: none;
                    color: #000;
               }

               &.unread{
                    span{
                         color: @color-marlboro-red;
                    }
               }
          }
     }

     ul.inbox-message{
          padding: 0;
          margin: 0;
          list-style: none;
          li.head{
               h1{
                    font: 20px 'Avenir';
                    line-height: 16px;
                    margin: 0;
               }
          }
           li{
               position: relative;
               padding:10px 0;
               border-bottom: solid 1px #ccc;
               font-size: 12px;
               .box-sizing(border-box);

               .name, .date, .msg{
                    display: block;
               }

               .name{
                    .font-default-big;
               }
               .date{
                    font-size: 10px;
                    color: #333;
                    margin-bottom: 5px;
               }


               textarea.reply{
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                    resize:none;
                    min-height: 100px;
                    .rounded(0px);
                    border: solid 1px #333;
                    font: 12px Arial;
               }
          }
     }

     ul.compose-message{
          padding: 0;
          margin: 0;
          list-style: none;
          li.head{
               h3{ float: left; margin: 0 4px 0 0; width: 70px;}

               input[type="text"]{
                    float: left;
                    border: solid 1px #333;
                    width: 70%;
                    padding: 4px;
               }
          }
           li{
               position: relative;
               padding:10px 0;
               border-bottom: solid 1px #ccc;
               font-size: 12px;
               .box-sizing(border-box);

               .name, .date, .msg{
                    display: block;
               }

               .name{
                    .font-default-big;
               }
               .date{
                    font-size: 10px;
                    color: #333;
                    margin-bottom: 5px;
               }


               textarea.reply{
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                    resize:none;
                    min-height: 100px;
                    .rounded(0px);
                    border: solid 1px #333;
                    font: 12px 'Avenir';
               }
          }
     }
}


/*popups*/
.popup{
     .row.confirm-email{
          & > div{
               margin-bottom: 10px;
          }
          h3{
               margin: 0;
          }

          input,select{
               border:0;
               width: 100%;
               text-shadow: 1px 1px 0px #ccc;
          }
          input{
               padding: 8px 10px;
          }

          select{
               padding: 8px 10px;
               padding-right: 0px;
          }
     }

     .message-compose{
          & > div{
               margin-bottom: 10px;
          }
          h3{
               margin: 0;
          }

          input,select{
               font: 12px Arial;
               border:0;
               width: 100%;
               text-shadow: 1px 1px 0px #ccc;
          }
          input{
               padding: 8px 10px;
          }

          select{
               padding: 8px 10px;
               padding-right: 0px;
          }

          textarea{
               display: block;
                padding: 8px 10px;
                width: 100%;
                min-height: 150px;
                 font: 12px Arial;
                 text-shadow: 1px 1px 0px #ccc;
          }
     }
}




.debug{
     border: dashed 1px #900;
}

/* forms */
select{
     border: solid 1px #ccc;
     padding: 8px 10px;
     width: 100%;
     margin-bottom: 5px;
     font: 13px Arial;
}
input[type="text"]{
     border: solid 1px #ccc;
     padding: 8px 10px;
     width: 100%;
     margin-bottom: 5px;
     font: 13px Arial;
}

.row-filter{
     margin-bottom: 20px;
}

.refer-a-friend{
     .content{
          padding: 10px  !important;

          small{
               text-align: justify;
               font-size: 11px;
               display: block;
               margin-bottom: 10px;
               position: relative;

               input[type="checkbox"]{
                    margin-top: 5px;
               }

          }
     }

     ul.referrals{
          text-align: left;
          margin: 30px 0 10px;
          padding: 0;

          &:after{
               content:'';
               display: block;
               clear: both;
          }
          li{
               position: relative;
               padding:0 0 0 20px;
               list-style: none;
               font-size: 14px;
               margin-bottom: 15px;
               
               .glyphicon{
                    position: absolute;
                    left: 0px;
                    top: 2px;
               }
          }
     }

     ul.items{
          padding: 0;
          list-style: none;
          input[type="text"],input[type="email"]{
               max-width: none;
               border: solid 1px #eee; 
               margin-bottom: 2px;
          }

          & > li {
               margin-bottom: 10px;
               position: relative;
          }
     }

     span.add{
          display: block;
          border: none;
          background-color: transparent; 
          color:#fff;
          cursor: pointer;
          text-align: right;
          font: 14px Maybebold;
          margin-top: -5px;
          margin-bottom: 10px;
     }

     .remove{
          position: absolute;
          right: -21px;
          top : 8px;
          cursor: pointer;
     }
}
.profiling{
     margin: 0 auto;
     width: 100%;
     max-width: 320px;
     padding: 0 15px;

     header{
          background: url(../images/bg-side-rail-links.png) repeat-x left bottom;
          margin-bottom: 10px;
          h2{
               padding: 0px;
               font-size: 28px;
          }
          span{
               display: inline-block;
               margin-bottom: 15px;
          }

     }

     .row{
          margin:0;

          .interest-col{
               position: relative;
               z-index: 2
          }
          .rank-col{
               position: relative;
               z-index: 1
          }
          .rank{
               background: #fff;
               padding: 2px;
               margin-bottom: 80px;
               border: solid 1px #d8d8d8;

               .action{
                    button{
                         float: left;
                         width: 50%;
                         font: 16px Maybebold;
                         color: #fff;
                         border: none;
                         padding: 8px;

                         span{
                              margin-right: 5px;
                         }

                         &.save{
                              background: #cb0000;
                         }
                         &.clear{
                              background: #111;
                              border-left: solid 1px #fff;
                         }

                    }
               }
               h3{
                    float: none;
                    width: auto;
                    background: #111;
                    color: #fff;
                    padding: 2px 10px;
                    font-size: 18px;
               }

               p{
                   padding: 2px 10px;
                   font-size: 11px;
               }

               ul{
                    padding: 0 10px;
                    margin: 30px 0;
                    list-style: none;

                    li{
                         font: 16px Maybebold;
                         padding: 5px 0px;
                         background: #e9e9e9;
                         margin-bottom: 3px;
                         position: relative;

                         i{
                            font-style: normal;
                            padding: 5px 10px;
                            background: #d8d8d8;   
                         }
                         b{
                              position: absolute;
                              right: 3px;
                              top: 7px;
                              font-weight: normal;
                              padding: 0 3px 2px;
                              line-height: 12px;
                              background: #d1d1d1;
                              font-size: 20px;
                              color: #fff;
                              .rounded(10px);
                              cursor: pointer;
                         }
                    }
               }
          }

          & > div{
               padding: 0;
          }
          h3{
               padding: 0;
               margin: 0;
          }   
          .note{
               color: #111;
               padding: 5px 0;
               font-size: 11px;
               position: relative;
               margin-bottom: 30px;
               display: inline-block;

               &:after{
                    content: "";
                    display: block;
                    clear: both;
               }
          }

          ul.items{
               padding: 0 ;
               list-style: none;

               &:after{
                    content: "";
                    display: block;
                    clear: both;
               }

               & > li{
                    width: 110px;
                    border: 2px solid #fff;
                    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
                    float: left;
                    cursor: pointer;
                    margin-right: 150px;
                    margin-bottom: 30px;
                    position: relative;

                    ol{
                         position: absolute;
                         right: -134px;
                         top:-2px;
                         padding: 0;
                         margin: 0;
                         width: 130px;
                         list-style: none;
                         display: none;

                         li{
                              padding: 5px 10px;
                              background-color:#e1e1e1;
                              margin-bottom: 1px;
                              font: 14px Maybebold;

                              &:hover{
                                   color: #fff;
                                   background-color: #cb0000;
                              }
                              &.active{
                                   color: #fff;
                                   background-color: #ab0000;
                              }
                         }
                    }
                    .icon{
                         height: 80px;
                         position: relative;
                         background-color: #ccc;
                         -webkit-transition: background 800ms;
                         transition: background 800ms;

                         img{
                              position: absolute;
                              top:50%;
                              left: 50%;
                              -webkit-transform: translate(-50%,-50%);
                              transform: translate(-50%,-50%);
                         }
                    }

                    &.active .icon{
                         background-color: #900000;
                    }

                    &:hover{

                         ol{
                              display: block;
                         }
                         .icon{
                              background-color: #cb0000;
                         }
                    }

                    .name{
                         background: #fff;
                         display: block;
                         padding: 3px 2px;
                         font: 16px Maybebold;
                         text-overflow: ellipsis;
                         white-space: nowrap;
                         overflow: hidden; 
                    }
               }
          }
     }
}

@import 'style-tablet.less';
@import 'style-desktop.less';
@import 'premium-black.less';