<div class="mainWrapper scrollable">		
	
	<!-- HEADER -->
	<header>
		<div class="container">
			
			<!-- Main navigation -->
			<ul class="nav">
				<li class="home">
					<a href="index.html">
						<img src="img/crossover.png" alt="Malboro - Cross|Over" />
					</a>
				</li>
				<li>
					<a href="index.html" data-i18n="header.links.home"></a>
				</li>
				<li>
					<a href="map.html" data-i18n="header.links.map"></a>
				</li>
				<li>
					<a href="gifts.html" data-i18n="header.links.gifts"></a>
				</li>
				<li>
					<a href="events.html" data-i18n="header.links.events"></a>
				</li>
				<li>
					<a href="howTo.html" data-i18n="header.links.howTo"></a>
				</li>
				<!-- activities links call a new panel of menu: Cfr below sub-menu .activities  -->
				<li class="sliderActivities active">
					<a href="#" data-i18n="header.links.activities"></a>
				</li>

				<!-- data user + Call modal Profile-->
				<li class="navProfile">
					<ul>
						<!-- open modal Profile + add focus on input addCode -->
						<li class="addCode">
							<p><strong>0015</strong>km</p>
							<p><a href="#" class="addCodeTo" data-i18n="header.addCode"></a></p>				
						</li>
						<!-- open modal Profile  -->
						<li class="profileBtn">
							<a href="#" data-toggle="modal" data-target="#myProfileInfo">
								<span class="border">
									<img src="img/user.png" alt"user name" />
								</span>
								<span class="arrowDown"></span>
							</a>
						</li>
					</ul>
				</li>
			</ul>	
			
		</div>

		<!-- sub-menu: display a slider with all the activities -->
		<div class="activities">
			<div class="slider">
				<div class="checked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]california.one.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="california.one.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="checked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]california.two.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="california.two.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div>
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]california.three.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="california.three.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.one.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="canada.one.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.two.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="canada.two.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.three.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="canada.three.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.one.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="alaska.one.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.two.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="alaska.two.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.three.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="alaska.three.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
			</div>
		</div>
		
	</header>
	
	<!-- CONTENT -->
	<!-- PRESENTATION OF THE ACTIVITY -->
	<section class="section splash fullscreen">
		<div class="background" style="background-image:url(img/alaska/activities.jpg)"></div>

		<div class="title">
			<div class="nav">
				<span class="control prev"></span>
				<span class="icon bicycle"></span>
				<span class="control next"></span>
			</div>
			<div class="subtitle">
				<div class="stroked" data-i18n="activities.subtitle"></div>
			</div>		
			<h1><span data-i18n="alaska.one.name"></span></h1>
		</div>
		
		<div class="weather">
			<b data-i18n="alaska.one.pictureLocation"></b>
			<span data-i18n="alaska.location"></span> 
			/ <span data-i18n="alaska.country"></span>
			<p data-i18n="alaska.one.legend"></p>
		</div>

		<div class="pageName next">
			<a href="#!" data-scrollTo="act_choices">
				<span data-i18n="activities.pageNameNextLeft"></span>
				<span data-i18n="activities.pageNameNextRight"></span>
				<div class="icon"></div>
			</a>
		</div>

	</section>

	<!-- DISCOVER THE 2 PROPOSITIONS -->
	<section class="section choose fullscreen" id="act_choices">

		<div class="propositions">
			<!-- Proposition n°1 -->
			<div class="col-sm-6 bgImg" data-choice="kayak">
				<div class="background" style="background-image:url(img/alaska/bg_img_kayak.jpg)"></div>
				<div class="infos">
					<span class="icon bicycle"></span>
					<div class="subtitle">
						<span class="stroked" data-i18n="activities.choice.decide"></span>
					</div> 
					<h3><span data-i18n="activities.choice.activity1"></span></h3>
					<div class="choiceDetails">
						<button data-seeMore="#kayakDetails"><span data-i18n="activities.choice.moreInfos"></span></button>

						<div class="moreInfos" id="kayakDetails">
							<p data-i18n="[html]activities.choice.activity1_detail"></p>
						</div>
					</div>
					
				</div>
			</div>

			<!-- Proposition n°2 -->
			<div class="col-sm-6 bgImg" data-choice="paddle">
				<div class="background" style="background-image:url(img/alaska/bg_img_paddle.jpg)"></div>
				<div class="infos">
					<span class="icon bicycle"></span>
					<div class="subtitle">
						<span class="stroked" data-i18n="activities.choice.decide"></span>
					</div> 
					<h3><span data-i18n="activities.choice.activity2"></span></h3>
					<div class="choiceDetails">
						<button data-seeMore="#PaddleDetails"><span data-i18n="activities.choice.moreInfos"></span></button>
						
						<div class="moreInfos" id="PaddleDetails">
							<p data-i18n="[html]activities.choice.activity1_detail"></p>
						</div>
					</div>
				</div>
			</div>

		</div>				

	</section>

	<!-- MAKE A DECISION -->
	<section class="makeChoice" id="makeYourChoice">
	
		<div class="inner">
			<p data-i18n="activities.choice.makeChoiceTitle"></p>
			<div class="row">
				<!-- STEP 1: offer 2 choices to the user -->
				<div class="question">
					<button data-choice="kayak" data-i18n="activities.choice.activity1"></button>

					<span data-i18n="[html]activities.choice.makeChoiceCrossOver"></span>

					<button data-choice="paddle" data-i18n="activities.choice.activity2"></button>

					<p data-i18n="activities.choice.youDecide"></p>
				</div>
				
				<!-- STEP 2: summary with the user's response -->
				<div class="reponse">
					<p>
						<i data-i18n="activities.choice.decideActivity2"></i>
						<b data-i18n="activities.choice.activity2"></b>
					</p><br />
					<a href="" class="change" data-i18n="activities.modify"></a>
				</div>

			</div>			
		</div>
		
		<!-- display an error message if the user didn't have enought km -->
		<div class="inner noAcces" style="display:none">
			<div class="stroked"  data-i18n="activities.choice.noAccesSubtitle"></div>
			<p data-i18n="activities.choice.noAccesTitle"></p>
			<a href="#" class="btn" data-i18n="activities.choice.noAccesLink"></a>
		</div>

	</section>

	<!-- the content will be loaded here, when the user make his choice -->
	
	
	<!-- FOOTER -->
	<footer>

		<div class="navFooter">                

	        <!-- BOTTOMBAR -->
	        <nav class="bottombar clearfix">

	            <ul class="user">
	                <li><a href="#" data-i18n="footer.logout"></a></li>
	            </ul>

	            <ul class="nav">
	                <li><a href="#" data-i18n="footer.account"></a></li>
	                <li><a href="legal.html" target="_blank" data-i18n="footer.terms"></a></li>
	                <li><a href="#" data-i18n="footer.contact"></a></li>
	                <li><a href="#" data-i18n="footer.faq"></a></li>
	                <li><a href="#" data-i18n="footer.health"></a></li>
	                <li class="invite_friend"><a href="#" data-i18n="footer.invite"></a></li>
	            </ul>                

	        </nav>
	        <!-- /BOTTOMBAR -->
	    </div>

		<div class="container-fluid health_warning">
	        <div class="row">
	            <div class="col-md-12">
	                <p>
	                    <img src="img/footer/health_warning.jpg" alt="Rauchen ist tödlich. Fumer tue. Il fumo uccide.">
	                </p>
	            </div>
	        </div>
	    </div>
		
	</footer>

	<!-- MODAL NAV PROFILE -->
	<div class="modal fade profile" id="myProfileInfo">
		<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </div>
			    <div class="modal-body">
			      	<div class="inputAddCode">
			      		<form action="">
			      			<!-- input text to add code -->
			      			<div class="inputContainer">		      			
				      			<input type="text" name="personalCode" placeholder="Your code here" value="Your code here" maxlength="8" >		      	
				      			<button type="submit" disabled></button>		
				      		</div>	      		
			
							<!-- message to display if ...  -->
							<div class="notifMsg" style="display: none;">
								<!-- the code is correct -->
								<div class="congrats">
									<span data-i18n="modalProfile.validCode"></span> 
								<strong data-i18n="modalProfile.validCodeStrong"></strong>
								</div>
								<!-- the code is wrong -->
								<div class="error">
									<span data-i18n="modalProfile.wrongCode"></span> 
									<strong data-i18n="modalProfile.wrongCodeStrong"></strong>
								</div>
							</div>
			      		</form>	
			      	</div><!-- end .inputAddCode-->

			      	<!-- data user (KM) -->
			        <div class="dataKm">
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.collected"></span>
			        		<p data-i18n="modalProfile.counterCollect"></p>
			        	</div>
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.credit"></span>
			        		<p data-i18n="modalProfile.counterCredit"></p>
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
					
					<!-- list Link -->
			        <ul class="listLink">
			        	<li><a href="" data-i18n="[html]modalProfile.history"></a></li>
			        	<li><a href="" data-i18n="[html]modalProfile.gifts"></a></li>
			        </ul>

			    </div>
			    <div class="modal-footer">
			      	<a href="profile.htlm" class="btn arrowed" data-i18n="modalProfile.goProfile"></a>
			    </div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div><!-- /.mainWrapper -->


<!-- MODAL VIDEO -->
<div class="modal fade modal_video" id="modalVideo" >
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>		       
		    </div>
	      	<div class="modal-body video">

				<img src="" alt="" class="ratio poster">

				<div id="jp_container_1" class="jp-video" role="application" aria-label="media player">
					<div class="jp-type-single">
						<div id="js-video" class="jp-jplayer" ></div>
						<div class="jp-gui">
							<div class="jp-video-play">
								<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
							</div>
							<div class="jp-interface">
								<div class="jp-progress">
									<div class="jp-seek-bar">
										<div class="jp-play-bar"></div>
									</div>
								</div>
								<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
								<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
								<div class="jp-controls-holder">
									<div class="jp-controls">
										<button class="jp-play" role="button" tabindex="0">play</button>
										<button class="jp-stop" role="button" tabindex="0">stop</button>
									</div>
									<div class="jp-volume-controls">
										<button class="jp-mute" role="button" tabindex="0">mute</button>
										<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
										<div class="jp-volume-bar">
											<div class="jp-volume-bar-value"></div>
										</div>
									</div>
									<div class="jp-toggles">
										<button class="jp-repeat" role="button" tabindex="0">repeat</button>
										<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
									</div>
								</div>
								<div class="jp-details">
									<div class="jp-title" aria-label="title">&nbsp;</div>
								</div>
							</div>
						</div>
						<div class="jp-no-solution">
							<span>Update Required</span>
							To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
						</div>
					</div>
				</div>
			</div>	      
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
