<div class="mainWrapper scrollable">		
	
	<!-- HEADER -->
	<header>
		<div class="container">
			
			<!-- Main navigation -->
			<ul class="nav">
				<li class="home">
					<a href="index.html">
						<img src="img/crossover.png" alt="Malboro - Cross|Over" />
					</a>
				</li>
				<li>
					<a href="index.html" data-i18n="header.links.home"></a>
				</li>
				<li>
					<a href="map.html" data-i18n="header.links.map"></a>
				</li>
				<li class="active">
					<a href="gifts.html" data-i18n="header.links.gifts"></a>
				</li>
				<li>
					<a href="events.html" data-i18n="header.links.events"></a>
				</li>
				<li>
					<a href="howTo.html" data-i18n="header.links.howTo"></a>
				</li>
				<!-- activities links call a new panel of menu: Cfr below sub-menu .activities  -->
				<li class="sliderActivities">
					<a href="#" data-i18n="header.links.activities"></a>
				</li>

				<!-- data user + Call modal Profile-->
				<li class="navProfile">
					<ul>
						<!-- open modal Profile + add focus on input addCode -->
						<li class="addCode">
							<p data-i18n="[html]dataUser.collected"></p>
							<p><a href="#" class="addCodeTo" data-i18n="header.addCode"></a></p>				
						</li>
						<!-- open modal Profile  -->
						<li class="profileBtn">
							<a href="#" data-toggle="modal" data-target="#myProfileInfo">
								<span class="border">
									<img src="img/user.png" alt"user name" />
								</span>
								<span class="arrowDown"></span>
							</a>
						</li>
					</ul>
				</li>
			</ul>	
			
		</div>

		<!-- sub-menu: display a slider with all the activities -->
		<div class="activities">
			<div class="slider">
				<div class="checked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]california.one.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="california.one.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="checked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]california.two.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="california.two.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div>
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]california.three.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="california.three.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.one.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="canada.one.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.two.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="canada.two.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.three.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="canada.three.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.one.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="alaska.one.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.two.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="alaska.two.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="activities.html">
						<div class="illu">
							<img data-i18n="[src]alaska.three.sliderImg" />
						</div>
						<div>
							<span class="icon bicycle"></span>
							<h4 data-i18n="alaska.three.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
			</div>
		</div>
		
	</header>
	<section class="section giftsCatalogue">
		<div class="banner">
			<h2>
				<span>
					<strong data-i18n="gifts.title"></strong>
					<span>
						<span data-i18n="gifts.subtitle"></span>
						<span data-i18n="catalogue.youHave"></span>
						<span data-i18n="[html]dataUser.collected"></span>
						<span data-i18n="catalogue.available"></span>
					</span>
				</span>
			</h2>
			<div class="level">
				<div class="segments">
					<div class="active">
						<span>California</span>
						<span>
							<img src="img/gifts/hat.png" alt="">
						</span>
						<span>prize</span>
					</div>
					<div>
						<span>Canada</span>
						<span></span>
						<span>prize</span>
					</div>
					<div>
						<span>Alaska</span>
						<span></span>
						<span>prize</span>
					</div>
				</div>
				<div class="range">
					<span class="rail"></span>
					<span class="fill" style="width:150px;"></span>
					<span class="knob" style="left:146px;"></span>
				</div>
			</div>
		</div><!--/ .banner -->

		<div class="container">

			<div class="catalogue">
				<div class="row">
					<div class="gift col-md-4">
						<div class="picture">
							<img data-i18n="[src]gifts.hat.url;[alt]gifts.hat.name"/>
						</div>
						<div class="infos">
							<p class="name"><span data-i18n="gifts.hat.name"></span><span class="km">/ <span data-i18n="gifts.hat.price"></span> km</span></p>
							<p class="description" data-i18n="gifts.hat.shortDescription"></p>											
							<a href="#" data-i18n="catalogue.links.0.wantThis" data-toggle="modal" data-target="#infoGift"></a>
						</div>
					</div>
					<div class="gift col-md-4 claimed">
						<div class="picture">
							<img data-i18n="[src]gifts.bag.url;[alt]gifts.bag.name"/>
						</div>
						<div class="infos">
							<p class="name"><span data-i18n="gifts.bag.name"></span><span class="km">/ <span data-i18n="gifts.bag.price"></span> km</span></p>
							<p class="description" data-i18n="gifts.bag.shortDescription"></p>
							<a href="#" data-i18n="catalogue.links.0.claimed" data-toggle="modal" data-target="#infoGift"></a>
						</div>
					</div>
					<div class="gift col-md-4">
						<div class="picture">
							<img data-i18n="[src]gifts.gloves.url;[alt]gifts.gloves.name" />
						</div>
						<div class="infos">
							<p class="name"><span data-i18n="gifts.gloves.name"></span><span class="km">/ <span data-i18n="gifts.gloves.price"></span> km</span></p>
							<p class="description" data-i18n="gifts.gloves.shortDescription"></p>
							<a href="#" data-i18n="catalogue.links.0.wantThis" data-toggle="modal" data-target="#infoGift"></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="gift col-md-4 outStock">
						<div class="picture">
							<img data-i18n="[src]gifts.sunglasses.url;[alt]gifts.sunglasses.name"/>
						</div>
						<div class="infos">
							<p class="name"><span data-i18n="gifts.sunglasses.name"></span><span class="km">/ <span data-i18n="gifts.sunglasses.price"></span> km</span></p>
							<p class="description" data-i18n="gifts.sunglasses.shortDescription"></p>
							<a href="#" data-i18n="catalogue.links.0.outOfStock"></a>
						</div>
					</div>
					<div class="gift col-md-4">
						<div class="picture">
							<img data-i18n="[src]gifts.watches.url;[alt]gifts.watches.name" />
						</div>
						<div class="infos">
							<p class="name"><span data-i18n="gifts.watches.name"></span><span class="km">/ <span data-i18n="gifts.watches.price"></span> km</span></p>
							<p class="description" data-i18n="gifts.watches.shortDescription"></p>
							<a href="#" data-i18n="catalogue.links.0.wantThis" data-toggle="modal" data-target="#infoGift"></a>
						</div>
					</div>
					<div class="gift col-md-4 locked">
						<div class="picture">
							<img data-i18n="[src]gifts.vtt.url;[alt]gifts.vtt.name"/>
						</div>
						<div class="infos">
							<p class="name"><span data-i18n="gifts.vtt.name"></span><span class="km">/ <span data-i18n="gifts.vtt.price"></span> km</span></p>
							<p class="description" data-i18n="gifts.vtt.shortDescription"></p>
							<a href="#" data-i18n="catalogue.links.0.locked" data-toggle="modal" data-target="#infoGift"></a>
						</div>
					</div>
				</div>

				
			</div><!--/ .catalogue -->
			
		</div><!--/ .container -->
		
	</section>
	<!-- FOOTER -->
	<footer>

		<div class="navFooter">                

	        <!-- BOTTOMBAR -->
	        <nav class="bottombar clearfix">

	            <ul class="user">
	                <li><a href="#" data-i18n="footer.logout"></a></li>
	            </ul>

	            <ul class="nav">
	                <li><a href="#" data-i18n="footer.account"></a></li>
	                <li><a href="legal.html" target="_blank" data-i18n="footer.terms"></a></li>
	                <li><a href="#" data-i18n="footer.contact"></a></li>
	                <li><a href="#" data-i18n="footer.faq"></a></li>
	                <li><a href="#" data-i18n="footer.health"></a></li>
	                <li class="invite_friend"><a href="#" data-i18n="footer.invite"></a></li>
	            </ul>                

	        </nav>
	        <!-- /BOTTOMBAR -->
	    </div>

		<div class="container-fluid health_warning">
	        <div class="row">
	            <div class="col-md-12">
	                <p>
	                    <img src="img/footer/health_warning.jpg" alt="Rauchen ist tödlich. Fumer tue. Il fumo uccide.">
	                </p>
	            </div>
	        </div>
	    </div>
		
	</footer>

	<!-- MODAL NAV PROFILE -->
	<div class="modal fade profile" id="myProfileInfo">
		<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </div>
			    <div class="modal-body">
			      	<div class="inputAddCode">
			      		<form action="">
			      			<!-- input text to add code -->
			      			<div class="inputContainer">		      			
				      			<input type="text" name="personalCode" placeholder="Your code here" value="Your code here" maxlength="8" >		      	
				      			<button type="submit" disabled></button>		
				      		</div>	      		
			
							<!-- message to display if ...  -->
							<div class="notifMsg" style="display: none;">
								<!-- the code is correct -->
								<div class="congrats">
									<span data-i18n="modalProfile.validCode"></span> 
								<strong data-i18n="modalProfile.validCodeStrong"></strong>
								</div>
								<!-- the code is wrong -->
								<div class="error">
									<span data-i18n="modalProfile.wrongCode"></span> 
									<strong data-i18n="modalProfile.wrongCodeStrong"></strong>
								</div>
							</div>
			      		</form>	
			      	</div><!-- end .inputAddCode-->

			      	<!-- data user (KM) -->
			        <div class="dataKm">
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.collected"></span>
			        		<p data-i18n="modalProfile.counterCollect"></p>
			        	</div>
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.credit"></span>
			        		<p data-i18n="modalProfile.counterCredit"></p>
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
					
					<!-- list Link -->
			        <ul class="listLink">
			        	<li><a href="" data-i18n="[html]modalProfile.history"></a></li>
			        	<li><a href="" data-i18n="[html]modalProfile.gifts"></a></li>
			        </ul>

			    </div>
			    <div class="modal-footer">
			      	<a href="profile.htlm" class="btn arrowed" data-i18n="modalProfile.goProfile"></a>
			    </div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- MODAL Gifts -->
	<!-- MODAL Gifts -->
<div class="modal fade default" id="infoGift">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            
            <!-- Picture of the Gift -->
            <div class="col-sm-6 picture">
                <div class="inner">
                    <img data-i18n="[src]gifts.goPro.url" alt="Go Pro" src="img/gifts/goPro.png">
                </div>              
            </div>

            <div class="contents col-sm-6">
                <div class="row modal-body">
                    <!-- STEP 1 : More infos about the gifts -->
                    <div class="col-sm-4 moreInfos">
                        <h4 class="modal-title">
                            <span data-i18n="gifts.goPro.name"></span>
                            / <strong data-i18n="gifts.goPro.price"></strong><i data-i18n="dataUser.km"></i></span>
                        </h4>
                        
                        <p class="subtitle"  data-i18n="gifts.goPro.introduction"></p>
                        <ul>
                            <li data-i18n="gifts.goPro.listElement1"></li>
                            <li data-i18n="gifts.goPro.listElement2"></li>
                            <li data-i18n="gifts.goPro.listElement3"></li>
                            <li data-i18n="gifts.goPro.listElement4"></li>
                            <li data-i18n="gifts.goPro.listElement5"></li>
                        </ul>
                        <div class="modal-footer">
                            <button type="submit" class="btn" data-i18n="catalogue.links.0.wantThis"></button>
                        </div>
                    </div><!-- end step1 -->

                    <!-- STEP 2 : Confirm you adress -->
                    <div class="col-sm-4 confirm">
                        <h4 class="modal-title" data-i18n="[html]catalogue.modal.0.confirmTitle"></h4>
                        <form action="" class="confirmAdress">
                            <div class="line">
                                <label for="street" data-i18n="catalogue.labelsForm.0.street"></label>
                                <input type="text" name="street"/>
                            </div>
                            
                            <div class="line">
                                <label for="number" data-i18n="catalogue.labelsForm.0.number"></label>
                                <input type="text" name="number"/>
                            </div>

                            <div class="line">
                                <label for="city" data-i18n="catalogue.labelsForm.0.city"></label>

                                <!-- add a div.correct (that containing a empty <span>) around the input : valid -->
                                <div class="correct">                                    
                                    <input type="text" name="city" class="correct" value="valid" />
                                    <span></span>
                                </div>
                               
                            </div>
                            
                            <!-- add this class" .error " on a line containing a wrong value -->
                            <div class="line error">
                                <label for="zip" data-i18n="catalogue.labelsForm.0.zip"></label>
                                <input type="text" name="zip" value="not valid"/>
                            </div>
                            
                            <!-- display this message if the form is not valid -->
                            <div class="errorMsg" data-i18n="catalogue.labelsForm.0.error"></div>
                            
                            <button type="submit" class="btn" data-i18n="catalogue.links.0.confirm"></button>
                        </form>
                    </div><!-- end step2 -->

                    <!-- STEP 3 : statut file -->
                    <div class="col-sm-4 statut">
                        <div class="thanks">
                            <h4 class="modal-title" data-i18n="[html]catalogue.modal.0.thanksTitle"></h4>
                            <p class="subtitle" data-i18n="[html]catalogue.modal.0.thanksSubtitle">
                            <p data-i18n="[html]catalogue.modal.0.thanksContent"></p>
                            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" data-i18n="catalogue.modal.0.btnBakcToList"></button>
                        </div><!-- end valid -->

                        <!-- Error -->
                        <div class="serverError" style="display: none">
                            <h4 data-i18n="[html]catalogue.modal.0.errorTitle"></h4>
                            <p data-i18n="[html]catalogue.modal.0.errorContent"></p>
                            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" data-i18n="catalogue.modal.0.btnBakcToForm"></button>
                        </div><!-- end Error -->
                    </div>
                    

                </div><!-- end modal-body -->
            </div>   <!-- end col-sm-6 -->
            <div class="clearfix"></div>  
      </div><!-- /.modal-content -->      
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div><!-- /.mainWrapper -->