@charset "utf-8";
/* CSS Document */
.lytebox {
		display:none;
		position:absolute;
		width:100%;
		height: 130%;
		left:0px;
		top:0px;
		background-color: rgba(0,0,0, 0.5);
		z-index:99;
		}
		
	.lytebox  h2.lytebox-title{
			/*border-bottom: 1px solid #aaa;
			background: #ccc;
		    display: block;
		    font: bold 14px arial;
		    left: -20px;
		    margin: 0;
		    padding: 10px 20px;
		    position: relative;
		    top: -20px;
		    width: 100%;*/
			}

	
	.lytebox .lytebox-content{
			position: absolute;
			left:50%;
			z-index:2;
	}

	.lytebox-wrap, .lytebox-wrapped-content{
		display: none;
	}

.lytebox .lytebox-message{
	width: 600px;
	padding:20px;
}
.lytebox .lytebox-preload{
		position:relative;
		width: 40px;
		height: 40px;
		margin: 0 auto;
		}

.lytebox .lytebox-close, .popup-close{
		width:20px;
		height:20px;
		padding:0px 5px 6px 5px;
		border: none;
		background: transparent;
		text-align:center;
		font: bold 25px arial;
		color:#ccc;
		position: absolute;
		top: 20px;
		right: 25px;
		cursor: pointer;
		z-index: 9;
		}
		.lytebox  .popup-close{
			top: 10px;
			right: 10px;
		}

.lytebox .lytebox-buttons{
		float: left;
		width:100%;
		margin-top:10px;
		}



	.lytebox-buttons button{
		background: url(../images/pattern-red.png)  0px -43px repeat-x;
		padding: 0px 2px;
		margin-right: 10px;
		margin-left: 10px;
		border: 0;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		}
			.lytebox-buttons button i{
				font-style: normal;
				display: table-cell;
				vertical-align: middle;
				margin: 0 auto;
				min-width: 80px;
				font-size: 28px;
				height: 40px;
		 }
			.lytebox-buttons button:before, .lytebox-buttons button:after{
				content: '';
				position: absolute;
				width: 4px;
				top:0;
				background: url(../images/pattern-red.png)  0 0 ;
				background-repeat: no-repeat;
				height: 40px;
		}
			.lytebox-buttons button:before{
			       left:-4px;
			 }
		 	.lytebox-buttons button:after{
			       background-position: -27px 2px;
	                 right: -4px;
			 }

			 .lytebox-buttons button:hover{
			       background-position: 0px -85px;
			 }

			 .lytebox-buttons button:hover:before{
			       background-position: -34px 2px;
			 }
			 .lytebox-buttons button:hover:after{
			       background-position: -61px 2px;
			 }

.lytebox .lytebox-ok{
		}
.lytebox .lytebox-cancel{
			margin-left:10px;
}

.txtleft   { text-align:left}
.txtjustify{ text-align: justify}
.txtright  { text-align:right}
.txtcenter { text-align: center}


@media (max-width: 767px) {
	.lytebox{
		overflow: auto;
		background: rgba(0,0,0,0.9);
		height: 100%;
	}
	.lytebox .lytebox-content{
		width: 100%;
		margin: 0 auto !important;
		left:0;
		top:60px !important;
		padding:10px;
		-moz-box-sizing: border-box;

	}

		.lytebox .lytebox-content .lytebox-external-content{
			-moz-box-sizing: border-box;
			width: 100%;
			height: auto;
		}



	.lytebox .lytebox-content.lytebox-message{
		width: 90%;
		margin: 0 auto !important;
		left:5%;
		-moz-box-sizing: border-box;
	}
}
/*
.button{
     .font-default-btn;
     background: url(../images/pattern-red.png)  0px -54px repeat-x;
     padding: 0px 10px 0px;
     margin-right: 10px;
     margin-left: 10px;
     border: 0;
     color: #fff;
     text-transform: uppercase;
     position: relative;
     text-align: center;
     display: inline-block;
     cursor: pointer;
      i{
          font-style: normal;
          display: table-cell;
          vertical-align: middle;
          margin: 0 auto;
          height: 50px;
          min-width: 80px;
     }

     &:before, &:after{
          content: '';
          background: url(../images/pattern-red.png)  0 0 ;
          position: absolute;
          width: 10px;
          top:0;
          height: 50px;
     }
     &:before{
          left:-10px;
     }
     &:after{
          background-position: -28px 1px;
          right: -10px;
     }

     &:hover, &:active{
          color: #fff;
          text-decoration: none;
     }
}
*/