@font-face {
  font-family: 'Maybebold';
  src: url('../fonts/maybe/maybe-bold.eot');
  src: url('../fonts/maybe/maybe-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/maybe/maybe-bold.woff') format('woff'), url('../fonts/maybe/maybe-bold.ttf') format('truetype'), url('../fonts/maybe/maybe-bold.svg#maybebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenirltstd-roman.eot');
  src: url('../fonts/avenir/avenirltstd-roman.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/avenirltstd-roman.woff') format('woff'), url('../fonts/avenir/avenirltstd-roman.ttf') format('truetype'), url('../fonts/avenir/avenirltstd-roman.svg#Avenir') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Blair';
  src: url('../fonts/blair/blair_itc_light_1_-webfont.eot');
  src: url('../fonts/blair/blair_itc_light_1_-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blair/blair_itc_light_1_-webfont.woff') format('woff'), url('../fonts/blair/blair_itc_light_1_-webfont.ttf') format('truetype'), url('../fonts/blair/blair_itc_light_1_-webfont.svg#blair') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* mixins */
.font-default-small {
  font-family: 'Maybebold';
  font-size: 12px;
}
.font-default-regular {
  font-family: 'Maybebold';
  font-size: 16px;
}
.font-default-big {
  font-family: 'Maybebold';
  font-size: 20px;
}
.font-default-bigger {
  font-family: 'Maybebold';
  font-size: 24px;
}
.font-default-btn {
  font-family: 'Maybebold';
  font-size: 22px;
}
/* premium black */
.wrapper.premium {
  background: #000 !important;
}
.wrapper.premium .countdown {
  text-align: center;
  color: #fff;
  height: 80%;
  width: 320px;
  position: absolute;
  left: 50%;
  margin-left: -160px;
}
.wrapper.premium .countdown.teaser-01 {
  background: url(../images/bg-premium-black-teaser-01.jpg) no-repeat center 3%;
  background-size: contain;
}
.wrapper.premium .countdown.teaser-02 {
  background: url(../images/bg-premium-black-teaser-02.jpg) no-repeat center 3%;
  background-size: contain;
}
.wrapper.premium .countdown .container {
  position: relative;
  top: 50%;
  width: 100%;
}
.wrapper.premium .countdown .container p {
  margin: 5px 0 0;
  color: #777;
}
.wrapper.premium .countdown .line {
  position: relative;
  height: 10px;
}
.wrapper.premium .countdown .line:before {
  background: #ff0000;
  background: -webkit-linear-gradient(left, rgba(200, 0, 0, 0), #c80000);
  background: -moz-linear-gradient(left, rgba(200, 0, 0, 0), #c80000);
  background: -ms-linear-gradient(left, rgba(200, 0, 0, 0), #c80000);
  background: -o-linear-gradient(left, rgba(200, 0, 0, 0), #c80000);
  background: linear-gradient(left, rgba(200, 0, 0, 0), #c80000);
  left: 0;
}
.wrapper.premium .countdown .line:after {
  background: #ff0000;
  background: -webkit-linear-gradient(left, #c80000, rgba(200, 0, 0, 0));
  background: -moz-linear-gradient(left, #c80000, rgba(200, 0, 0, 0));
  background: -ms-linear-gradient(left, #c80000, rgba(200, 0, 0, 0));
  background: -o-linear-gradient(left, #c80000, rgba(200, 0, 0, 0));
  background: linear-gradient(left, #c80000, rgba(200, 0, 0, 0));
  left: 50%;
}
.wrapper.premium .countdown .line:before,
.wrapper.premium .countdown .line:after {
  content: '';
  width: 50%;
  height: 2px;
  top: 5px;
  position: absolute;
}
.wrapper.premium .countdown ul {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.wrapper.premium .countdown li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  font-family: 'Maybebold';
  font-size: 16px;
}
.wrapper.premium .countdown li:first-child {
  margin-left: 0;
}
.wrapper.premium .countdown li:last-child {
  margin-right: 0;
}
.wrapper.premium .countdown li i {
  display: block;
  color: #ccc;
  font: normal 12px arial;
}
.wrapper.premium .countdown li span {
  display: block;
  margin-top: 10px;
  font-size: 28px;
  color: #fff;
  font-family: arial;
}
@media (min-width: 768px) {
  /* premium black */
  .wrapper.premium .countdown {
    width: 760px;
    margin-left: -380px;
  }
  .wrapper.premium .countdown.teaser-02 {
    background: url(../images/bg-premium-black-teaser-02.jpg) no-repeat center 20%;
    background-size: 630px auto;
  }
  .wrapper.premium .countdown .container {
    margin: 0 auto;
    width: 350px;
    left: 0;
    top: 70%;
  }
  .wrapper.premium .countdown .container ul li {
    margin: 0 13px;
  }
  .wrapper.premium .countdown .container ul li:first-child {
    margin-left: 0;
  }
  .wrapper.premium .countdown .container ul li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* premium black */
  .wrapper.premium .countdown {
    width: 900px;
    margin-left: -450px;
  }
  .wrapper.premium .countdown.teaser-01 {
    background-position: right center;
    background-size: auto;
  }
  .wrapper.premium .countdown.teaser-02 {
    background-position: 115% center;
  }
  .wrapper.premium .countdown .container {
    left: -20px;
    top: 40%;
    margin: 0;
  }
  .wrapper.premium .countdown .line {
    margin: 10px 0;
  }
  .wrapper.premium .countdown .hasCountdown {
    margin-top: 30px;
  }
}
